---
import Button from '../../../components/Button.astro'
import PageTitle from '../../../components/PageTitle.astro'
import Base from '../../../layouts/Base.astro'
---

<Base title="Showcase submission failed">
    <PageTitle>
        <Fragment slot="title">Sorry, something went wrong.</Fragment>
        Error: <span data-error-message class="contents"></span>
        <script>
            const errorMessage = document.querySelector('[data-error-message]')
            errorMessage.innerHTML = new URLSearchParams(
                window.location.search
            ).get('errorMessage')
        </script>
        <br />
        <br />
        <Button data-back href="/showcase/submit">Try again</Button>
        <script>
            const link = document.querySelector('[data-back]')

            const backButton = document.createElement('button')
            backButton.innerHTML = link.innerHTML
            backButton.className = link.className
            backButton.addEventListener('click', () => window.history.back())

            link.replaceWith(backButton)
        </script>
    </PageTitle>
</Base>
