---
import Button from '../../../components/Button.astro'
import PageTitle from '../../../components/PageTitle.astro'
import Base from '../../../layouts/Base.astro'
---

<Base title="Submission success">
    <PageTitle>
        <Fragment slot="title">Thanks for submitting your project!</Fragment>
        We try to review all submissions within two weeks. In the meantime, join
        our active community on Discord!
        <br />
        <br />
        <Button href="/showcase">Back to Showcase</Button>
    </PageTitle>
</Base>
