---
import CardsBlock from '../../components/blocks/CardsBlock.astro';
import { collections, getThemesForCollection } from '../../data/themes.js';
import Layout from '../../layouts/Catalog.astro';
import ThemeCard from '../../components/themes/ThemeCard.astro';

export async function getStaticPaths() {
    return collections.map(({ slug }) => ({
        params: {
            slug,
        },
    }));
}

const slug = Astro.params.slug.toString();

const themes = getThemesForCollection(slug) as App.Theme[];

const meta = {
    title: 'Themes',
    description: 'Start your next Astro project with a real world theme built by our amazing community.'
}
---

<Layout meta={meta} collections={collections} current={slug} baseHref="/themes">
    <Fragment slot="info">
        <a
            href="https://github.com/withastro/astro.build/issues/new/choose"
            target="_blank"
            rel="noopener noreferrer"
            class="subtle underline">
            Add your own starter project.
        </a>
        <span>Questions about building your own themes? Join our community on</span>
        <a href="https://astro.build/chat" class="subtle underline">Discord!</a>
    </Fragment>

    <Fragment slot="cards">
        <CardsBlock>
            {themes.map(theme => (<ThemeCard theme={theme} />))}
        </CardsBlock>
    </Fragment>
</Layout>
