---
import themes from '../../data/themes.json';
import { collections } from '../../data/themes.ts';
import Layout from '../../layouts/Catalog.astro';
import ThemeCard from '../../components/themes/ThemeCard.astro';

const meta = {
    title: 'Themes',
    description: 'Start your next Astro project with a real world theme built by our amazing community.'
};
---

<Layout meta={meta} {collections} baseHref="/themes">
    <Fragment slot="info">
        <a
            href="https://github.com/withastro/astro.build/issues/new/choose"
            target="_blank"
            rel="noopener noreferrer"
            class="subtle underline"
        >Submit your site.</a>
        Questions about building your own themes? Join our community on
        <a href="https://astro.build/chat" class="subtle underline">Discord!</a>
    </Fragment>

    <Fragment slot="cards">
        {themes.map(theme => (<ThemeCard theme={theme} />))}
    </Fragment>
</Layout>