---
import Button from '../../components/Button.astro'
import Checkbox from '../../components/forms/Checkbox.astro'
import ImageInput from '../../components/forms/ImageInput'
import InputField from '../../components/forms/InputField.astro'
import LabelText from '../../components/forms/LabelText.astro'
import TextAreaField from '../../components/forms/TextAreaField.astro'
import PageTitle from '../../components/PageTitle.astro'
import Base from '../../layouts/Base.astro'
---

<Base title="Submit a theme">
    <PageTitle>
        <Fragment slot="title">Submit a theme</Fragment>
        Thank you for sharing your themes with the Astro community! Choose to make
        your theme free or paid. All payments go directly to you, we don't handle
        the sale or take a cut.
    </PageTitle>

    <section class="max-w-screen-md mx-auto p-4">
        <header class="my-4">
            <h2 class="text-3xl">Best practices</h2>
            <p class="text-neutral-600">
                What we look for when reviewing submissions:
            </p>
        </header>
        <ul class="my-4 whitespace-normal children:before:content-['✅_']">
            <li>Your theme uses the latest release of Astro</li>
            <li>
                For free themes, source code for the theme is available in a
                public repository
            </li>
            <li>All NPM dependencies used in the theme are public</li>
            <li>
                Theme preview image or screenshot included (see below for
                details)
            </li>
        </ul>
    </section>

    <form
        method="post"
        class="max-w-screen-sm flex flex-col items-center gap-4 mx-auto my-8 px-4"
        action="/themes/submit/success"
        data-netlify="true"
        netlify-honeypot="bot-field"
    >
        <!-- https://docs.netlify.com/forms/spam-filters/#honeypot-field -->
        <p class="hidden">
            <label>
                Don’t fill this out if you’re human: <input name="bot-field" />
            </label>
        </p>
        <ImageInput
            client:idle
            name="previewImage"
            label="Preview image"
            required
        />
        <InputField
            name="authorName"
            label="Your name"
            placeholder="Sally Ride"
            required
        />
        <InputField
            name="authorEmail"
            label="Your email"
            type="email"
            placeholder="me@website.com"
            required
        />
        <InputField
            label="Theme name"
            name="themeName"
            placeholder="My Awesome Theme"
            required
        />
        <div class="w-fit self-start">
            <fieldset>
                <legend>
                    <LabelText>Is your theme free or paid?</LabelText>
                </legend>
                <div class="flex items-center gap-3">
                    <Checkbox
                        name="freeOrPaid"
                        value="free"
                        checked
                        data-free-checkbox
                    >
                        Free
                    </Checkbox>
                    <Checkbox name="freeOrPaid" value="paid" data-paid-checkbox>
                        Paid
                    </Checkbox>
                </div>
            </fieldset>
        </div>
        <InputField
            label="Live demo URL"
            name="liveDemoUrl"
            type="url"
            placeholder="https://example.com/theme-demo"
        />
        <div class="contents" data-repo-url>
            <InputField
                label="Public repo URL"
                name="repoUrl"
                type="url"
                placeholder="https://github.com/me/my-awesome-theme"
            />
        </div>
        <TextAreaField
            label="Short description"
            name="shortDescription"
            placeholder="A short description of your theme, displayed on the theme list page"
            required
        />
        <Button type="submit" theme="primary">Submit</Button>
    </form>
</Base>

<script>
    const freeCheckbox = document.querySelector<HTMLInputElement>(
        '[data-free-checkbox]'
    )
    const paidCheckbox = document.querySelector<HTMLInputElement>(
        '[data-paid-checkbox]'
    )
    const repoUrl = document.querySelector<HTMLInputElement>(
        '[data-repo-url] input'
    )
    const requiredLabelText = document.querySelector<HTMLInputElement>(
        '[data-repo-url] [data-label-text]'
    )

    const updateRepoUrlRequired = () => {
        if (freeCheckbox.checked) {
            repoUrl.required = true
            requiredLabelText.dataset.required = 'true'
        } else {
            repoUrl.required = false
            delete requiredLabelText.dataset.required
        }
    }

    updateRepoUrlRequired()
    freeCheckbox.addEventListener('input', updateRepoUrlRequired)
    paidCheckbox.addEventListener('input', updateRepoUrlRequired)
</script>
