---
import { Icon } from 'astro-icon';
import PageTitle from '../../components/PageTitle.astro'
import ThemeSubmitForm from '../../components/theme-submit/ThemeSubmitForm.jsx'
import Base from '../../layouts/Base.astro'

const bestPractices = [
    'Your theme uses the latest release of Astro',
    'For free themes, source code for the theme is available in a public repository',
    'All NPM dependencies used in the theme are public',
    'Theme preview image or screenshot included (see below for details)'
]
---

<Base title="Submit a theme">
    <PageTitle>
        <Fragment slot="title">Submit a theme</Fragment>
        Thank you for sharing your themes with the Astro community! Choose to make
        your theme free or paid. All payments go directly to you, we don't handle
        the sale or take a cut.
    </PageTitle>

    <section class="max-w-screen-sm mx-auto px-4 pb-4 pt-12 md:pt-16 lg:pt-20">
        <header class="mb-4">
            <h2 class="text-3xl font-semibold pb-2">Best practices</h2>
            <p class="text-neutral-500">
                What we look for when reviewing submissions:
            </p>
        </header>
        <ul class="flex flex-col gap-2 mt-6 mb-4 whitespace-normal text-neutral-700 -ml-1">
            {bestPractices.map((text) => (
                <li class="flex items-center gap-1">
                    <Icon name="heroicons-outline:check" size={28} class="text-green-500" aria-hidden="true" />
                    {text}
                </li>
            ))}
        </ul>
    </section>

    <form
        name="themeSubmit"
        method="POST"
        enctype="multipart/form-data"
        action="/themes/submit/success"
        data-netlify="true"
        netlify-honeypot="bot-field"
        class="max-w-screen-sm mx-auto my-8 px-4"
    >
        <ThemeSubmitForm client:load />
    </form>
</Base>
