---
import type { ComponentProps } from 'astro/types';
// biome-ignore lint/style/useImportType: Biome doesn’t know we’re using this component
import CardText from './CardText.astro';

interface Props extends ComponentProps<typeof CardText> {
	href: string;
}

const { href, ...props } = Astro.props;
---

<a
	href={href}
	class="flex flex-col bg-astro-dark-800 border border-astro-dark-100/20 hover:border-astro-dark-100/40 rounded-xl xl:rounded-2xl overflow-hidden"
>
	<CardText {...props} />
</a>
