---
import CardText from './CardText.astro';
---

<a
	href="https://docs.astro.build/en/basics/astro-components/"
	class="row-span-2 group flex flex-col bg-astro-dark-800 border border-astro-dark-100/20 hover:border-astro-dark-100/40 rounded-xl xl:rounded-2xl overflow-hidden"
>
	<div aria-hidden="true" class="max-h-56 min-h-52 relative p-4">
		{/* Glows */}
		<div
			class="z-10 absolute top-0 right-0 bg-blue-purple-gradient size-28 rounded-full blur-3xl grayscale group-hover:grayscale-0 opacity-30 transition duration-500 group-hover:duration-[2s]"
		>
		</div>
		<div
			class="absolute top-1/2 -translate-y-1/2 left-1/4 -translate-x-1/2 bg-blue-purple-gradient size-28 rounded-full blur-3xl opacity-5 group-hover:opacity-50 transition duration-500 group-hover:duration-[2s]"
		>
		</div>
		<div
			class="absolute top-2/3 -translate-y-1/2 left-1/2 bg-blue-green-gradient size-28 rounded-full blur-2xl opacity-5 group-hover:opacity-30 transition duration-500 group-hover:duration-[2s]"
		>
		</div>
		{/* Main content */}
		<div
			class:list={[
				'absolute inset-0 grid grid-cols-[repeat(16,minmax(0,1fr))] grid-rows-8 font-mono text-astro-gray-200 antialiased text-xs leading-none whitespace-nowrap',
			]}
		>
			{/* Grid */}
			{
				['row-start-2', 'row-start-4', 'row-start-6', 'row-start-8'].map((rowStart) => (
					<div
						class:list={[
							rowStart,
							'opacity-10 h-px col-span-full -translate-y-[0.5px]',
							'bg-[linear-gradient(to_right,transparent_0%,white_6%,white_94%,transparent_100%)]',
						]}
					/>
				))
			}
			{
				[
					'col-start-2',
					'col-start-4',
					'col-start-6',
					'col-start-8',
					'col-start-10',
					'col-start-12',
					'col-start-[14]',
					'col-start-[16]',
				].map((colStart) => (
					<div
						class:list={[
							colStart,
							'opacity-10 w-px row-span-full -translate-x-[0.5px]',
							'bg-[linear-gradient(to_bottom,transparent_0%,white_15%,white_85%,transparent_100%)]',
						]}
					/>
				))
			}
			{/* Component blocks */}
			<div class="col-start-2 col-span-6 row-start-2 row-span-2 p-1 flex isolate">
				<div
					class="w-full rounded-lg bg-gradient-to-tr from-[#17191E] to-[#282C34] p-2.5 flex items-center border border-white/10"
				>
					&lt;Logo&gt;
				</div>
			</div>
			<div class="col-start-10 col-span-6 row-start-2 row-span-2 p-1 flex isolate">
				<div
					class:list={[
						'transition scale-[2] group-hover:scale-100 -translate-y-96 group-hover:translate-y-0 duration-500',
						'w-full rounded-lg bg-gradient-to-tr from-[#17191E] to-[#282C34] p-2.5 flex items-center border border-white/10',
						'overflow-clip relative after:absolute after:inset-y-0 after:right-0 after:w-4 after:bg-gradient-to-r after:from-transparent after:to-[#282C34]',
					]}
				>
					&lt;NavLinks&gt;
				</div>
			</div>
			<div class="col-start-2 col-[span_14_/_span_14] row-start-4 row-span-2 p-1 flex isolate">
				<div
					class:list={[
						'transition scale-[2] group-hover:scale-100 -translate-y-96 group-hover:translate-y-0 duration-700 group-hover:delay-200',
						'w-full rounded-lg bg-gradient-to-tr from-[#17191E] to-[#282C34] p-2.5 flex items-center border border-white/10',
					]}
				>
					&lt;Hero&gt;
				</div>
			</div>
			<div class="col-start-2 col-span-8 row-start-6 row-span-2 p-1 flex isolate">
				<div
					class:list={[
						'transition scale-[2] group-hover:scale-100 -translate-y-96 group-hover:translate-y-0 duration-700 group-hover:delay-500',
						'w-full rounded-lg bg-gradient-to-tr from-[#17191E] to-[#282C34] p-2.5 flex items-center border border-white/10',
					]}
				>
					&lt;Article&gt;
				</div>
			</div>
			<div class="col-start-12 col-span-4 row-start-6 row-span-2 p-1 flex isolate">
				<div
					class:list={[
						'transition scale-[2] group-hover:scale-100 -translate-y-96 group-hover:translate-y-0 duration-1000 group-hover:delay-500',
						'w-full rounded-lg bg-gradient-to-tr from-[#17191E] to-[#282C34] p-2.5 flex items-center border border-white/10',
						'overflow-clip relative after:absolute after:inset-y-0 after:right-0 after:w-4 after:bg-gradient-to-r after:from-transparent after:to-[#282C34]',
					]}
				>
					&lt;Sidebar&gt;
				</div>
			</div>
		</div>
	</div>

	<CardText
		title="Simple Server Templating"
		description="If you know HTML, you already know enough to write your first Astro component. Build powerful server components everyone on your team understands."
	/>
</a>
