---
import FeatureCard from './FeatureCard.astro';
---

<FeatureCard
	title="View Transitions"
	description="Seamlessly morph, fade, and swipe across pages with built-in, browser-native View Transition APIs."
	href="https://docs.astro.build/en/guides/view-transitions/"
	layout="tall"
>
	<div
		class="pt-4 px-4 lg:pt-6 min-h-52 space-y-2 mix-blend-luminosity group-hover:mix-blend-normal"
	>
		<div class="flex items-center justify-center gap-2">
			<div
				class="w-1/3 h-20 xl:h-24 motion-safe:group-hover:w-1/2 xl:motion-safe:group-hover:w-48 rounded-lg xl:rounded-xl bg-gradient-to-tr from-[#211F2F] to-[#074170] transition-all ease-in-out duration-[1.5s]"
			>
			</div>
			<div
				class="w-1/3 h-20 xl:h-24 motion-safe:group-hover:w-1/2 xl:motion-safe:group-hover:w-48 rounded-lg xl:rounded-xl bg-gradient-to-tr from-[#184560] to-[#08203E] transition-all ease-in-out duration-[1.5s]"
			>
			</div>
			<div
				class="w-1/3 h-20 xl:h-24 motion-safe:group-hover:w-full rounded-lg xl:rounded-xl bg-gradient-to-tr from-[#000328] to-[#103783] transition-all ease-in-out duration-[1.5s]"
			>
			</div>
		</div>
		<div class="flex items-center justify-center gap-2">
			<div
				class="w-1/2 motion-safe:group-hover:w-full h-20 xl:h-24 rounded-lg xl:rounded-xl bg-gradient-to-tr from-[#243748] to-[#0A3431] transition-all ease-in-out duration-[1.5s]"
			>
			</div>
			<div
				class="w-1/2 h-20 xl:h-24 rounded-lg xl:rounded-xl bg-gradient-to-tr from-[#133A94] to-[#08203E] transition-all ease-in-out duration-[1.5s]"
			>
			</div>
		</div>
	</div>
</FeatureCard>
