---
import ExternalLink from "~/components/ExternalLink.astro"
---

<div class="flex w-full justify-center gap-4">
    <ExternalLink href="#" class="button button-sm button-white">
        Get started for free
    </ExternalLink>
    <ExternalLink href="#" class="button button-sm border-0 bg-[#222636]/20">Sign In</ExternalLink>
</div>