---
import ExternalLink from "~/components/ExternalLink.astro"

const { class: classList } = Astro.props
---

<div class:list={["flex w-full flex-col justify-center gap-4 sm:flex-row", classList]}>
	<ExternalLink href="https://studio.astro.build/" class="button button-white">
		Get started for free
	</ExternalLink>
	<ExternalLink href="https://docs.astro.build/en/guides/astro-db/" class="button button-outline">
		Read the docs
	</ExternalLink>
</div>
