---
import SectionText from "./SectionText.astro"
---

<section class="landing-section relative">
	<SectionText>
		<Fragment slot="eyebrow">Features</Fragment>
		<Fragment slot="title">Everything you need, included</Fragment>
	</SectionText>

	<ul>
		<li>Designed for Astro</li>
		<li>SQL</li>
		<li>TypeScript ORM</li>
		<li>Lightweight DX</li>
		<li>Webhooks</li>
		<li>GitHub Automation</li>
		<li>Managed by Astro Studio</li>
	</ul>
</section>
