---
const { removePadding = false } = Astro.props
---

<div
	class:list={[
		"rounded-xl border border-[#858B98]/20 bg-[#0C0F19]",
		removePadding ? "flex flex-col justify-between" : "space-y-8",
	]}
>
	<div class="p-4">
		<h3 class="text-lg text-astro-gray-200">
			<slot name="title" />
		</h3>

		<p class="text-balance body text-astro-gray-300">
			<slot name="description" />
		</p>
	</div>

	<div class:list={["overflow-hidden", removePadding ? "px-0" : "px-4"]}>
		<slot name="illustration" />
	</div>
</div>
