---
import Icon from "astro-icon"
import SectionText from "./SectionText.astro"
import DataView from "./features/DataView.astro"
import GlobalDistribution from "./features/GlobalDistribution.astro"
import ORM from "./features/ORM.astro"
import SQLCommands from "./features/SQLCommands.astro"
import ZeroLockin from "./features/ZeroLockin.astro"
---

<section class="mx-auto w-full max-w-screen-xl space-y-2 p-4 sm:p-8">
	<SectionText>
		<Fragment slot="eyebrow">Features</Fragment>
		<Fragment slot="title">Everything you need, included</Fragment>
	</SectionText>

	<div class="grid grid-cols-1 gap-2 pt-8 md:grid-cols-2 lg:grid-cols-3">
		<div
			class="landing-section min-h-[480px] space-y-3 rounded-2xl border border-white/20 bg-[url('/assets/db/astro-ecosystem.png')] bg-cover bg-center bg-no-repeat md:min-h-[560px] lg:min-h-0"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				aria-hidden="true"
				viewBox="0 0 85 107"
				width="85"
			>
				<path
					fill="#fff"
					d="M27.59 91.14c-4.83-4.42-6.25-13.7-4.23-20.43 3.49 4.24 8.33 5.58 13.34 6.34 7.74 1.17 15.34.73 22.52-2.8.83-.4 1.59-.95 2.48-1.5.68 1.96.85 3.94.62 5.95-.57 4.9-3.01 8.68-6.89 11.54-1.55 1.15-3.19 2.18-4.79 3.26-4.91 3.32-6.24 7.22-4.4 12.89l.19.61a12.93 12.93 0 0 1-5.75-4.91 13.8 13.8 0 0 1-2.21-7.5c-.02-1.32-.02-2.66-.2-3.96-.43-3.18-1.92-4.6-4.73-4.68a5.54 5.54 0 0 0-5.78 4.5c-.04.22-.1.43-.18.68Z"
				></path>
				<path
					fill="url(#a)"
					d="M27.59 91.14c-4.83-4.42-6.25-13.7-4.23-20.43 3.49 4.24 8.33 5.58 13.34 6.34 7.74 1.17 15.34.73 22.52-2.8.83-.4 1.59-.95 2.48-1.5.68 1.96.85 3.94.62 5.95-.57 4.9-3.01 8.68-6.89 11.54-1.55 1.15-3.19 2.18-4.79 3.26-4.91 3.32-6.24 7.22-4.4 12.89l.19.61a12.93 12.93 0 0 1-5.75-4.91 13.8 13.8 0 0 1-2.21-7.5c-.02-1.32-.02-2.66-.2-3.96-.43-3.18-1.92-4.6-4.73-4.68a5.54 5.54 0 0 0-5.78 4.5c-.04.22-.1.43-.18.68Z"
				></path>
				<path
					fill="#fff"
					d="M0 69.59s14.31-6.98 28.67-6.98l10.82-33.49c.4-1.62 1.59-2.72 2.92-2.72 1.34 0 2.52 1.1 2.93 2.72l10.82 33.5c17 0 28.67 6.97 28.67 6.97L60.47 3.22C59.77 1.26 58.59 0 57 0H27.83c-1.6 0-2.72 1.26-3.47 3.22L0 69.59Z"
				></path>
				<defs>
					<linearGradient
						id="a"
						x1="22.47"
						x2="69.15"
						y1="107"
						y2="84.95"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#D83333"></stop>
						<stop offset="1" stop-color="#F041FF"></stop>
					</linearGradient>
				</defs>
			</svg>

			<h3 class="text-balance text-lg text-astro-gray-100">Designed for the Astro ecosystem</h3>
			<p class="text-balance body w-2/3 text-astro-gray-200">
				A deeply integrated, unified developer experience.
			</p>
		</div>

		<div class="grid gap-2">
			<figure class="flex flex-col space-y-4 rounded-xl border border-[#858B98]/20 bg-[#0C0F19]">
				<div
					class="illustration pointer-events-none isolate max-w-[25rem] select-none overflow-hidden pt-4"
					aria-hidden="true"
				>
					<SQLCommands />
				</div>
				<p class="sr-only">List of common SQL keywords such as SELECT and JOIN</p>
				<figcaption class="p-4">
					<h3 class="text-lg text-astro-gray-200">SQL</h3>
					<p class="text-balance body text-astro-gray-300">
						Why reinvent the wheel? Astro DB speaks the familiar, universal database language: SQL.
					</p>
				</figcaption>
			</figure>

			<figure class="space-y-4 rounded-xl border border-[#858B98]/20 bg-[#0C0F19] p-4">
				<div class="illustration pointer-events-none isolate select-none" aria-hidden="true">
					<ORM />
				</div>
				<p class="sr-only">
					Code snippet demonstrating TypeScript autocompletion for a User schema
				</p>
				<figcaption>
					<h3 class="text-lg text-astro-gray-200">TypeScript ORM</h3>
					<p class="body text-astro-gray-300">
						Includes a modern, TypeScript ORM with type-safety and autocomplete on every query.
					</p>
				</figcaption>
			</figure>
		</div>

		<figure
			class="flex flex-col justify-between gap-4 rounded-xl border border-[#858B98]/20 bg-[#0C0F19] p-4 md:max-lg:col-span-2"
		>
			<div class="illustration pointer-events-none isolate select-none" aria-hidden="true">
				<ZeroLockin />
			</div>
			<p class="sr-only">
				"Export data" button with a dropdown that says "Export as SQL" and "Export as CSV"
			</p>
			<figcaption>
				<h3 class="text-lg text-astro-gray-200">Zero lock-in</h3>
				<p class="body min-h-[2lh] min-h-[3rem] text-astro-gray-300">
					It's your data. Export it anytime, in the format you need.
				</p>
			</figcaption>
		</figure>
	</div>

	<div class="grid grid-cols-1 gap-2 md:grid-cols-2">
		<figure
			class="max-h-[24rem] space-y-4 overflow-hidden rounded-xl border border-[#858B98]/20 bg-[#0C0F19]"
		>
			<figcaption class="mb-4 space-y-2 p-4">
				<h3 class="text-lg text-astro-gray-200">Visual Data Views</h3>
				<p class="text-balance body text-astro-gray-300">
					Explore your data in a visual spreadsheet, a rich-text editor, or raw SQL console.
				</p>
			</figcaption>
			<p class="sr-only">Illustration of a bable-based user interface, similar to that of Excel</p>
			<div class="illustration pointer-events-none isolate select-none pl-4" aria-hidden="true">
				<DataView />
			</div>
		</figure>

		<figure
			class="relative h-[24rem] overflow-hidden rounded-xl border border-[#858B98]/20 bg-[#0C0F19]"
		>
			<figcaption class="mb-4 space-y-2 p-4">
				<h3 class="text-lg text-astro-gray-200">Global Distribution</h3>
				<p class="text-balance body text-astro-gray-300">
					Create databases in 8 different regions around the world, including the EU and Japan.
				</p>
			</figcaption>
			<p class="sr-only">A spinning globe with markers in 8 regions around the world</p>
			<div
				class="illustration pointer-events-none isolate flex select-none justify-end overflow-hidden"
			>
				<GlobalDistribution />
			</div>
		</figure>
	</div>

	<div class="grid grid-cols-1 gap-8 pt-8 sm:pt-12 md:grid-cols-2 lg:grid-cols-4">
		<div class="space-y-1 text-white">
			<Icon name="ri:dashboard-line" size={24} />
			<h3 class="text-base">Schema management</h3>
			<p class="text-balance body text-astro-gray-300">
				Your schema lives in your codebase, with automatic schema diffing and migrations.
			</p>
		</div>

		<div class="space-y-1 text-white">
			<Icon name="ri:code-s-slash-line" size={24} />
			<h3 class="text-base">Instant local development</h3>
			<p class="text-balance body text-astro-gray-300">
				Develop locally with zero dependencies. No Docker? No problem.
			</p>
		</div>

		<div class="space-y-1 text-white">
			<Icon name="ri:apps-2-line" size={24} />
			<h3 class="text-base">Webhooks</h3>
			<p class="text-balance body text-astro-gray-300">
				Changes to data trigger webhooks that can integrate with most third-party tools.
			</p>
		</div>

		<div class="space-y-1 text-white">
			<Icon name="ri:github-fill" size={24} />
			<h3 class="text-base">GitHub Automation</h3>
			<p class="text-balance body text-astro-gray-300">
				Easy-to-use simplicity meets powerful scalability, with a visual UI that will save you time.
			</p>
		</div>
	</div>
</section>
