---
import SectionText from "./SectionText.astro"
import FeatureCard from "./FeatureCard.astro"
import FeatureMicroCard from "./FeatureMicroCard.astro"
import Icon from "astro-icon"
---

<section class="mx-auto w-full max-w-screen-xl space-y-10 p-4 sm:p-8">
	<SectionText>
		<Fragment slot="eyebrow">Features</Fragment>
		<Fragment slot="title">Everything you need, included</Fragment>
	</SectionText>

	<ul class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
		<li
			class="border-white/15 landing-section min-h-[480px] space-y-3 rounded-2xl border bg-[url('src/pages/db/_assets/astro-ecosystem.png')] bg-cover bg-center bg-no-repeat md:min-h-[560px] lg:min-h-0"
		>
			<img
				class="h-fit w-auto"
				src="https://astro.build/assets/press/astro-icon-light-gradient.svg"
				alt="Astro Logo"
			/>

			<h3 class="text-balance text-lg text-astro-gray-100">Designed for the Astro ecosystem</h3>
			<p class="text-balance body w-2/3 text-astro-gray-200">
				A deeply integrated, unified developer experience.
			</p>
		</li>

		<div class="grid gap-2">
			<FeatureMicroCard removePadding>
				<Fragment slot="illustration">
					<img
						class="h-full w-auto"
						src="src/pages/db/_assets/sql-commands.png"
						alt="Webhooks illustration"
					/>
				</Fragment>
				<Fragment slot="title">SQL</Fragment>
				<Fragment slot="description">
					Why reinvent the wheel? Astro DB speaks the familiar, universal database language: SQL.
				</Fragment>
			</FeatureMicroCard>

			<FeatureMicroCard>
				<Fragment slot="illustration">
					<!-- <img
						class="h-full w-auto"
						src="src/pages/db/_assets/global-distribution.png"
						alt="Webhooks illustration"
					/> -->
				</Fragment>
				<Fragment slot="title">TypeScript ORM</Fragment>
				<Fragment slot="description">
					Includes a modern, TypeScript ORM with type-safety and autocomplete on every query.
				</Fragment>
			</FeatureMicroCard>
		</div>

		<FeatureCard removePadding="true">
			<Fragment slot="title">Global Distribution</Fragment>
			<Fragment slot="description">
				Create databases in 8 different regions around the world, including the EU and Japan.
			</Fragment>
			<Fragment slot="illustration">
				<img
					class="h-full w-auto"
					src="src/pages/db/_assets/global-distribution.png"
					alt="Global Distribution illustration"
				/>
			</Fragment>
		</FeatureCard>

		<FeatureCard>
			<Fragment slot="title">Webhooks</Fragment>
			<Fragment slot="description">
				Data changes trigger webhooks that can integrate with any third-party tools.
			</Fragment>
			<Fragment slot="illustration">
				<img
					class="h-fit w-auto"
					src="src/pages/db/_assets/webhooks.png"
					alt="Webhooks illustration"
				/>
			</Fragment>
		</FeatureCard>

		<FeatureCard>
			<Fragment slot="title">GitHub Automation</Fragment>
			<Fragment slot="description">
				The official GitHub Action automates schema management directly inside of your workflow.
			</Fragment>
			<Fragment slot="illustration">
				<img
					class="h-fit w-auto"
					src="src/pages/db/_assets/github-actions.png"
					alt="GitHub Automation illustration"
				/>
			</Fragment>
		</FeatureCard>

		<FeatureCard>
			<Fragment slot="title">Visual Data Views</Fragment>
			<Fragment slot="description">
				Explore your data in a visual spreadsheet, a rich-text editor, or raw SQL console.
			</Fragment>
			<Fragment slot="illustration">
				<img
					class="h-fit w-auto"
					src="src/pages/db/_assets/studio-datatable.png"
					alt="Visual Data Views illustration"
				/>
			</Fragment>
		</FeatureCard>
	</ul>
	<div class="mt-8 grid grid-cols-1 gap-2 sm:mt-12 md:grid-cols-2 lg:grid-cols-3">
		<div class="space-y-1 text-white">
			<Icon name="ri:download-2-line" size={20} />
			<h3>Zero lock-in.</h3>
			<p class="text-balance text-astro-gray-200">Export your data anytime</p>
		</div>

		<div class="space-y-1 text-white">
			<Icon name="ri:code-s-slash-fill" size={20} />
			<h3>Instant local development.</h3>
			<p class="text-balance text-astro-gray-200">
				Develop locally with zero dependencies. No Docker? No problem.
			</p>
		</div>

		<div class="space-y-1 text-white">
			<Icon name="ri:dashboard-line" size={20} />
			<h3>Schema management.</h3>
			<p class="text-balance text-astro-gray-200">
				Your schema lives in your codebase, with automatic schema diffing and migrations.
			</p>
		</div>
	</div>
</section>
