---
import CTA from "../_components/CTA.astro"
---

<section
	class="mx-4 my-16 max-w-screen-xl overflow-hidden rounded-lg border border-[#272831] bg-[url('src/pages/db/_assets/footer-cta-bg.png')] bg-cover sm:mx-auto sm:rounded-2xl"
>
	<div class="landing-section gap-8 px-4 py-8 sm:py-0 min-h-[640px] lg:p-24">
		<h2 class="text-balance font-obviously text-2xl font-bold sm:text-4xl">
			Start building with <br /> astro:db today
		</h2>
		<p class="text-balance font-normal text-astro-gray-200">
			Connect any new or existing Astro project to our dedicated hosted database in seconds. It's
			fast everywhere, secure, and unbelievably easy-to-use.
		</p>

		<CTA />
	</div>

</section>
