---
import CTA from "../_components/CTA.astro"
---

<section class="mx-auto w-full max-w-screen-xl p-4 sm:p-8">
	<div
		class="overflow-hidden rounded-2xl border border-[#272831] bg-[url('/assets/db/footer-cta-bg.png')] bg-cover bg-center"
	>
		<div class="landing-section min-h-[560px] gap-8 px-4 py-8 sm:py-0 lg:min-h-[640px] lg:p-24">
			<h2 class="heading-db text-balance text-2xl font-bold sm:text-4xl">
				Start building with <br /> astro:db today
			</h2>
			<p class="text-balance font-normal text-astro-gray-200">
				Connect any new or existing Astro project to our dedicated hosted database in seconds. It's
				fast everywhere, secure, and unbelievably easy-to-use.
			</p>

			<CTA />
		</div>
	</div>
</section>
