---
import CTA from "../_components/CTA.astro"
---

<section class="mx-auto mb-12 w-full max-w-screen-xl p-4 sm:p-8">
	<div
		class="overflow-hidden rounded-2xl border border-[#272831] bg-[url('/assets/db/footer-cta-bg.png')] bg-cover bg-center"
	>
		<div class="landing-section min-h-[20rem] gap-8 px-4 py-8 sm:py-0 lg:min-h-[24px] lg:p-24">
			<h2 class="heading text-balance text-2xl font-bold sm:text-4xl">
				Start building with <br /> astro:db today
			</h2>
			<CTA />
		</div>
	</div>
</section>
