---
import CTA from "../_components/CTA.astro"
import PageTitleBlock from "~/components/PageTitleBlock.astro"
---

<section
	class="landing-section relative overflow-x-hidden bg-[url('src/pages/db/_assets/hero-bg.png')] bg-cover pb-40 pt-14 sm:pt-20 lg:pt-32"
>
	<PageTitleBlock
		lg
		body="Astro DB is a fully-managed SQL database that is fast, lightweight, and ridiculously easy-to-use."
	>
		<h1
			slot="title"
			class="text-balance mb-10 max-w-[24ch] px-4 text-center font-obviously text-2xl/[1.1] font-bold md:text-4xl/[1.1]"
		>
			The database platform for content-driven websites
		</h1>
	</PageTitleBlock>

	<div class="mb-14 mt-8 flex w-full justify-center gap-6 sm:mb-16 md:mb-20 lg:mb-24 xl:mb-28">
		<CTA />
	</div>

	<div class="absolute bottom-0 h-64 w-full bg-gradient-to-b from-[#6628C6]/0 to-[#080B14]"></div>
</section>
