---
import PageTitleBlock from "~/components/PageTitleBlock.astro"
import CTA from "../_components/CTA.astro"
import HeroVideo from "./HeroVideo.astro"
import Pill from "./Pill.astro"
---

<section
	class="align-center landing-section relative flex h-[calc(100dvh-5rem)] max-h-[48rem] content-center items-center overflow-hidden bg-[#6628C6] bg-cover bg-no-repeat px-4 py-16 md:px-8"
>
	<HeroVideo class="lg:w-full" />
	<div
		class="size-full from-67% pointer-events-none absolute inset-0 z-10 bg-gradient-to-b from-[transparent] to-[#080B14]/100 to-90%"
	>
	</div>

	<div class="z-20 m-auto flex flex-col">
		<Pill class="mx-auto mb-4" title="Astro DB" subtitle="Early Preview" />
		<PageTitleBlock
			wide
			lg
			body="Astro DB is a fully managed SQL database that is fast, lightweight, and ridiculously easy-to-use."
		>
			<h1
				slot="title"
				class="text-balance mb-4 text-center text-3xl/[1.1] font-bold heading sm:max-w-[24ch] md:text-4xl/[1.1] lg:text-5xl/[1.1]"
			>
				The database platform for content-driven websites
			</h1>
		</PageTitleBlock>
		<CTA class="mb-4 mt-8" />
		<p class="text-white/60">No credit card required. Cancel anytime.</p>
	</div>
</section>

<style>
	section {
		background: linear-gradient(180deg, #191429 0%, #683095 24.54%, #54318c 60.05%, #0d0f14 100%);
	}
	@property --rotate {
		syntax: "<angle>";
		initial-value: 132deg;
		inherits: false;
	}

	.demo-video::before {
		top: -1%;
		left: -2%;
		z-index: -1;
		width: 104%;
		content: "";
		height: 102%;
		position: absolute;
		animation: spin 3s linear infinite;
		background-image: linear-gradient(var(--rotate), rgba(255, 255, 255), rgba(0, 0, 0, 0));
	}

	@keyframes spin {
		0% {
			--rotate: 0deg;
		}
		100% {
			--rotate: 360deg;
		}
	}
</style>
