---
import { getImage } from "astro:assets"
import PageTitleBlock from "~/components/PageTitleBlock.astro"
import bg from "../_assets/hero-bg.png"
import CTA from "../_components/CTA.astro"

const background = await getImage({ src: bg, format: "webp", width: 2560 })
---

<section
	style={{ "background-image": `url(${background.src})` }}
	class="align-center landing-section relative flex min-h-[calc(100dvh-5rem)] content-center items-center overflow-x-hidden bg-[#6628C6] bg-cover bg-no-repeat px-4 py-16 md:px-8"
>
	<div
		class="size-full from-67% pointer-events-none absolute inset-0 z-10 bg-gradient-to-b from-[transparent] to-[#080B14]/100 to-100%"
	>
	</div>

	<div class="z-20 m-auto">
		<PageTitleBlock
			wide
			lg
			body="Astro DB is a fully-managed SQL database that is fast, lightweight, and ridiculously easy-to-use."
		>
			<h1
				slot="title"
				class="text-balance mb-4 text-center text-3xl/[1.1] font-bold heading sm:max-w-[24ch] md:text-4xl/[1.1] lg:text-5xl/[1.1]"
			>
				The database platform for content-driven websites
			</h1>
		</PageTitleBlock>
		<CTA class="mt-8" />
	</div>
</section>

<style>
	@property --rotate {
		syntax: "<angle>";
		initial-value: 132deg;
		inherits: false;
	}

	.demo-video::before {
		top: -1%;
		left: -2%;
		z-index: -1;
		width: 104%;
		content: "";
		height: 102%;
		position: absolute;
		animation: spin 3s linear infinite;
		background-image: linear-gradient(var(--rotate), rgba(255, 255, 255), rgba(0, 0, 0, 0));
	}

	@keyframes spin {
		0% {
			--rotate: 0deg;
		}
		100% {
			--rotate: 360deg;
		}
	}
</style>
