---
import CTA from "../_components/CTA.astro"
import PageTitleBlock from "~/components/PageTitleBlock.astro"
---

<section
	class="landing-section relative overflow-x-hidden bg-[url('src/pages/db/_assets/hero-bg.png')] bg-cover bg-no-repeat px-4 pb-40 pt-14 sm:px-8 sm:pt-20 lg:pt-32"
>
	<div class="z-20">
		<PageTitleBlock
		lg
		body="Astro DB is a fully-managed SQL database that is fast, lightweight, and ridiculously easy-to-use."
	>
		<h1
			slot="title"
			class="mb-10 max-w-[24ch] text-balance px-4 text-center font-obviously text-2xl/[1.1] font-bold md:text-4xl/[1.1]"
		>
			The database platform for content-driven websites
		</h1>
	</PageTitleBlock>
	</div>

	<div class="mb-14 mt-8 z-20 flex w-full justify-center gap-6 sm:mb-16 md:mb-20 lg:mb-24 xl:mb-28">
		<CTA />
	</div>

	<div class="demo-video z-20 max-w-screen-xl overflow-hidden rounded-[17px] p-[1px] backdrop-blur-lg">
		<div class="bg-gradient-to-b from-[#53466C]/95 to-[#393B43]/80 p-1 sm:p-2 rounded-2xl">
			<video class="aspect-video w-full max-w-screen-xl rounded-xl object-cover" controls loop>
				<source src="src/pages/db/_assets/a_new_kind_of_database.mp4" type="video/mp4" />
			</video>
		</div>
	</div>

	<div class="absolute bottom-0 z-10 size-full bg-gradient-to-b from-[#6628C6]/0 from-10% to-90% to-[#080B14]"></div>
</section>

<style>
	@property --rotate {
		syntax: "<angle>";
		initial-value: 132deg;
		inherits: false;
	}

	.demo-video::before {
		top: -1%;
		left: -2%;
		z-index: -1;
		width: 104%;
		content: "";
		height: 102%;
		position: absolute;
		animation: spin 3s linear infinite;
		background-image: linear-gradient(var(--rotate), rgba(255, 255, 255), rgba(0, 0, 0, 0));
	}

	@keyframes spin {
		0% {
			--rotate: 0deg;
		}
		100% {
			--rotate: 360deg;
		}
	}
</style>
