---
import SectionText from "./SectionText.astro"
---

<section class="landing-section relative overflow-hidden">
	<SectionText>
		<Fragment slot="eyebrow">What is Astro DB?</Fragment>
		<Fragment slot="title">An optimized SQL database designed exclusively for Astro</Fragment>
	</SectionText>
</section>
