---
const { bgGradient } = Astro.props
---

<div>
	<div class={`h-fit w-fit rounded-full p-0.5 ${bgGradient}`}>
		<div class="rounded-full bg-black">
			<slot name="icon" />
		</div>
	</div>
	<h3 class="text-balance mt-3 text-lg font-semibold text-white"><slot name="title" /></h3>
	<p class="text-balance body mt-1 text-astro-gray-200">
		<slot name="description" />
	</p>
</div>
