---
import { Icon } from "astro-icon"
import IntroSectionPoint from "./IntroSectionPoint.astro"
---

<section class="mx-auto w-full max-w-screen-xl space-y-14 p-4 sm:p-8">
	<h2 class="text-balance font-obviously text-xl font-bold md:text-4xl xl:text-5xl">
		Astro DB is a fully managed SQL database designed exclusively for Astro
	</h2>

	<dl class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
		<IntroSectionPoint bgGradient="bg-blue-green-gradient">
			<Fragment slot="icon">
				<div
					class="size-10 landing-section rounded-full bg-gradient-to-bl from-[#4AF2C8]/20 to-[#2F4CB3]/20"
				>
					<Icon name="ri:line-chart-line" size={24} />
				</div>
			</Fragment>
			<Fragment slot="title">Scale with confidence</Fragment>
			<Fragment slot="description">
				Astro DB’s automatically scales up to meet demand and scales down to $0 when inactive.
			</Fragment>
		</IntroSectionPoint>

		<IntroSectionPoint bgGradient="bg-red-pink-gradient">
			<Fragment slot="icon">
				<div
					class="size-10 landing-section rounded-full bg-gradient-to-bl from-[#D83333]/20 to-[#F041FF]/20"
				>
					<Icon name="libSQL-icon" size={24} />
				</div>
			</Fragment>
			<Fragment slot="title">Powered by LibSQL</Fragment>
			<Fragment slot="description">
				LibSQL balanced lightweight efficiency with proven enterprise-grade performance.
			</Fragment>
		</IntroSectionPoint>

		<IntroSectionPoint bgGradient="bg-orange-yellow-gradient">
			<Fragment slot="icon">
				<div
					class="size-10 landing-section rounded-full bg-gradient-to-bl from-[#F8E42E]/20 to-[#FF7D54]/20"
				>
					<Icon name="ri:timer-flash-line" size={24} />
				</div>
			</Fragment>
			<Fragment slot="title">Automatically configured</Fragment>
			<Fragment slot="description">
				Everything is setup for you, like a TypeScript ORM with full type-safety out of the box.
			</Fragment>
		</IntroSectionPoint>
	</dl>
</section>
