---
type Props = {
	title: string;
	subtitle?: string;
	class?: string;
};

const { title, subtitle, class: className } = Astro.props;
---

<aside
	class:list={[
		"relative flex gap-2 rounded-full text-xs transition-colors duration-150 md:text-sm",
		className,
	]}
>
	<span class="flex items-center gap-2 pr-3">
		<span class="pill relative m-px rounded-full px-3 py-1">{title}</span>
		{subtitle && <span>{subtitle}</span>}
	</span>
</aside>

<style>
	aside::before {
		@apply absolute inset-0 border border-white/40;
		content: "";
		border-radius: inherit;
		z-index: -2;
	}

	.pill::before {
		@apply absolute inset-0 bg-blue-green-gradient;
		content: "";
		margin: -1px;
		border-radius: inherit;
		z-index: -2;
	}

	.pill::after {
		@apply absolute inset-0 bg-[#2F4CB3]/30;
		content: "";
		z-index: -1;
		border-radius: inherit;
	}
</style>
