---

---

<li
	class="pt-4 sm:pt-0 grid grid-cols-1 gap-4 px-4 md:grid-cols-2 md:gap-8 md:px-8 lg:grid-cols-3 lg:gap-12 lg:px-12"
>
	<div>
		<p class="body flex items-center gap-2 text-astro-gray-100">
			<slot name="title" />
		</p>
	</div>

	<div class="space-y-1 lg:col-span-2">
		<p class="body text-astro-gray-100"><slot name="description" /></p>
		<p class="body text-astro-gray-300"><slot name="pricing-details" /></p>
	</div>
</li>
