---

---

<li class="grid grid-cols-1 gap-4 pt-4 sm:pt-0 md:grid-cols-2 md:gap-8 lg:gap-12">
	<div>
		<p class="body flex items-center gap-2 text-astro-gray-100">
			<slot name="title" />
		</p>
	</div>

	<div class="space-y-1">
		<p class="body text-astro-gray-100"><slot name="description" /></p>
		<p class="body text-astro-gray-300"><slot name="pricing-details" /></p>
	</div>
</li>
