---
import SectionText from "./SectionText.astro"
---

<section class="landing-section relative">
	<SectionText>
		<Fragment slot="eyebrow">Pricing</Fragment>
		<Fragment slot="title">Pay as you go</Fragment>
	</SectionText>

	<div>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. At magnam eius earum praesentium
		tenetur perferendis error hic odit delectus libero velit unde assumenda, labore facilis neque
		fuga eligendi minima inventore.
	</div>
</section>
