---

---

<nav
	aria-label="Secondary"
	class="container fixed left-0 right-0 top-0 z-[11] flex hidden h-header items-center bg-black shadow-lg md:flex"
>
	<a href="#" class="block text-xl heading" style="text-wrap: nowrap;"
		><span>Astro</span>
		<span class="min-w-4 inline-block w-full bg-blue-purple-gradient bg-clip-text text-transparent"
			>DB</span
		></a
	>
	<div class="xs:p-6 mx-auto w-full max-w-screen-xl space-y-8 p-4 sm:px-8">
		<div class="ml-16 flex shrink flex-row items-center gap-16 gap-8">
			<a href="#use-cases" class="eyebrow link">Use Cases</a>
			<a href="#features" data-astro-prefetch class="eyebrow link">Features</a>
			<a href="#pricing" data-astro-prefetch class="eyebrow link">Pricing</a>
		</div>
	</div>

	<div class="flex-1"></div>

	<div class="hidden gap-4 sm:flex">
		<a href="https://studio.astro.build/" class="button button-outline button-sm hidden lg:flex"
			>Open Astro Studio</a
		>
	</div>
</nav>

<style>
	a {
		text-wrap: nowrap;
	}
</style>
