---
import SectionText from "./SectionText.astro"
import UseCasesTabs from "./UseCasesTabs"
---

<section
	class="mx-auto w-full max-w-screen-xl space-y-10 bg-[url('/assets/db/tab-layout-bg.png')] bg-cover bg-center bg-no-repeat p-4 sm:p-8"
>
	<SectionText>
		<span slot="eyebrow" id="use-cases">Use Cases</span>
		<Fragment slot="title">Unlimited possibilities</Fragment>
	</SectionText>

	<div>
		<UseCasesTabs client:visible />
	</div>
</section>
