---
import SectionText from "./SectionText.astro"
---

<section class="landing-section relative">
	<SectionText>
		<Fragment slot="eyebrow">Use Cases</Fragment>
		<Fragment slot="title">What will you build?</Fragment>
	</SectionText>

	<ul>
		<li>Authentication</li>
		<li>Forms</li>
		<li>Image Uploads</li>
		<li>E-Commerce</li>
		<li>Blog</li>
		<li>Feedback Widget</li>
		<li>Comments</li>
	</ul>
</section>
