---
import SectionText from "./SectionText.astro"
import UseCaseTabs from "./UseCaseTabs.astro"
---

<div class="container relative w-screen">
	<div class="absolute inset-0 z-0 mx-auto w-full max-w-screen-xl">
		<div class="pattern-grid"></div>
		<div
			class="pattern-overlay pointer-events-none absolute inset-0 bg-gradient-to-b from-[transparent] from-0% to-[#080B14] to-100%"
		>
		</div>
	</div>
	<section
		class="mx-auto w-full max-w-screen-xl space-y-10 bg-cover bg-center bg-no-repeat p-4 sm:p-8"
	>
		<SectionText>
			<span slot="eyebrow" id="use-cases">Use Cases</span>
			<Fragment slot="title">Unlimited possibilities</Fragment>

			<p>
				Stop worrying about configuration, provisioning, and setup—just start building. Unlock a
				universe of new site features with the only drop-in database designed exclusively for Astro.
			</p>
		</SectionText>

		<UseCaseTabs />
	</section>
</div>

<style>
	:global(.expressive-code) {
		--ec-codeFontFml: theme(fontFamily.mono);
		--ec-codePadBlk: 0;
		--ec-codePadInl: 0;
		--ec-codeBg: transparent;
	}
	.container {
		min-height: 64rem;
	}
	.pattern-overlay {
		position: absolute;
		left: 0;
		width: 100vw;
		margin-left: calc(50% - 50vw);
	}
	.pattern-grid {
		pointer-events: none;
		--width: 400rem;
		--offset: calc(var(--width) / -2);
		--grid-size: 2em;
		--grid-lg-size: calc(var(--grid-size) * 4);
		--line-width: 1px;
		--line-width-offset: calc(var(--line-width) + (var(--line-width) / 2));
		--pos: calc(var(--line-width) * -1);
		--line-color: #242832;
		position: absolute;
		left: 0;
		top: 24rem;
		width: var(--width);
		transform: translateX(var(--offset));
		height: 40rem;
		border: var(--line-width) solid var(--line-color);
		background-image: linear-gradient(
				var(--line-color) var(--line-width),
				transparent var(--line-width)
			),
			linear-gradient(90deg, var(--line-color) var(--line-width), transparent var(--line-width)),
			linear-gradient(var(--line-color) var(--line-width), transparent var(--line-width)),
			linear-gradient(90deg, var(--line-color) var(--line-width), transparent var(--line-width));
		background-position:
			var(--pos) var(--pos),
			var(--pos) var(--pos),
			var(--pos) var(--pos),
			var(--pos) var(--pos);
		background-size:
			var(--grid-lg-size) var(--grid-lg-size),
			var(--grid-lg-size) var(--grid-lg-size),
			var(--grid-size) var(--grid-size),
			var(--grid-size) var(--grid-size);
	}
</style>
