---
import SectionText from "./SectionText.astro"
import UseCasesTabs from "./UseCasesTabs"
---

<section class="mx-auto w-full max-w-screen-xl space-y-10 p-4 sm:p-8">
	<SectionText>
		<Fragment slot="eyebrow">Use Cases</Fragment>
		<Fragment slot="title">Unlimited possibilities</Fragment>
	</SectionText>

	<div>
		<UseCasesTabs client:load />
	</div>
</section>
