# Directories
.astro
.github
.netlify
.vercel
dist
node_modules
public

# Files
pnpm-lock.yaml

# Formatted by Biome
**/*.json
**/*.js
**/*.ts
**/*.tsx
**/*.jsx
**/*.mjs
**/*.cjs

# Images
**/*.gif
**/*.jpeg
**/*.jpg
**/*.png
**/*.webp
