{
  "semi": false,
  "trailingComma": "all",
  "useTabs": true,
  "printWidth": 100,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": [".*", "*.json", "*.md", "*.toml", "*.yml"],
      "options": {
        "useTabs": false
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
