[[headers]]
for = "/assets/*"

[headers.values]
cache-control = '''
max-age=86400,
public
'''

[[headers]]
for = "/_astro/*"

[headers.values]
cache-control = '''
max-age=31536000,
immutable
'''

# Netlify Redirects
[[redirects]]
from = "/chat"
to = "https://discord.gg/grF4GTXXYm"
[[redirects]]
from = "/play/*"
to = "https://play.astro.build/play/:splat"
status = 200

[[redirects]]
from = "/company"
to = "/careers/"
status = 301
[[redirects]]
from = "/partnerships"
to = "https://astroinc.notion.site/Partner-with-Astro-b05cfd5dcf4248dcbea4a2d81554efed"
[[redirects]]
from = "/fonts/*"
to = "https://fonts-cdn.astro.build/:splat"
status = 200

# Common GitHub destinations
[[redirects]]
from = "/issues/site"
to = "https://github.com/withastro/astro.build/issues/new/choose"
[[redirects]]
from = "/issues"
to = "https://github.com/withastro/astro/issues/new/choose"
[[redirects]]
from = "/releases/:v"
to = "https://github.com/withastro/astro/releases/tag/astro@:v"
status = 301
[[redirects]]
from = "/code-of-conduct"
to = "https://github.com/withastro/.github/blob/main/CODE_OF_CONDUCT.md#readme"
status = 301
[[redirects]]
from = "/governance"
to = "https://github.com/withastro/.github/blob/main/GOVERNANCE.md#readme"
status = 301

# Documentation shortcuts
[[redirects]]
from = "/config"
to = "https://docs.astro.build/reference/configuration-reference"
status = 301
[[redirects]]
from = "/deprecated/resolve"
to = "https://docs.astro.build/en/migrate/#deprecated-astroresolve"
status = 301

# One-off shortcuts
[[redirects]]
from = "/v0.21"
to = "/blog/astro-021-release/"
status = 301
[[redirects]]
from = "/hack"
to = "https://astroinc.notion.site/FRIDAY-Astro-1-0-Hackathon-9fb3499b375e4b01b88b080fd918b184"


[build]
command = "pnpm build"
publish = "dist"
ignore = "git diff --quiet $COMMIT_REF $CACHED_COMMIT_REF -- /"

[dev]
command = "astro dev"
framework = "astro"
