---
import Section from './Section.astro';
import ArrowLink from '../ArrowLink.astro';
import Panel from '../Panel.astro';
import { social } from '../../config.ts';
---

<Section class="community">
    <Panel size="md" background="var(--color-dawn)">
        <Fragment slot="title">
            <h3 class="head-md"><slot name="title" /></h3>
            <div class="description"><slot /></div>
        </Fragment>

        <ul class="links">
            <li class="social">
                <ArrowLink icon="mdi:book" href="/docs">
                    Documentation
                </ArrowLink>
            </li>
            {social.map(item => (
                <li class="social">
                    <ArrowLink icon={item.icon} href={item.href}>
                        {item.title}
                    </ArrowLink>
                </li>
            ))}
        </ul>
    </Panel>
</Section>

<style>
.community {
    padding-top: calc(var(--size-1000) * 1.5);
    background: var(--color-tan) linear-gradient(180deg, #D8C5EF 0%, rgba(225, 213, 238, 0) 100%);
}
.description {
    margin-top: 1rem;
    max-width: 48ch;
}
.links {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
}
.links > :global(li) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
@media (min-width: 52rem) {
    .links > :global(li) {
        width: auto;
    }
}
</style>
