---
import Section from './Section.astro';
import Quote from './Quote.astro';
import { Sprite } from 'astro-icon';
import Grid from './Grid.astro';

const { quote = true } = Astro.props;
---

<footer>
    {quote && (
        <Quote color="white" background={false}>
            <Fragment slot="logo">
                <slot name="logo" />
            </Fragment>
            <Fragment slot="quote"><slot name="quote" /></Fragment>
            <Fragment slot="cite"><slot name="cite" /></Fragment>
        </Quote>
    )}
    
    <div class="background">
        <div class="blob" />
        <Grid class="footer-grid" />
    </div>
</footer>

<style>
    footer {
        overflow: hidden;
        min-height: max(175vh, 1280px);
        --offset: 50vh;
        margin-top: calc(var(--offset) * -1);
        padding-top: var(--offset);
        position: relative;
        background: var(--color-tan) linear-gradient(180deg, var(--color-tan) 0%, #E8ADB7 25%, #C776BE 50%, #7D32DE 75%, #6732FC 100%);
    }
    footer > :global(.quote) {
        z-index: 1;
        background: none;
        margin-bottom: 25vh;
    }
    .footer-grid {
        position: absolute;
        bottom: -10% !important;
        height: 40% !important;
        z-index: 1 !important;
    }
    .background {
        --height: 1350px;
        pointer-events: none;
        position: absolute;
        width: 100vw;
        bottom: 0;
        margin-top: calc(var(--height) * -0.9);
        height: calc(var(--height) * 1.25);
        z-index: 0;
        overflow: hidden;
    }
</style>
