---
import Section from './Section.astro';
import { Icon } from 'astro-icon';

const rows = [
    ['typescript'],
    ['tailwindcss', 'sass', 'markdown'],
    ['wordpress', 'strapi', 'contentful', 'prismic', 'shopify'],
]
---

<Section id="frameworks">
    <div class="container content">
        <h3 class="head-md title"><slot name="title" /></h3>
        <div class="body">
            <slot />
        </div>
    </div>
    <ul class="integrations">
        {rows.map(row => row.map(icon => <li><Icon name={`logos/${icon}`} height="4rem" /></li>))}
    </ul>
</Section>

<style>
    .content {
        display: grid;
        color: var(--color-dusk);
    }
    .title {
        margin-bottom: 1rem;
    }
    .body > :global(* + *) {
        margin-top: 1rem;
    }
    ul {
        list-style: none;
    }
    .integrations {
        margin: 2rem auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 0.5rem 2rem;
        padding: 4rem var(--size-500);
        opacity: 0.4;
        color: var(--color-midnight);
    }
    .integrations svg {
        height: var(--size-800);
    }

    @media (min-width: 64rem) {
        .integrations svg {
            height: var(--size-900);
        }
        .content {
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 1rem;
        }
        .title {
            grid-column: 1 / 3;
        }
        .body {
            grid-column: 3 / 5;
        }
    }
</style>
