---
import Section from './Section.astro';
import { Icon } from 'astro-icon';

const rows = [
    ['markdown', 'javascript', 'typescript'],
    ['sass', 'tailwindcss', 'postcss'],
    ['rss', 'seo', 'sitemap'],
]
---

<Section id="frameworks">
    <div class="container content">
        <h3 class="head-md title"><slot name="title" /></h3>
        <div class="body">
            <slot />
        </div>
    </div>
    <ul class="integrations">
        {rows.map(row => row.map(icon => <li class={`icon-${icon}`}><Icon name={`logos/${icon}`} height="4rem" /></li>))}
    </ul>
</Section>

<style>
    #frameworks {
        padding-top: var(--size-1000);
        padding-bottom: var(--size-1000);
    }
    .content {
        display: grid;
        color: var(--color-dusk);
    }
    .title {
        margin-bottom: 1rem;
    }
    .body > :global(* + *) {
        margin-top: 1rem;
    }
    ul {
        list-style: none;
    }
    .integrations {
        --cols: 2;
        margin: 2rem auto;
        display: grid;
        grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
        gap: 1rem 2rem;
        padding: 4rem var(--size-500);
        opacity: 0.4;
        color: black;
    }
    .icon-tailwindcss {
        grid-column: auto / span 2;
    }
    .integrations > li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .integrations svg {
        height: var(--size-800);
    }

    @media (min-width: 42rem) {
        .integrations {
            --cols: 3;
        }
        .icon-tailwindcss {
            grid-column: initial;
        }
    }

    @media (min-width: 64rem) {
        .integrations {
            max-width: 80rem;
        }
        .integrations svg {
            height: var(--size-900);
        }
        .content {
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 1rem;
        }
        .title {
            grid-column: 1 / 3;
        }
        .body {
            grid-column: 3 / 5;
        }
    }
</style>
