---
import Section from './Section.astro';
import Panel from '../Panel.astro';

const tweet = {
    content: 'Rebuilt my Next.js blog using Astro out of curiosity&hellip; holy shit the difference in bundle size.',
    href: 'https://twitter.com/t3dotgg/status/1437195415439360003',
}
---

<Section class="performance" style="--background: var(--gradient-pop-4);">
    <div class="stars" />
    <div class="container">
        <div class="content">
            <h3 class="head-md"><slot name="title" /></h3>
            <div class="body">
                <slot />
            </div>
        </div>
        <aside class="data">
            <Panel class="data" background="linear-gradient(to bottom, #F0DBDB, #E5BAE2)">
                <p class="quote head-sm" style="font-weight: 700;">{tweet.content}</p>

                <div class="bars">
                    <h4>Total Payload</h4>
                    <div class="chart">
                        <div class="bar" style="--fill: calc(calc(7.5 / 138) * 100%); --background: var(--gradient-pop-2);" />
                        <h5 class="before">Before: 138 kB</h5>
                        <h5 class="after">Using Astro: 7.5 kB</h5>
                    </div>
                    
                    <p>Real world data from <a href={tweet.href}>@t3dotgg on Twitter</a></p>
                </div>
            </Panel>
        </aside>
    </div>
</Section>

<style>
    .performance {
        position: relative;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .stars {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 62%;
        left: 0;
        background-image: url(/stars.png);
        background-repeat: repeat;
        -webkit-mask-image: url(/stars-mask.png);
        -webkit-mask-repeat: repeat;
        mask-image: url(/stars-mask.png);
        mask-repeat: repeat;
        animation: sparkle 10s linear infinite alternate-reverse;
        pointer-events: none;
    }
    .content {
        color: white;
    }
    .container {
        display: grid;
        gap: 4rem;
        padding: 6rem 0;
        align-items: center;
    }
    h3 {
        margin-bottom: 1rem;
    }
    .data .quote {
        display: flex;
        flex-direction: column;
    }
    .data .quote::before {
        font: inherit;
        font-size: 2em;
        content: open-quote;
        margin-top: -0.5ex;
        margin-bottom: -1ex;
    }
    .bars {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .chart {
        margin-top: 0.5rem;
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }
    .bar {
        position: relative;
        width: 100%;
        height: 2rem;
        border-radius: 4px;
        overflow: hidden;
        background: #C699BB;
    }
    .bar::after {
        content: '';
        position: absolute;
        border-radius: inherit;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        width: var(--fill);
        background: var(--background);
    }
    .bars h4 {
        font-size: var(--size-400);
        font-family: var(--font-display);
    }
    .bars h5, .bars p {
        font-weight: 400;
        font-size: var(--size-300);
        font-family: var(--font-display);
    }
    .bars .before {
        order: 999;
        margin-left: auto;
    }
    .bars h5 {
        margin-top: 0.25rem;
    }
    .bars p {
        margin-top: 2rem !important;
        margin-bottom: -1rem;
    }
    @media (min-width: 52rem) {
        .data {
            order: initial;
        }
        .container {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    @keyframes sparkle {
        from {
            -webkit-mask-position: top right;
            mask-position: top right;
        }
        to {
            -webkit-mask-position: bottom left;
            mask-position: bottom left;
        }
    }
</style>
