---
import Panel from '../Panel.astro'
import Section from './Section.astro'
---

<Section id="trusted">
    <Panel background="var(--color-dawn)" offset={4}>
        <Fragment slot="title">
            <h3 class="head-sm"><slot name="title" /></h3>
        </Fragment>

        <ul class="logos">
            <slot />
        </ul>
    </Panel>
</Section>

<style>
#trusted {
    background: linear-gradient(to bottom, #D8C5EF 0%, #E5DAEE 100%);
    padding-top: 0;
}
.logos {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    color: var(--color-dusk);
}
.logos > :global(li) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
@media (min-width: 32rem) {
    .logos {
        gap: 2rem;
    }
    .logos > :global(li) {
        width: auto;
    }
}
@media (min-width: 64rem) {
    .logos {
        max-width: max-content;
        margin: 0 auto;
        gap: 3rem;
    }

    .logos :global(svg) {
        height: 2.25rem;
    }
}
@media (min-width: 82rem) {
    .logos :global(svg) {
        height: 2.5rem;
    }
}
</style>
