---
import Layout from '../../layouts/Integrations.astro';
import integrations from '../../data/integrations.json';

const meta = {
    title: 'Integration',
    description: 'Launch your next Astro project at warp speed. Try the plugins and components built by our amazing community.'
};
---

<Layout meta={meta} integrations={integrations}>
    <Fragment slot="description">
        <p>Launch your next Astro project at warp speed.</p>
        <p>Try the plugins and components built by our amazing community.</p>
    </Fragment>
</Layout>
