---
import CardsBlock from '../../components/blocks/CardsBlock.astro';
import Layout from '../../layouts/Catalog.astro';
import integrations from '../../data/integrations.json';
import { collections } from '../../data/integrations.js';
import IntegrationCard from '../../components/integrations/IntegrationCard.astro';

const meta = {
    title: 'Integrations',
    description: 'Launch your next Astro project at warp speed. Try the plugins and components built by our amazing community.'
};

const groups = [
    {
        title: 'featured',
        integrations: integrations
            .filter(({ badges }) => badges.includes('featured'))
            .map(integration => ({
                ...integration,
                badges: []
            })) as App.Integration[]
    },
    {
        title: 'new',
        integrations: integrations
            .filter(({ badges }) => badges.includes('new'))
            .map(integration => ({
                ...integration,
                badges: []
            })) as App.Integration[]
    },
    {
        title: 'all',
        integrations: integrations as App.Integration[]
    }
].filter(({ integrations }) => integrations.length > 0)
---

<Layout meta={meta} collections={collections} baseHref="/integrations">
    <Fragment slot="description">
        <p>{meta.description}</p>
    </Fragment>

    <Fragment slot="info">
        <a
            href="https://docs.astro.build/en/guides/publish-to-npm/#integrations-library"
            target="_blank"
            rel="noopener noreferrer"
            class="subtle underline"
        >Add your own integrations.</a>
        Questions about building plugins and components? Join our community on
        <a href="https://astro.build/chat" class="subtle underline">Discord!</a>
    </Fragment>

    <Fragment slot="cards">
        {groups.map(({ title, integrations }) => (
            <CardsBlock title={title}>
                {integrations.map(integration => (<IntegrationCard integration={integration as App.Integration} />))}
            </CardsBlock>
        ))}
    </Fragment>
</Layout>
