---
import DateTime from '../../components/Date.astro';
import { smartypants } from 'smartypants';

const { role = {}, variant = 'summary' } = Astro.props;
const Title = variant === 'summary' ? 'h2' : 'h1';
---

<div class="wrapper">
    <Title class="title text-gradient">{smartypants(role.title, 1)}</Title>
    <div class="description">
        <p>{role.description}</p>
    </div>
    <div class="salary">
        <h3>Salary</h3>
        <p>{role.salary}</p>
    </div>
    <div class="date">
        <h3>Listed on</h3>
        <p><DateTime value={role.publishDate} /></p>
    </div>
</div>

<style>
.wrapper {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
.title {
    font-family: var(--font-display);
    margin: 0 auto;
    flex-grow: 1;
    width: 100%;
    line-height: 1.1;
}
h1.title {
    font-size: var(--size-800);
}
h2.title {
    --fill: var(--color-dusk);
    font-size: var(--size-600);
}
.description {
    flex-grow: 1;
    width: 100%;
    margin-top: 0.5em;
}
.description > p {
    max-width: 48ch;
    color: #999;
}
.salary {
    flex-grow: 2;
    width: 100%;
}
@media (min-width: 52rem) {
    .salary {
        width: initial;
    }
}
.date {
    flex-grow: 1;
}
h3 {
    margin: 0;
    margin-bottom: var(--size-300);
    font-family: var(--font-display);
    font-size: var(--size-300);
    font-weight: 700;
    color: var(--color-dusk);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.date, .salary {
    margin-top: 2em;
    font-size: var(--size-400);
}
:is(.date, .salary) p {
    margin: 0;
    font-size: inherit;
    height: 2rem;
}
</style>
