---
import Icon from "astro-icon";
import Link from "../../Link.astro";
import { getImage } from "astro:assets";
import ion from "../../../_assets/themes/ion.png";
import starlight from "../../../_assets/themes/starlight.png";
import astroDS from "../../../_assets/themes/astro-design-system.png";

const ionTheme = await getImage({ src: ion, format: "webp", width: 1280 });
const astroDSTheme = await getImage({ src: astroDS, format: "webp", width: 1280 });
const starlightTheme = await getImage({ src: starlight, format: "webp", width: 1280 });


const themes = [
  { href: "https://astro.build/themes/details/starlight/", title: "Starlight", author: "Astro", src: starlightTheme.src, isSeenOnMobile: true },
  { href: "https://astro.build/themes/details/astro-design-system-docs/", title: "Astro Design System", author: "jordi", src: astroDSTheme.src, isSeenOnMobile: false },
  { href: "https://astro.build/themes/details/ion/", title: "Ion", author: "Louis Escher", src: ionTheme.src, isSeenOnMobile: true },
];
---

<div>
  <div class="p-1 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1 bg-astro-dark-800 border border-astro-dark-100/20 rounded-2xl">
    {
      themes.map((theme) => (
        <div
          class:list={[ "size-fit group relative", !theme.isSeenOnMobile && "hidden lg:block" ]}
        >
          <img class="size-full rounded-xl" src={theme.src} alt={`${theme.title} Theme by ${theme.author}`} />
          <div class="m-auto size-full hidden group-hover:landing-section absolute inset-0 z-10 bg-gradient-to-b from-transparent to-30% to-astro-dark-900/80 rounded-xl">
            <Link href={theme.href} target="_blank" class="secondary">
              <span>View Theme</span>
              <Icon name="ri:eye-line" size={18} />
            </Link>
          </div>
        </div>
      ))
    }
  </div>

  <a href="https://astro.build/themes/?search=&categories%5B%5D=docs" 
    class="mt-4 px-2 sm:px-4 group flex items-center justify-start gap-2 text-astro-gray-200 hover:text-astro-gray-100">
    <span class="underline underline-offset-2 decoration-[0.5px] decoration-transparent group-hover:decoration-astro-gray-100">Browse more documentation themes</span>
    <Icon name="ri:arrow-right-line" size={18} />
  </a>
</div>
