---
import { Icon } from 'astro-icon/components';
import astroDS from '../../../_assets/themes/astro-design-system.png';
import ion from '../../../_assets/themes/ion.png';
import starlight from '../../../_assets/themes/starlight.png';
import ThemeContainer from './ThemeContainer.astro';

const themes = [
	{
		href: '/themes/details/starlight/',
		title: 'Starlight',
		author: 'Astro',
		src: starlight,
		isSeenOnMobile: true,
	},
	{
		href: '/themes/details/astro-design-system-docs/',
		title: 'Astro Design System',
		author: 'jordi',
		src: astroDS,
		isSeenOnMobile: false,
	},
	{
		href: '/themes/details/ion/',
		title: 'Ion',
		author: 'Louis Escher',
		src: ion,
		isSeenOnMobile: true,
	},
];
---

<div>
	<div class="p-1 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 rounded-2xl">
		{themes.map((theme) => <ThemeContainer theme={theme} />)}
	</div>

	<a
		href="/themes/1/?search=&categories%5B%5D=docs"
		class="mt-4 px-2 sm:px-4 group flex items-center justify-start gap-2 text-astro-gray-200 hover:text-astro-gray-100"
	>
		<span
			class="underline underline-offset-2 decoration-[0.5px] decoration-transparent group-hover:decoration-astro-gray-100"
			>Browse more documentation themes</span
		>
		<Icon name="ri:arrow-right-line" size={18} />
	</a>
</div>
