---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { Icon } from 'astro-icon/components';

interface Props {
	theme: {
		href: string;
		title: string;
		isSeenOnMobile: boolean;
		author: string;
		src: ImageMetadata;
	};
}

const { theme } = Astro.props;
---

<a
	href={theme.href}
	target="_blank"
	class:list={[
		'size-fit group relative rounded-xl border border-astro-dark-100/20',
		!theme.isSeenOnMobile && 'hidden lg:block',
	]}
>
	<Image
		width={800}
		class="width-full rounded-xl object-cover object-center"
		src={theme.src}
		alt={`${theme.title} theme by ${theme.author}`}
	/>
	<div
		class="m-auto size-full landing-section absolute inset-0 z-10 bg-gradient-to-b from-astro-dark-900/50 to-90% to-astro-dark-900/90 rounded-xl opacity-0 transition-opacity ease-in-out duration-300 group-hover:opacity-100"
	>
		<div
			class="px-4 py-2 inline-flex items-center justify-center gap-2 rounded-full border text-base font-normal font-sans font-bold border-astro-dark-100/60 text-astro-gray-100 bg-astro-dark-600/50"
		>
			<span>View Theme</span>
			<Icon name="ri/eye-line" size={18} aria-hidden="true" />
		</div>
	</div>
</a>
