---
import { Code } from "astro-expressive-code/components"
import UseCase from "../UseCase.astro"
import code from "./snippets/auth.ts?raw"
---

<UseCase class="hidden" tab="auth">
	<div slot="example" class="relative isolate mx-auto grid max-w-7xl grid-cols-1">
		<form
			action="#"
			method="POST"
			novalidate
			autocomplete="off"
			class="space-y-6 px-4 py-12 sm:px-16 md:px-8 lg:px-16"
		>
			<div class="mb-16">
				<div class="mx-auto h-32 w-32 rounded-full bg-[#141825]"></div>
				<div class="mt-6 flex w-full items-center">
					<span class="mx-auto block h-6 w-52 rounded-full bg-[#141825]"></span>
				</div>
			</div>
			<div>
				<label for="email" class="mb-2 block text-sm font-medium leading-6 text-gray-900"
					><span class="block h-4 w-32 rounded-full bg-[#141825]"></span></label
				>
				<div class="mt-2">
					<input
						id="email"
						name="email"
						type="email"
						autocomplete="off"
						class="min-h-8 block w-full rounded-md border-0 bg-[#141825] px-3.5 py-2 text-white ring-1 ring-astro-gray-600 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
					/>
				</div>
			</div>

			<div>
				<label for="password" class="mb-2 block text-sm font-medium leading-6 text-gray-900"
					><span class="block h-4 w-32 rounded-full bg-[#141825]"></span></label
				>
				<div class="mt-2">
					<input
						id="password"
						name="password"
						type="password"
						autocomplete="off"
						class="min-h-8 block w-full rounded-md border-0 bg-[#141825] px-3.5 py-2 text-white ring-1 ring-astro-gray-600 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
					/>
				</div>
			</div>

			<div class="flex items-center justify-between">
				<div class="flex items-center">
					<input
						id="remember-me"
						name="remember-me"
						type="checkbox"
						class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
					/>
					<label for="remember-me" class="ml-3 block text-sm leading-6 text-gray-900"
						><span class="block h-4 w-32 rounded-full bg-[#141825]"></span></label
					>
				</div>

				<div class="text-sm leading-6">
					<span class="block h-4 w-32 rounded-full bg-indigo-600 hover:bg-indigo-500"></span>
				</div>
			</div>

			<div>
				<button
					type="submit"
					class="h-12 w-full rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
				></button>
			</div>
		</form>
	</div>
	<Code slot="code" lang="ts" code={code.replaceAll("\t", "  ")} />
</UseCase>
