---
import UseCase from "../UseCase.astro"
import BlogFilters from "./BlogFilters.tsx"
import code from "./snippets/blog.txt?raw"
import { Code } from "astro-expressive-code/components"
---

<UseCase class='hidden' tab='blog'>
	<div slot='example'>
		<div class='py-2'>
			<h3 class='text-xl text-[#9FA5B3]'>The Blog</h3>

			<BlogFilters client:load />
		</div>
	</div>
	<Code slot='code' lang='ts' code={code.replaceAll("\t", "  ")} />
</UseCase>
