---
import { Code } from "astro-expressive-code/components"
import UseCase from "../UseCase.astro"
import code from "./snippets/feedback.ts?raw"
---

<UseCase class="hidden" tab="feedback">
	<div slot="example" class="relative isolate mx-auto grid max-w-7xl grid-cols-1 p-8 py-12">
		<div class="mx-auto flex max-w-xl flex-col content-center items-center lg:max-w-lg">
			<div class="mb-2 h-6 w-64 rounded-full bg-[#141825]"></div>
			<div class="h-4 w-48 rounded-full bg-[#141825]"></div>
		</div>
		<form
			action="#"
			method="POST"
			novalidate
			autocomplete="off"
			class="mt-16 flex w-full items-center justify-center gap-8"
		>
			<button
				type="submit"
				class="h-12 w-40 rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
			>
			</button>
			<button
				type="submit"
				class="h-12 w-40 rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
			>
			</button>
		</form>
	</div>
	<Code slot="code" lang="ts" code={code.replaceAll("\t", "  ")} />
</UseCase>
