---
import UseCase from "../UseCase.astro"
import Reactions from "./Reactions.tsx"
import code from "./snippets/feedback.txt?raw"
import { Code } from "astro-expressive-code/components"
---

<UseCase class='hidden' tab='feedback'>
	<div slot='example'>
		<div class='space-y-5 py-2'>
			<nav class='flex' aria-label='Breadcrumb'>
				<ol role='list' class='flex items-center space-x-2'>
					<li>
						<div>
							<a
								href='#use-cases'
								class='ml-2 text-sm text-astro-gray-300 hover:text-astro-gray-200'>Home</a
							>
						</div>
					</li>

					<li>
						<div class='flex items-center'>
							<svg
								class='h-5 w-5 flex-shrink-0 text-gray-300'
								xmlns='http://www.w3.org/2000/svg'
								fill='currentColor'
								viewBox='0 0 20 20'
								aria-hidden='true'
							>
								<path d='M5.555 17.776l8-16 .894.448-8 16-.894-.448z'></path>
							</svg>
							<a
								href='#use-cases'
								class='ml-2 text-sm text-astro-gray-300 hover:text-astro-gray-200'>Articles</a
							>
						</div>
					</li>

					<li>
						<div class='flex items-center'>
							<svg
								class='h-5 w-5 flex-shrink-0 text-gray-300'
								xmlns='http://www.w3.org/2000/svg'
								fill='currentColor'
								viewBox='0 0 20 20'
								aria-hidden='true'
							>
								<path d='M5.555 17.776l8-16 .894.448-8 16-.894-.448z'></path>
							</svg>
							<a href='#use-cases' class='ml-2 text-sm text-astro-gray-400'>Astro DB: A Deep Dive</a
							>
						</div>
					</li>
				</ol>
			</nav>

			<h3 class='text-xl text-[#9FA5B3]'>Astro DB: A Deep Dive</h3>

			<div class='space-y-4 text-balance text-base text-[#6E7584]'>
				<p>
					Astro DB brings together the web framework, the schema, the seed file, and the database
					itself all into a single cohesive story. We even include an ORM for you: Drizzle. We
					selected Drizzle because it is a type-safe ORM that lets you get as close to the metal as
					you want, and is also pluggable which allowed us to add our own behavior on top.
				</p>

				<p>
					Astro DB includes a hosted libSQL database that you can connect to during local
					development and in production. Everything is managed for you through our Astro Studio
					platform. You can create a new database for your project in less than 30 seconds.
				</p>
			</div>

			<Reactions client:load />

		</div>
	</div>
	<Code slot='code' lang='ts' code={code.replaceAll("\t", "  ")} />
</UseCase>