---
import { Code } from "astro-expressive-code/components"
import UseCase from "../UseCase.astro"
import code from "./snippets/forms.txt?raw"
---

<UseCase class="hidden" tab="forms">
	<div slot="example" class="relative isolate mx-auto grid max-w-7xl grid-cols-1 py-12">
		<form action="#" method="POST" novalidate autocomplete="off">
			<div class="mx-auto max-w-xl lg:max-w-lg">
				<div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
					<div>
						<label for="full-name" class="mb-2 block text-sm font-semibold leading-6 text-white"
							><span class="block h-4 w-32 rounded-full bg-astro-gray-400"></span></label
						>
						<div>
							<div
								id="full-name"
								class="min-h-8 block w-full rounded-md border-0 bg-astro-gray-400 px-3.5 py-2 text-white ring-1 ring-astro-gray-600 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
							>
							</div>
						</div>
					</div>
					<div>
						<label for="email" class="mb-2 block text-sm font-semibold leading-6 text-white"
							><span class="block h-4 w-20 rounded-full bg-astro-gray-400"></span></label
						>
						<div class="mt-2.5">
							<div
								id="email"
								class="min-h-8 block w-full rounded-md border-0 bg-astro-gray-400 px-3.5 py-2 text-white ring-1 ring-astro-gray-600 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
							>
							</div>
						</div>
					</div>
					<div class="sm:col-span-2">
						<label for="message" class="mb-2 block text-sm font-semibold leading-6 text-white"
							><span class="block h-4 w-32 rounded-full bg-astro-gray-400"></span></label
						>
						<div class="mt-2.5">
							<div
								id="message"
								class="min-h-8 block w-full rounded-md border-0 bg-astro-gray-400 px-3.5 py-2 text-white ring-1 ring-astro-gray-600 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6"
							>
							</div>
						</div>
					</div>
				</div>
				<div class="mt-4 flex justify-end">
					<div
						class="h-12 w-40 rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
					>
					</div>
				</div>
			</div>
		</form>
	</div>
	<Code slot="code" lang="ts" code={code.replaceAll("\t", "  ")} />
</UseCase>
