---
import { Code } from "astro-expressive-code/components";
import UseCase from "../UseCase.astro";
import code from "./snippets/forms.txt?raw";
---

<UseCase class='hidden' tab='forms'>
	<div slot='example' class='space-y-4 md:space-y-8'>
		<div class='mt-1 space-y-1'>
			<h3 class='text-lg text-[#9FA5B3]'>Contact Form</h3>
			<p class='text-base text-astro-gray-300/60'>
				Fill the contact form to get in touch with our customer care team
			</p>
		</div>

		<form action='#' method='POST' novalidate autocomplete='off' class='space-y-6 caret-astro-gray-200'>
			<div class='flex w-full gap-4'>
				<div class='w-full'>
					<label for='name' class='block text-sm font-medium text-astro-gray-400'>Full Name</label>
					<div class='mt-1'>
						<input
							type='text'
							name='email'
							id='name'
							class='block w-full rounded-lg border border-[#202432] bg-[#0C0F19] px-3 py-2.5 placeholder:text-astro-gray-400 shadow-sm text-astro-gray-300 focus:border-astro-gray-400 focus:outline-none focus:ring-astro-gray-400 sm:text-sm'
							placeholder='Full Name'
						/>
					</div>
				</div>

				<div class='w-full'>
					<label for='email' class='block text-sm font-medium text-astro-gray-400'
						>Email Address</label
					>
					<div class='mt-1'>
						<input
							type='email'
							name='email'
							id='email'
							class='block w-full rounded-lg border border-[#202432] bg-[#0C0F19] px-3 py-2.5 placeholder:text-astro-gray-400 shadow-sm text-astro-gray-300 focus:border-astro-gray-400 focus:outline-none focus:ring-astro-gray-400 sm:text-sm'
							placeholder='Email Address'
						/>
					</div>
				</div>
			</div>

			<div class='w-full'>
				<label for='name' class='block text-sm font-medium text-astro-gray-400'
					>How can we help you?</label
				>
				<div class='mt-1'>
					<textarea
						rows='6'
						name='email'
						id='name'
						class='block w-full rounded-lg border border-[#202432] bg-[#0C0F19] px-3 py-2 placeholder:text-astro-gray-400 shadow-sm text-astro-gray-300 focus:border-astro-gray-400 focus:outline-none focus:ring-astro-gray-400 sm:text-sm'
						placeholder='Message'></textarea>
				</div>
			</div>

			<button
				type='button'
				class='flex w-full justify-center rounded-lg bg-[#343841] px-3 py-1.5 text-sm font-medium leading-6 text-astro-gray-200 shadow-sm hover:bg-[#343841]/50'
			>
				Send Message
			</button>
		</form>
	</div>
	<Code slot='code' lang='ts' code={code.replaceAll("\t", "  ")} />
</UseCase>
