---
export type Props = {
	theme: any;
};

const { theme } = Astro.props;
---

<div class="flex items-center gap-2">
	<img
		class="h-6 w-6 rounded-full"
		src={theme.Author.avatar}
		alt=""
		width="48"
		height="48"
		loading="lazy"
		decoding="async"
	/>
	<span class="overflow-hidden text-ellipsis">
		{theme.Author.name}
	</span>
</div>
