---
import type { CollectionEntry } from "astro:content"

export type Props = {
	theme: CollectionEntry<"themes">
}

const { theme } = Astro.props
---

<div class="flex items-center gap-2">
	<img
		class="h-6 w-6 rounded-full"
		src={theme.data.author.avatar}
		alt=""
		width="48"
		height="48"
		loading="lazy"
		decoding="async"
	/>
	<span class="overflow-hidden text-ellipsis">
		{theme.data.author.name}
	</span>
</div>
