---
import type { HTMLAttributes } from "astro/types"
import type { CollectionEntry } from "astro:content"
import Avatar from "./Avatar.astro"
import Badge from "./Badge.astro"

export type Props = HTMLAttributes<"div"> & {
	theme: CollectionEntry<"themes">
}

const { theme, class: className, ...attrs } = Astro.props

const vercelUrl =
	theme.data.repoUrl &&
	typeof theme.data.stars !== "undefined" &&
	`https://vercel.com/new/clone?repository-url=${theme.data.repoUrl}`
---

<div class:list={["flex flex-col gap-4", className]} {...attrs}>
	<div class="flex items-center justify-between">
		<small class="code text-astro-gray-200">Cost</small>
		<Badge theme={theme.data.paid ? "primary" : "secondary"}>
			{theme.data.paid ? "Paid" : "Free"}
		</Badge>
	</div>
	<hr class="border-astro-gray-500" />
	<div class="flex items-center justify-between">
		<small class="code text-astro-gray-200">Created by</small>
		<a href={theme.data.author.url} target="_blank" class="link">
			<Avatar theme={theme} />
		</a>
	</div>
	{
		vercelUrl && (
			<>
				<hr class="border-astro-gray-500" />
				<a href={vercelUrl} class="link flex flex-row items-center gap-2" target="_blank">
					<img
						src="/assets/integrations/vercel-dark.svg"
						width="20"
						height="20"
						alt="Vercel logo"
					/>
					Deploy to Vercel
				</a>
			</>
		)
	}
</div>
