---
import type { HTMLAttributes } from "astro/types"
import type { CollectionEntry } from "astro:content"
import Avatar from "./Avatar.astro"
import Badge from "./Badge.astro"

export type Props = HTMLAttributes<"div"> & {
	theme: CollectionEntry<"themes">
}

const { theme, class: className, ...attrs } = Astro.props
---

<div class:list={["flex flex-col gap-4", className]} {...attrs}>
	<div class="flex items-center justify-between">
		<small class="code text-astro-gray-200">Cost</small>
		<Badge theme={theme.data.paid ? "secondary" : "primary"}>
			{theme.data.paid ? "Paid" : "Free"}
		</Badge>
	</div>
	<hr class="border-astro-gray-500" />
	<div class="flex items-center justify-between">
		<small class="code text-astro-gray-200">Created by</small>
		<Avatar theme={theme} />
	</div>
</div>
