---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import type { Author } from '../_types/index.ts';

interface Props {
	author: Author;
}

const { author } = Astro.props;
---

<a
	href="/themes/1/"
	data-astro-prefetch
	class="flex items-center self-start gap-2 mb-4 text-astro-gray-200 text-sm"
>
	<Icon name="left-arrow" class="s-6" aria-hidden="true" />
	<span class="pr-2">Back to all themes</span>
</a>
<div class="flex lg:flex-col flex-wrap items-center gap-4">
	<Image
		inferSize
		src={author.avatar ?? ''}
		height={48}
		width={48}
		class="lg:w-full h-fit size-12"
		alt=""
	/>
	<h1 class="lg:hidden border-astro-gray-500 heading-3">{author.name}</h1>
	<div class="flex flex-col gap-4 pt-2 lg:pt-8 w-full">
		<div class="flex justify-between items-baseline">
			<small class="text-astro-gray-200 code">Joined</small>
			{
				new Date(author.createdAt).toLocaleDateString('en-US', {
					year: 'numeric',
					month: 'long',
					day: 'numeric',
				})
			}
		</div>
		{
			author.url && (
				<>
					<hr class="border-astro-gray-500" />
					<div class="flex justify-between items-baseline">
						<small class="text-astro-gray-200 code">Website</small>
						<a class="link" href={author.url}>
							{author.url.replace(/^https?:\/\/|\/$/g, '')}
						</a>
					</div>
				</>
			)
		}
	</div>
</div>
