---
import { Image } from 'astro:assets';
import astroCap from '../../../_components/landing-page/_assets/astro-cap.png';
---

<div
	class="pt-10 sm:pt-0 size-full flex items-end justify-center overflow-hidden"
	aria-hidden="true"
>
	<div class="w-2/3 md:max-xl:w-4/5 px-3 pt-3 bg-astro-gray-600 rounded-t-3xl">
		<div class="p-2 sm:p-4 size-full flex flex-col bg-astro-gray-700 rounded-t-2xl space-y-2">
			<Image
				class="w-full h-40 md:h-36 lg:h-40 xl:h-56 rounded-xl object-center object-contain"
				src={astroCap}
				alt="Official Astro Cap Swag"
				width={300}
			/>
			<div class="flex items-center justify-between text-sm xl:text-base">
				<h2 class="text-astro-gray-300 font-medium">Snapback Cap</h2>
				<p class="text-astro-gray-300 font-medium">$25.00</p>
			</div>
			<button
				type="button"
				disabled
				aria-disabled="true"
				class:list={[
					'px-4 py-2 inline-flex items-center justify-center gap-2 text-base font-normal rounded-lg text-white',
				]}
			>
				Add to cart
			</button>
		</div>
	</div>
</div>

<style>
	:global([aria-labelledby='react']) button {
		background-color: #61dafb;
		color: #030712;
	}
	:global([aria-labelledby='vue']) button {
		background-color: #41b883;
	}
	:global([aria-labelledby='preact']) button {
		background-color: #673ab8;
	}
	:global([aria-labelledby='svelte']) button {
		background-color: #ff3e00;
	}
	:global([aria-labelledby='solid']) button {
		background-color: #76b3e1;
		color: #030712;
	}
</style>
