---
import socialImg from "~/assets/og/careers.jpg"
import PageSection from "~/components/PageSection.astro"
import PageTitleBlock from "~/components/PageTitleBlock.astro"
import MainLayout from "~/layouts/MainLayout.astro"
import FeaturesList from "./_components/FeaturesList.astro"

const title = "The Astro Technology Company"
const description = `Astro is free, open source software. In 2022, we formed The Astro 
	Technology Company to grow our team of maintainers and support the project long-term.`

// const careers = await getCollection("careers")
---

<MainLayout
	title={title}
	description={description}
	image={{ src: socialImg, alt: "Work at Astro" }}
>
	<section class="grid-container pt-32">
		<PageTitleBlock title={title} wide>
			<Fragment slot="body">
				{description}
				<br />
				Read our <a href="/blog/the-astro-technology-company/" rel="prefetch" class="link-underline"
					>announcement post</a
				> to learn more.
			</Fragment>
		</PageTitleBlock>
		<PageSection title="Working at The Astro Technology Company">
			<p class="body mx-auto max-w-5xl px-8 text-center text-astro-gray-100 sm:body-large">
				We’re on a mission to build the world’s best platform for web development. If the idea of
				working full-time on open source software sounds exciting, you should join us!
			</p>
		</PageSection>
		<PageSection title="Benefits">
			<FeaturesList />
		</PageSection>
	</section>

	<section class="backgrounds grid-container relative overflow-hidden">
		<PageSection title="Open Roles" class="relative overflow-hidden">
			<div class="relative mx-auto w-full max-w-screen-sm">
				<p class="text-center text-xl opacity-75">
					No open roles at the moment! Check back later and follow <a
						href="https://twitter.com/astrodotbuild/"
						class="link-underline">@astrodotbuild</a
					> on Twitter for updates.
				</p>
			</div>
		</PageSection>
	</section>
</MainLayout>

<style>
	:global(main) {
		background-image: url(/assets/burst.svg);
		background-position: 100% 0%;
		background-size: min(100%, 1080px) auto;
		background-repeat: no-repeat;
	}

	.backgrounds::before {
		@apply bg-grid absolute inset-0 z-blur;
		content: "";
	}

	.backgrounds::after {
		@apply absolute right-0 z-blur w-full;
		content: "";
		top: 25%;
		height: 150%;
		width: 150%;
		left: -25%;
		background: linear-gradient(66.77deg, #d83333 0%, #f041ff 100%);
		mask-image: radial-gradient(rgba(0, 0, 0, 0.7), transparent 70%);
	}

	@media screen(lg) {
		.backgrounds::after {
			left: 0%;
			width: 100%;
			mask-image: radial-gradient(rgba(0, 0, 0, 0.7), transparent 60%);
		}
	}
</style>
