---
import { Icon } from 'astro-icon/components';
---

<section
	class="max-w-screen-md mx-auto flex flex-col sm:items-center gap-6 sm:gap-11 sm:text-center"
>
	<Icon name="logos/astro" size="64" />
	<div class="flex flex-col gap-2 sm:gap-6 md:gap-8">
		<h2 class="heading-2 sm:text-5xl md:text-6xl sm:leading-tight md:leading-tight">
			Take your agency to the next level
		</h2>
		<p class="text-xl sm:text-2xl font-light text-astro-gray-200">
			Astro partner agencies provide unparalleled expertise in Astro development, while supporting
			our open source mission.<br />Sound like you? Become part of the future of Astro today!
		</p>
	</div>
	<a href="/agencies/join/" class="button button-white">Become a partner</a>
</section>
