---
import Hero from "./_components/Hero.astro"
import Pricing from "./_components/Pricing.astro"
import UseCases from "./_components/UseCases.astro"
import MainLayout from "~/layouts/MainLayout.astro"
import Features from "./_components/Features.astro"
import FooterCTA from "./_components/FooterCTA.astro"
import IntroSection from "./_components/IntroSection.astro"
---

<MainLayout image={{ src: "/og/astro.jpg", alt: "Astro - Build the web you want." }}>
	<Hero />
	<div class="relative">
		<div class="absolute inset-0 z-grid"></div>
		<div class="relative grid gap-32 sm:gap-40 md:gap-24 ">
			<IntroSection />
			<UseCases />
			<Features />
			<Pricing />
			<FooterCTA />
		</div>
	</div>
</MainLayout>
