---
import Hero from "./_components/Hero.astro"
import Pricing from "./_components/Pricing.astro"
import UseCases from "./_components/UseCases.astro"
import MainLayout from "~/layouts/MainLayout.astro"
import Features from "./_components/Features.astro"
import FooterCTA from "./_components/FooterCTA.astro"
import IntroSection from "./_components/IntroSection.astro"
---

<MainLayout image={{ src: "/og/astro.jpg", alt: "Astro - Build the web you want." }}>
	<Hero />

	<div class="mb-8 space-y-12">
		<IntroSection />
		<UseCases />
		<Features />
		<Pricing />
		<FooterCTA />
	</div>
</MainLayout>
