---
import MainLayout from "~/layouts/MainLayout.astro"
import Features from "./_components/Features.astro"
import FooterCTA from "./_components/FooterCTA.astro"
import Hero from "./_components/Hero.astro"
import Intro from "./_components/Intro.astro"
import Pricing from "./_components/Pricing.astro"
import UseCases from "./_components/UseCases.astro"
---

<MainLayout
	class="db"
	image={{
		src: "/og/astro.jpg",
		alt: "Astro DB - The database platform for content-driven websites.",
	}}
>
	<Hero />

	<div class="mb-16 space-y-32">
		<Intro />
		<UseCases />
		<Features />
		<Pricing />
		<FooterCTA />
	</div>
</MainLayout>
