---

---

<div class="rounded-tl-xl overflow-hidden divide-y divide-gray-800">
    <div class=" pl-4 h-10 flex items-center gap-3 bg-[#1E2330]">
        <input type="checkbox" class="h-4 accent-[#292E40]" checked />
        <div class="h-4 w-32 bg-[#292E40] rounded"></div>
        <div class="h-4 w-32 bg-[#292E40] rounded"></div>
        <div class="h-4 w-32 bg-[#292E40] rounded"></div>
        <div class="h-4 w-32 bg-[#292E40] rounded"></div>
        <div class="h-4 w-32 bg-[#292E40] rounded"></div>
    </div>

    <div class=" pl-4 h-12 flex items-center gap-3 bg-[#141825]">
        <input type="checkbox" class="h-4 accent-[#292E40]" />
        <div class="h-4 w-32 bg-transparent">
            <div class="h-full w-2/3 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-5/6 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-2/3 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-3/4 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-4/5 bg-[#3D4561] rounded"></div>
        </div>

    </div>

    <div class=" pl-4 h-12 flex items-center gap-3 bg-[#141825]">
        <input type="checkbox" class="h-4 accent-[#292E40]" />
        <div class="h-4 w-32 bg-transparent">
            <div class="h-full w-2/3 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-5/6 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-2/3 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-2/5 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-4/5 bg-[#292E40] rounded"></div>
        </div>
    </div>

    <div class=" pl-4 h-12 flex items-center gap-3 bg-[#141825]">
        <input type="checkbox" class="h-4 accent-[#292E40]" />
        <div class="h-4 w-32 bg-transparent">
            <div class="h-full w-5/6 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-2/3 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-4/5 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-4/5 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-4/6 bg-[#3D4561] rounded"></div>
        </div>

    </div>

    <div class=" pl-4 h-12 flex items-center gap-3 bg-[#141825]">
        <input type="checkbox" class="h-4 accent-[#292E40]" />
        <div class="h-4 w-32 bg-transparent">
            <div class="h-full w-4/5 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-3/4 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-2/3 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-5/6 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-2/3 bg-[#292E40] rounded"></div>
        </div>
    </div>

    <div class=" pl-4 h-12 flex items-center gap-3 bg-[#141825]">
        <input type="checkbox" class="h-4 accent-[#292E40]" />
        <div class="h-4 w-32 bg-transparent">
            <div class="h-full w-1/2 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-4/6 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-5/6 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-3/4 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-3/4 bg-[#3D4561] rounded"></div>
        </div>
    </div>

    <div class=" pl-4 h-12 flex items-center gap-3 bg-[#141825]">
        <input type="checkbox" class="h-4 accent-[#292E40]" />
        <div class="h-4 w-32 bg-transparent">
            <div class="h-full w-3/5 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-3/5 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-2/5 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-3/6 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-2/3 bg-[#292E40] rounded"></div>
        </div>
    </div>

    <div class=" pl-4 h-12 flex items-center gap-3 bg-[#141825]">
        <input type="checkbox" class="h-4 accent-[#292E40]" />
        <div class="h-4 w-32 bg-transparent">
            <div class="h-full w-3/4 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-4/5 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-2/3 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-3/4 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-3/5 bg-[#3D4561] rounded"></div>
        </div>
    </div>

    <div class=" pl-4 h-12 flex items-center gap-3 bg-[#141825]">
        <input type="checkbox" class="h-4 accent-[#292E40]" />
        <div class="h-4 w-32 bg-transparent">
            <div class="h-full w-5/6 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-2/3 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-4/5 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-4/5 bg-[#292E40] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-4/6 bg-[#292E40] rounded"></div>
        </div>

    </div>

    <div class=" pl-4 h-12 flex items-center gap-3 bg-[#141825]">
        <input type="checkbox" class="h-4 accent-[#292E40]" />
        <div class="h-4 w-32 bg-transparent">
            <div class="h-full w-2/3 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-5/6 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-2/3 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-3/4 bg-[#3D4561] rounded"></div>
        </div>
        <div class="h-4 w-32 bg-transparent rounded">
            <div class="h-full w-4/5 bg-[#3D4561] rounded"></div>
        </div>

    </div>

    
</div>