---

---

<div class="relative divide-y divide-gray-800 overflow-hidden rounded-tl-xl">

	<div class="absolute w-full h-full bg-gradient-to-br from-transparent from-10% to-90% to-[#0C0F19]" />

	<div class="flex h-10 items-center gap-3 bg-[#1E2330] pl-4">
		<div class="h-4 w-5 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 rounded bg-[#292E40]"></div>
	</div>

	<div class="flex h-12 items-center gap-3 bg-[#141825] pl-4">
		<div class="h-4 w-5 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-5/6 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-3/4 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-4/5 rounded bg-[#3D4561]"></div>
		</div>
	</div>

	<div class="flex h-12 items-center gap-3 bg-[#141825] pl-4">
		<div class="h-4 w-5 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-5/6 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-2/5 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-4/5 rounded bg-[#292E40]"></div>
		</div>
	</div>

	<div class="flex h-12 items-center gap-3 bg-[#141825] pl-4">
		<div class="h-4 w-5 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 bg-transparent">
			<div class="h-full w-5/6 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-4/5 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-4/5 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-4/6 rounded bg-[#3D4561]"></div>
		</div>
	</div>

	<div class="flex h-12 items-center gap-3 bg-[#141825] pl-4">
		<div class="h-4 w-5 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 bg-transparent">
			<div class="h-full w-4/5 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-3/4 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-5/6 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#292E40]"></div>
		</div>
	</div>

	<div class="flex h-12 items-center gap-3 bg-[#141825] pl-4">
		<div class="h-4 w-5 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 bg-transparent">
			<div class="h-full w-1/2 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-4/6 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-5/6 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-3/4 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-3/4 rounded bg-[#3D4561]"></div>
		</div>
	</div>

	<div class="flex h-12 items-center gap-3 bg-[#141825] pl-4">
		<div class="h-4 w-5 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 bg-transparent">
			<div class="h-full w-3/5 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-3/5 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-2/5 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-3/6 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#292E40]"></div>
		</div>
	</div>

	<div class="flex h-12 items-center gap-3 bg-[#141825] pl-4">
		<div class="h-4 w-5 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 bg-transparent">
			<div class="h-full w-3/4 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-4/5 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-3/4 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-3/5 rounded bg-[#3D4561]"></div>
		</div>
	</div>

	<div class="flex h-12 items-center gap-3 bg-[#141825] pl-4">
		<div class="h-4 w-5 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 bg-transparent">
			<div class="h-full w-5/6 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-4/5 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-4/5 rounded bg-[#292E40]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-4/6 rounded bg-[#292E40]"></div>
		</div>
	</div>

	<div class="flex h-12 items-center gap-3 bg-[#141825] pl-4">
		<div class="h-4 w-5 rounded bg-[#292E40]"></div>
		<div class="h-4 w-32 bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-5/6 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-2/3 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-3/4 rounded bg-[#3D4561]"></div>
		</div>
		<div class="h-4 w-32 rounded bg-transparent">
			<div class="h-full w-4/5 rounded bg-[#3D4561]"></div>
		</div>
	</div>
</div>
