---
import ExampleShowcase from "./ExampleShowcase.jsx"
import LandingSectionText from "./LandingSectionText.astro"
---

<section class="landing-section relative overflow-x">
	<LandingSectionText>
		<Fragment slot="title">Content-focused</Fragment>
		<Fragment slot="body">
			Astro was designed for your content. Fetch data from any <a
				class="link-underline"
				href="https://docs.astro.build/en/guides/cms/">CMS</a
			> or work locally with
			<a class="link-underline" href="https://docs.astro.build/en/guides/content-collections/"
				>type-safe Markdown and MDX</a
			> APIs.
		</Fragment>
	</LandingSectionText>
	<div class="relative mt-12 flex w-full items-center overflow-hidden">
		<div class="w-full">
			<ExampleShowcase client:idle />
		</div>
	</div>
</section>

<style>
	section::before {
		@apply absolute z-noise-underlay blur-xl rounded-3xl w-2/3 max-w-screen-xl left-1/2 -translate-x-1/4 h-full top-1/2 -translate-y-1/3;
		content: "";
		background: radial-gradient(
			rgba(100, 177, 203, 0.7),
			rgba(100, 177, 203, 0.5) 40%,
			transparent 80%
		);
	}
</style>
