---
import ExampleShowcase from "./ExampleShowcase.jsx"
import LandingSectionText from "./LandingSectionText.astro"
---

<section class="landing-section relative overflow-hidden">
	<LandingSectionText>
		<Fragment slot="title">Build it with Astro</Fragment>
		<Fragment slot="body">
			Astro has been downloaded millions of times by developers all over the world to build amazing
			websites.
		</Fragment>
	</LandingSectionText>
	<div class="relative mt-12 flex w-full items-center">
		<div class="w-full overflow-hidden">
			<ExampleShowcase client:idle />
		</div>
	</div>
</section>

<style>
	section::before {
		position: absolute;
		content: "";
		top: 15%;
		height: 60%;
		width: 150%;
		left: -25%;
		background: linear-gradient(247.23deg, #4af2c8 0%, #2f4cb3 100%);
		mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 70%);
	}

	@media screen(md) {
		section::before {
			left: 25%;
			top: 20%;
			height: 80%;
			mask-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) 30%, transparent 65%);
		}
	}

	@media screen(lg) {
		section::before {
			top: 15%;
		}
	}

	@media screen(2xl) {
		section::before {
			width: 100%;
			left: 25%;
			height: 80%;
		}
	}

	@media (min-width: 1920px) {
		section::before {
			width: 67%;
			left: 35%;
			height: 90%;
		}
	}
</style>
