---
export interface Props {
	title: string
	score: number
	glow?: boolean
}
---

<div
	data-glow={Astro.props.glow}
	class="group flex w-full flex-col justify-center gap-x-3 gap-y-1 md:flex-row"
>
	<dt
		class="heading-4 flex items-center whitespace-nowrap text-sm group-data-[glow]:text-2xl group-data-[glow]:text-white md:basis-52 md:justify-end md:text-2xl"
	>
		{Astro.props.title}
	</dt>
	<dd
		class="flex w-full items-center gap-3 rounded-lg border border-astro-gray-400 p-1 group-data-[glow]:border-astro-gray-200"
	>
		<div
			class="relative flex h-8 items-center justify-end rounded bg-astro-gray-400 group-data-[glow]:bg-blue-green-gradient"
			style={{ width: Astro.props.score + "%" }}
		>
			<p
				class="group-data-[glow]:text-bold flex-shrink-0 select-none pr-2 font-mono text-xl text-white group-data-[glow]:text-astro-gray-500"
			>
				<span class="sr-only">Score:</span>
				{Astro.props.score}
			</p>
		</div>
	</dd>
</div>
