---
import Card from "~/components/Card.astro"
import CardBody from "~/components/CardBody.astro"
import CardFooter from "~/components/CardFooter.astro"
import CardLabel from "~/components/CardLabel.astro"
import CoreWebVitalsGraph from "./CoreWebVitalsGraph.astro"
import LandingSectionText from "./LandingSectionText.astro"
---

<section class="landing-section">
	<LandingSectionText>
		<Fragment slot="title">Full speed</Fragment>
		<Fragment slot="body">
			Islands optimize your website like no other web framework can. Leverage Astro's unique page
			load performance to improve conversion rates, Core Web Vitals, and SEO.
		</Fragment>
	</LandingSectionText>

	<div class="mt-12 w-full max-w-5xl px-4">
		<Card>
			<CardBody>
				<CardLabel>Real-World Performance Comparison</CardLabel>
				<CoreWebVitalsGraph />
				<CardFooter>
					<p class="text-center">
						Based on <a href="https://httparchive.org/" class="link-underline">HTTP Archive</a>
						 real-world performance data (Lighthouse, P90) • <a
							href="/blog/2023-web-framework-performance-report/"
							class="link-underline">Read the full report</a
						>
					</p>
				</CardFooter>
			</CardBody>
		</Card>
	</div>
</section>
