---
import { Icon } from "astro-icon"
import CodeBlock from "~/components/CodeBlock.astro"
import ExternalLink from "~/components/ExternalLink.astro"
import PageTitleBlock from "~/components/PageTitleBlock.astro"

const logos = [
	{ src: "logos/google", alt: "Google Logo" },
	{ src: "logos/netlify", alt: "Netlify Logo" },
	{ src: "logos/nordvpn", alt: "NordVPN Logo" },
	{ src: "logos/rokt", alt: "Rokt Logo" },
	{ src: "logos/theguardian", alt: "The Guardian Logo" },
	{ src: "logos/trivago", alt: "Trivago Logo" },
]
---

<section class="landing-section relative overflow-x-hidden pt-14 pb-40 sm:pt-20 lg:pt-32">
	<div
		class="absolute noise-underlay top-0 bottom-[10%] w-[150%] -left-1/4 bg-blue-purple-gradient mask-radial-gradient"
	>
	</div>
	<div
		class="absolute noise-underlay top-0 bottom-[10%] w-[150%] -left-1/4 bg-blue-purple-gradient mask-radial-gradient"
	>
	</div>
	<div
		class="absolute noise-underlay top-0 bottom-[10%] w-[150%] -left-1/4 bg-blue-purple-gradient mask-radial-gradient"
	>
	</div>
	<div
		class="absolute noise-underlay top-0 bottom-[10%] w-[150%] -left-1/4 bg-blue-purple-gradient mask-radial-gradient"
	>
	</div>
	<div
		class="absolute noise-underlay top-0 bottom-[10%] w-[150%] -left-1/4 bg-blue-purple-gradient mask-radial-gradient"
	>
	</div>
	<div
		class="absolute noise-underlay top-0 bottom-[10%] w-[150%] -left-1/4 bg-blue-purple-gradient mask-radial-gradient"
	>
	</div>
	<div
		class="absolute noise-underlay top-0 bottom-[10%] w-[150%] -left-1/4 bg-blue-purple-gradient mask-radial-gradient"
	>
	</div>
	<div
		class="absolute noise-underlay top-0 bottom-[10%] w-[150%] -left-1/4 bg-blue-purple-gradient mask-radial-gradient"
	>
	</div>
	<div
		class="absolute noise-underlay top-0 bottom-[10%] w-[150%] -left-1/4 bg-blue-purple-gradient mask-radial-gradient"
	>
	</div>
	<div
		class="absolute noise-underlay top-0 bottom-[10%] w-[150%] -left-1/4 bg-blue-purple-gradient mask-radial-gradient"
	>
	</div>

	<!-- <canvas class="absolute top-0 left-0 w-full h-full noise-underlay" id="color-blob"></canvas>
	<script>
		import { getElement } from "~/helpers/dom.js"
		import { raise } from "~/helpers/errors.js"

		const canvas = getElement("#color-blob", HTMLCanvasElement)
		const rect = canvas.getBoundingClientRect()
		canvas.width = rect.width
		canvas.height = rect.height

		const context = canvas.getContext("2d") ?? raise("Could not get canvas context")

		const gradient = context.createRadialGradient(110, 90, 0, 100, 100, 70)

		gradient.addColorStop(0, "white")
		gradient.addColorStop(1, "transparent")

		context.fillStyle = gradient
		context.beginPath()
		context.ellipse(100, 100, 80, 80, 0, 0, Math.PI) //(20, 20, 160, 160)
		context.fill()

		// const radialGradient = context.createRadialGradient(100, 100, 100, 200, 200, 200)
		// radialGradient.addColorStop(0, "red")
		// radialGradient.addColorStop(1, "blue")
		// context.fillStyle = radialGradient

		// context.ellipse(
		// 	canvas.width / 2,
		// 	canvas.height / 2,
		// 	canvas.width / 2,
		// 	canvas.height / 2,
		// 	0,
		// 	0,
		// 	Math.PI * 2,
		// )

		// const gradient = context.createLinearGradient(0, 0, canvas.width, canvas.height)
		// gradient.addColorStop(0, "#3245FF")
		// gradient.addColorStop(1, "#B845ED")

		// // context.fillStyle = "linear-gradient(83.21deg, #3245FF 0%, #B845ED 100%)"
		// context.fillStyle = gradient

		// context.ellipse(
		// 	canvas.width / 2,
		// 	canvas.height / 2,
		// 	canvas.width / 2,
		// 	canvas.height / 2,
		// 	0,
		// 	0,
		// 	Math.PI * 2,
		// )
	</script> -->

	<PageTitleBlock
		lg
		body="Astro is the all-in-one web framework designed for speed. Pull your content from anywhere and deploy everywhere, all powered by your favorite UI components and libraries."
	>
		<h1
			slot="title"
			class="heading-2 mb-10 max-w-[10ch] px-4 text-center lg:heading-1 sm:max-w-[15ch]"
		>
			Build the web
			<br class="hidden sm:block" />
			you want
		</h1>
	</PageTitleBlock>

	<div
		class="isolate mb-14 mt-8 flex w-full justify-center gap-6 sm:mb-16 md:mb-20 lg:mb-24 xl:mb-28"
	>
		<ExternalLink href="https://docs.astro.build/" class="button-white">Get Started</ExternalLink>
		<div class="hidden sm:block">
			<CodeBlock>npm create astro@latest</CodeBlock>
		</div>
	</div>

	<div class="flex flex-col gap-y-8 px-4 md:px-6 lg:flex-row lg:items-center">
		<p class="body px-8 text-astro-gray-200 lg:max-w-[12rem] lg:px-0 lg:text-left">
			Used by over 100,000 developers and teams around the world:
		</p>
		<div class="flex flex-wrap justify-center gap-x-8 gap-y-6 px-4">
			{
				logos.map((logo) => (
					<Icon
						name={logo.src}
						aria-label={logo.alt}
						height={48}
						class="h-6 object-contain text-white sm:h-8 md:h-10 lg:h-11"
					/>
				))
			}
		</div>
	</div>
</section>
