---
import { Icon } from "astro-icon"
import CodeBlock from "~/components/CodeBlock.astro"
import ExternalLink from "~/components/ExternalLink.astro"
import PageTitleBlock from "~/components/PageTitleBlock.astro"
import PillLink from "./PillLink.astro"

import { getLatestReleasePost } from "~/helpers/releasePost.ts"

const logos = [
	{ src: "logos/google", alt: "Google Logo", class: "py-1 -mb-1 md:-mb-2 lg:-mb-2.5" },
	{ src: "logos/microsoft", alt: "Microsoft Logo", class: "py-2" },
	{ src: "logos/nordvpn", alt: "NordVPN Logo", class: "py-1" },
	{ src: "logos/rokt", alt: "Rokt Logo", class: "py-2" },
	{ src: "logos/theguardian", alt: "The Guardian Logo", class: "py-1.5" },
	{ src: "logos/trivago", alt: "Trivago Logo", class: "py-1" },
]

const announcement = await getLatestReleasePost()
---

<section class="landing-section relative overflow-x-hidden pb-40 pt-14 sm:pt-20 lg:pt-32">
	{announcement && <PillLink {...announcement} class="mb-8" />}
	<PageTitleBlock
		lg
		body="Astro powers the world's fastest websites, client-side web apps, dynamic API endpoints, and everything in-between."
	>
		<h1
			slot="title"
			class="mb-10 max-w-[24ch] px-4 text-center font-obviously text-5xl/[1.1] font-semibold md:text-6xl/[1.1]"
		>
			The web framework for content-driven websites
		</h1>
	</PageTitleBlock>

	<div class="mb-14 mt-8 flex w-full justify-center gap-6 sm:mb-16 md:mb-20 lg:mb-24 xl:mb-28">
		<ExternalLink href="https://docs.astro.build/" class="button button-white">
			Get Started
		</ExternalLink>
		<div class="hidden sm:block">
			<CodeBlock>npm create astro@latest</CodeBlock>
		</div>
	</div>

	<div class="flex flex-col gap-x-6 gap-y-8 px-4 md:px-6 lg:flex-row lg:items-center">
		<p class="body px-8 text-astro-gray-200 lg:max-w-[12rem] lg:px-0 lg:text-left xl:text-lg">
			Used by the best developers and teams around the world:
		</p>
		<div class="flex flex-wrap items-center justify-center gap-x-8 gap-y-6 px-4">
			{
				logos.map((logo) => (
					<Icon
						name={logo.src}
						aria-label={logo.alt}
						height={48}
						class:list={["h-8 object-contain text-white sm:h-10 lg:h-11 xl:h-12", logo.class]}
					/>
				))
			}
		</div>
	</div>
</section>

<style>
	section::before {
		@apply absolute z-blur;
		content: "";
		top: 0%;
		bottom: 10%;
		width: 150%;
		left: -25%;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
	}
</style>
