---
type Props = {
	wide?: boolean
}

const { wide } = Astro.props
---

<h2
	class:list={[
		"heading-3 mb-8 px-4 text-center font-semibold md:heading-2",
		wide ? "max-w-5xl" : "max-w-3xl",
	]}
	style="text-wrap: balance;"
>
	<slot name="title" />
</h2>
<p
	class:list={[
		"body px-8 text-center text-astro-gray-200 sm:body-large",
		wide ? "max-w-5xl" : "max-w-3xl",
	]}
	style="text-wrap: balance;"
>
	<slot name="body" />
</p>
