---
const { href, class: className = "primary" } = Astro.props;
---

<a
  href={href}
  class:list={[
    className,
    "px-4 py-2 inline-flex items-center justify-center gap-2 rounded-full border text-base font-normal transition-all ease-in-out duration-500 hover:cursor-pointer font-sans font-bold",
  ]}
>
  <slot />
</a>

<style>
  .primary {
    @apply border-transparent bg-white hover:bg-white/90;
  }
  .secondary {
    @apply border-astro-dark-300/30 hover:border-astro-dark-300/60 text-astro-gray-200 hover:text-astro-gray-100 bg-astro-dark-600/30 hover:bg-astro-dark-600/30;
  }
  .ghost {
    @apply bg-transparent border-transparent text-white hover:bg-white/5;
  }
</style>
