---
import { Sprite } from "astro-icon"
import Marquee from "~/components/Marquee.astro"

export type Props = {
	logos: Array<{
		icon?: string
		alt: string
		href?: string
	}>
}
---

<Marquee>
	<ul class="flex gap-2 pr-2">
		{
			Astro.props.logos.map((logo) => (
				<li class="flex items-center justify-center rounded-full bg-white s-16">
					<Sprite name={logo.icon} size={32} />
				</li>
			))
		}
	</ul>
</Marquee>
