---
const { label, title, description } = Astro.props
---

<div class="w-full">

    <span class="bg-clip-text text-transparent bg-red-pink-gradient font-semibold">{label}</span>

  <h2 class="heading-3 text-white text-balance">{title}</h2>
  <p class="mt-4 w-full lg:w-2/3 xl:w-1/2 text-base text-astro-gray-200 lg:text-balance font-light">{description}</p>

  <div class="mt-4">
    <slot name="call-to-action" />
  </div>
</div>
