---
const { label, title, description } = Astro.props
---

<div class="w-full">

    <span class="bg-clip-text text-transparent bg-red-pink-gradient font-semibold">{label}</span>

  <h2 class="heading-3 text-white text-balance">{title}</h2>
  <p class="mt-4 sm:w-1/2 text-base sm:text-lg text-astro-gray-200 text-balance font-light">{description}</p>

  <slot name="call-to-action" />
</div>
