:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-display);
    line-height: 1.1;
    margin-bottom: 1.25rem;
    color: var(--color-dusk);
}
h1 {
    --fill: var(--gradient-pop-1);
    font-size: 3rem;
    font-size: var(--size-800);
    
}
h2 {
    font-size: 2rem;
    font-size: var(--size-600);
    margin-top: 2em;
    margin-bottom: -0.25em;
}

code {
    font-family: var(--font-mono);
    font-weight: 400;
    white-space: pre-wrap;
    word-break: break-word;
}

code:not([class]) {
    font-size: 0.85em;
    color: var(--color-purple);
}

code:not([class])::before {
    content: '\`';
}
code:not([class])::after {
    content: '\`';
}

article img:not([class]) {
    width: calc(100% + 4rem);
    margin: 2rem -2rem;
    margin-top: 2rem !important;
}

:is(h2, h3, h4, h5, h6) a {
    font: inherit;
    color: inherit;
    text-decoration: none !important;
    display: flex;
}

:is(h2, h3, h4, h5, h6) a::before {
    content: "#";
    width: 1em;
    margin-left: 0.25em;
    color: inherit;
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.23, 1, 0.320, 1);
    order: 999;
}

@media (min-width: 50rem) {
    :is(h2, h3, h4, h5, h6) a::before {
        order: initial;
        margin-left: -1em;
    }
}

:is(h2, h3, h4, h5, h6) a:is(:active, :visited, :hover, :focus) {
    color: var(--color-dusk);
}

:is(h2, h3, h4, h5, h6) a:active::before,
:is(h2, h3, h4, h5, h6) a:hover::before,
:is(h2, h3, h4, h5, h6) a:focus::before {
    opacity: 0.6 !important;
}

:is(strong, b) {
    font-family: inherit;
    font-weight: 600;
}

:is(em, i) {
    font-weight: 400;
    font-style: normal;
}

:is(ul:not([class]), ol:not([class])) {
    padding-left: 1.5em;
}

:where(ul:not([class])) {
    list-style-type: square;
}

:where(ul:not([class]) > li + li) {
    margin-top: 0.25em;
} 

::marker {
    color: rgba(var(--color-midnight-rgb), 0.5);
}

pre > code:not([class*='language']) {
	background-color: transparent;
	padding: 0;
	margin: 0;
	border-radius: 0;
	color: inherit;
}

pre > code {
	font-size: 1em;
}

table,
pre {
	position: relative;
	--padding-block: 1rem;
	--padding-inline: 2rem;
	padding: var(--padding-block) var(--padding-inline);
	padding-right: calc(var(--padding-inline) * 2);
	margin-left: calc(var(--padding-inline) * -1);
	margin-right: calc(var(--padding-inline) * -1);
	font-family: var(--font-mono);

	line-height: 1.5;
	font-size: 0.85em;
	overflow-y: hidden;
	overflow-x: auto;
}

pre {
    background: linear-gradient(to bottom, var(--color-midnight), #1F1638);
    color: white;
}

table {
	width: 100%;
	padding: var(--padding-block) 0;
	margin: 0;
	border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: var(--theme-bg-hover);
}
th {
	background: var(--color-black);
	color: var(--theme-color);
	font-weight: bold;
}
td,
th {
	padding: 6px;
	text-align: left;
}

/* Code */

.language-css > code,
.language-sass > code,
.language-scss > code {
	color: #fd9170;
}

.language-diff .token.prefix.deleted,
.language-diff .token.prefix.inserted {
	user-select: none;
}

[class*='language-'] .namespace {
	opacity: 0.7;
}

.token.plain-text,
[class*='language-bash'] span.token,
[class*='language-shell'] span.token {
	color: hsla(var(--color-gray-90), 1);
}

[class*='language-bash'] span.token,
[class*='language-shell'] span.token {
	font-style: bold;
}

.token.prolog,
.token.comment,
[class*='language-bash'] span.token.comment,
[class*='language-shell'] span.token.comment {
	color: rgba(255, 255, 255, 0.67);
}

.token.front-matter-block {
    color: white;
    opacity: 0.8;
}

.token.selector,
.token.tag,
.token.unit,
.token.url,
.token.variable,
.token.entity,
.token.deleted {
	color: #fa5e5b;
}

.token.boolean,
.token.constant,
.token.doctype,
.token.number,
.token.regex,
.token.builtin,
.token.class,
.token.hexcode,
.token.class-name,
.token.attr-name {
	color: hsla(var(--color-yellow), 1);
}

.token.atrule,
.token.attribute,
.token.attr-value .token.punctuation,
.token.attr-value,
.token.pseudo-class,
.token.pseudo-element,
.token.string {
	color: hsla(var(--color-green), 1);
}

.token.symbol,
.token.function,
.token.id,
.token.important {
	color: hsla(var(--color-blue), 1);
}

.token.important,
.token.id {
	font-weight: bold;
}

.token.cdata,
.token.char,
.token.property {
	color: #23b1af;
}

.token.inserted {
	color: hsla(var(--color-green), 1);
}

.token.keyword {
	color: #ff657c;
	font-style: italic;
}

.token.operator {
	color: hsla(var(--color-gray-70), 1);
}

.token.attr-value .token.attr-equals,
.token.punctuation {
	color: hsla(var(--color-gray-80), 1);
}
