@font-face {
	font-family: "Obviously";
	src: url("/fonts/Obviously.woff2") format("woff2-variations");
	src: url("/fonts/Obviously.woff2") format("woff2") tech("variations");
	font-style: normal;
	font-display: swap;
	font-weight: 100 1000;
	font-stretch: 490 620;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter.woff2") format("woff2-variations");
	src: url("/fonts/Inter.woff2") format("woff2") tech("variations");
	font-style: normal;
	font-display: swap;
	font-weight: 300 600;
}

@font-face {
	font-family: "MDIO";
	src: url("/fonts/MDIO.woff2") format("woff2-variations");
	src: url("/fonts/MDIO.woff2") format("woff2") tech("variations");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

/* == FALLBACK FONT CONFIG == */
@font-face {
	font-family: md-io-fallback;
	src: local("Courier New");
	line-gap-override: 7%;
}

@font-face {
	font-family: obviously-regular-fallback;
	src: local("Verdana");
	size-adjust: 112%;
	line-gap-override: 19%;
}
