@font-face {
	font-family: "Obviously";
	src: url("https://fonts-cdn-astrodotbuild-git-feat-subsetting-astrodotbuild.vercel.app/Obviously.woff2?v=2")
		format("woff2-variations");
	src: url("https://fonts-cdn-astrodotbuild-git-feat-subsetting-astrodotbuild.vercel.app/Obviously.woff2?v=2")
		format("woff2") tech("variations");
	font-style: normal;
	font-display: swap;
	font-weight: 100 1000;
	font-stretch: 490 620;
}

@font-face {
	font-family: "Inter";
	src: url("https://fonts-cdn-astrodotbuild-git-feat-subsetting-astrodotbuild.vercel.app/Inter.woff2?v=2")
		format("woff2-variations");
	src: url("https://fonts-cdn-astrodotbuild-git-feat-subsetting-astrodotbuild.vercel.app/Inter.woff2?v=2")
		format("woff2") tech("variations");
	font-style: normal;
	font-display: swap;
	font-weight: 300 600;
}

@font-face {
	font-family: "MDIO";
	src: url("https://fonts-cdn-astrodotbuild-git-feat-subsetting-astrodotbuild.vercel.app/MDIO.woff2?v=2")
		format("woff2-variations");
	src: url("https://fonts-cdn-astrodotbuild-git-feat-subsetting-astrodotbuild.vercel.app/MDIO.woff2?v=2")
		format("woff2") tech("variations");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

/* == FALLBACK FONT CONFIG == */
@font-face {
	font-family: md-io-fallback;
	src: local("Courier New");
	line-gap-override: 7%;
}

@font-face {
	font-family: obviously-fallback;
	src: local("Verdana");
	size-adjust: 112%;
	line-gap-override: 19%;
}

@font-face {
	font-family: inter-fallback;
	ascent-override: 90.2%;
	descent-override: 22.48%;
	line-gap-override: 0%;
	size-adjust: 107.4%;
	src: local("Arial");
}
