/* == FALLBACK FONT CONFIG == */
@font-face {
	font-family: md-io-fallback;
	src: local("Courier New");
	line-gap-override: 7%;
}

@font-face {
	font-family: obviously-regular-fallback;
	src: local("Verdana");
	size-adjust: 112%;
	line-gap-override: 19%;
}

@font-face {
	font-family: obviously-wide-fallback;
	src: local("Arial Black");
	size-adjust: 134%;
	ascent-override: 96%;
	descent-override: 27%;
}
