@font-face {
	font-family: "MDIO";
	src: url("/fonts/MDIO/Web/MDIO0.6-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Obviously";
	src: url("/fonts/Obviously/Obviously Normal/Web/Obviously-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Obviously";
	src: url("/fonts/Obviously/Obviously Normal/Web/Obviously-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Obviously Wide";
	src: url("/fonts/Obviously/Obviously Wide/Web/Obviously-Wide_Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-stretch: wider;
	font-display: swap;
}

/* == FALLBACK FONT CONFIG == */
@font-face {
	font-family: md-io-fallback;
	src: local("Courier New");
	line-gap-override: 7%;
}

@font-face {
	font-family: obviously-regular-fallback;
	src: local("Verdana");
	size-adjust: 112%;
	line-gap-override: 19%;
}

@font-face {
	font-family: obviously-wide-fallback;
	src: local("Arial Black");
	size-adjust: 134%;
	ascent-override: 96%;
	descent-override: 27%;
}
