@font-face {
	font-family: "MD IO 0.5";
	src: url("https://fonts-cdn.astro.build/MD IO/Web/MDIO0.5-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Obviously";
	src: url("https://fonts-cdn.astro.build/Obviously/Obviously Normal/Web/Obviously-Light.woff2")
		format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Obviously";
	src: url("https://fonts-cdn.astro.build/Obviously/Obviously Normal/Web/Obviously-Regular.woff2")
		format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Obviously Wide";
	src: url("https://fonts-cdn.astro.build/Obviously/Obviously Wide/Web/Obviously-Wide_Semibold.woff2")
		format("woff2");
	font-weight: 600;
	font-style: normal;
	font-stretch: wider;
	font-display: swap;
}
