@font-face {
  font-family: 'RT Alias Medium';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/fonts/RTAliasMedium-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'RT Alias Medium';
  font-style: italic;
  font-weight: 700;
  src: local(''), url('/fonts/RTAliasMedium-BoldOblique.woff2') format('woff2');
}
@font-face {
  font-family: 'RT Alias Medium';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/RTAliasMedium-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'RT Alias Medium';
  font-style: italic;
  font-weight: 400;
  src: local(''), url('/fonts/RTAliasMedium-RegularOblique.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-tan: #f4efed;
  --color-tan-rgb: 244, 239, 237;
  --color-dawn: #f3e9fa;
  --color-dusk: #514375;
  --color-midnight: #31274a;
  --color-midnight-rgb: 49, 39, 74;
  --color-blue: #205eff;
  --color-red: #ff5050;
  --color-yellow: #ffd542;
  --color-purple: #af43ff;

  --gradient-pop-1: linear-gradient(180deg, #205eff 0%, #c238bd 115%);
  --gradient-pop-2: linear-gradient(
    90deg,
    #ff9776 7.5%,
    #769cff 50%,
    #c238bd 100%
  );
  --gradient-pop-3: linear-gradient(180deg, #ffb4b4 0%, #c487f0 100%);
  --gradient-pop-4: linear-gradient(
    0deg,
    #632cca -33%,
    #62289e 10%,
    #30216b 50%,
    #1f1638 100%
  );
  --gradient-pop-5: linear-gradient(
    180deg,
    #ffd542 0%,
    #ff5050 25%,
    #af43ff 100%
  );
  --gradient-mood: linear-gradient(
    180deg,
    #d8c5ef 0%,
    rgba(225, 213, 238, 0) 100%
  );

  --shadow-xl: 0px 3px 2px 0px rgba(var(--color-midnight-rgb), 0.02),
    0px 6px 5px 0px rgba(var(--color-midnight-rgb), 0.03),
    0px 12px 10px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 22px 18px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 42px 34px 0px rgba(var(--color-midnight-rgb), 0.05),
    0px 100px 80px 0px rgba(var(--color-midnight-rgb), 0.07);
  --shadow-md: 0px 2px 2px 0px rgba(var(--color-midnight-rgb), 0.04),
    0px 6px 5px 0px rgba(var(--color-midnight-rgb), 0.06),
    0px 15px 14px 0px rgba(var(--color-midnight-rgb), 0.08),
    0px 50px 46px 0px rgba(var(--color-midnight-rgb), 0.12);

  --blur-md: blur(10px);
  --blur-xl: blur(128px);

  --font-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: "GT America", var(--font-base);
  --font-display: "RT Alias Medium", var(--font-base);

  --corner-md: 12px;
}

@property --border-radius {
    syntax: '<integer>';
    inherits: true;
    initial-value: 4;
}
@property --pixel-size {
    syntax: '<integer>';
    inherits: true;
    initial-value: 4;
}
@property --link-color-stop-a {
    syntax: '<color>';
    inherits: false;
    initial-value: #205eff;
}
@property --link-color-stop-b {
    syntax: '<color>';
    inherits: false;
    initial-value: #c238bd;
}
.pixel {
  --border-radius: 8;
  --pixel-size: 4;
  --background: var(--gradient-pop-1);
  position: relative;
  border-radius: calc(var(--border-radius) * 1px);
}
.pixel::before {
  content: '';
  position: absolute;
  top: calc(var(--pixel-size) * 1px);
  right: 0;
  bottom: calc(var(--pixel-size) * 1px);
  left: 0;
  background: var(--background);
  z-index: -1;
}
.pixel::after {
  content: '';
  position: absolute;
  top: 0;
  right: calc(var(--pixel-size) * 1px);
  bottom: 0;
  left: calc(var(--pixel-size) * 1px);
  background: var(--background);
  z-index: -1;
}

@supports (mask-image: paint(pixel)) or (-webkit-mask-image: paint(pixel)) {
    .js .pixel {
        background: none !important;
    }
    .js .pixel::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: -1;
        overflow: hidden;
        border-radius: 0;
        background: var(--background);
        -webkit-mask-image: paint(pixel);
        mask-image: paint(pixel);
    }
    .js .pixel::after {
      content: none;
    }
}

html {
  font-family: var(--font-body);
  color: var(--color-midnight);
  min-height: 100vh;
}

::selection {
  background: var(--color-blue);
  color: white;
}

.gradient-text::selection {
  --fill: white;
  color: var(--fill);
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}

.gradient-text {
  background: var(--fill, var(--gradient-pop-1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 40rem;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 52rem) {
  .container {
    max-width: 50rem;
  }
}

@media (min-width: 64rem) {
  .container {
    max-width: 62rem;
  }
}

@media (min-width: 82rem) {
  .container {
    max-width: 80rem;
  }
}

.head-sm {
  font-family: var(--font-display);
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
}

.head-md {
  font-family: var(--font-display);
  font-size: 2.625rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
}

.elevation-xl {
  box-shadow: var(--shadow-xl);
}

.elevation-md {
  box-shadow: var(--shadow-md);
}

.checklist {
  --marker-size: 2.75rem;
  display: grid;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  padding-left: 2rem;
}

.checklist > li {
  position: relative;
  display: flex;
  align-items: center;
}

.checklist > li::before {
  content: "";
  display: block;
  width: var(--marker-size);
  height: var(--marker-size);
  background: var(--color-dawn);
  border-radius: 50%;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: calc(var(--marker-size) * 0.5);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath d='M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59L21 7z' fill='rgba(153, 0, 147, 1)'/%3E%3C/svg%3E");
}

@media (min-width: 52rem) {
  .checklist {
    width: initial;
    padding-left: 0;
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
  }
}
