@layer components {
	.prose {
		@apply body mx-auto w-full max-w-prose tracking-wide text-astro-gray-200 lg:text-lg;
		line-height: 1.75em;
	}

	.prose > p {
		@apply my-4;
	}

	.prose > hr {
		@apply my-8 border-astro-gray-500;
	}

	.prose > h2 {
		@apply mb-4 mt-10 font-obviously text-[32px] font-normal leading-[38px] text-white;
	}

	.prose > h3 {
		@apply mb-4 mt-10 font-obviously text-2xl font-normal leading-tight text-white;
	}

	.prose > img {
		@apply my-4;
	}

	.prose strong {
		@apply font-medium text-white;
	}

	.prose ul {
		@apply my-4 pl-8;
	}

	/* the ::marker selector doesn't allow customizing the spacing around the marker as easily */
	.prose ul li::before {
		content: "";
		background: url("../icons/star.svg") center no-repeat;
		display: inline-block;
		width: 10px;
		height: 10px;
		margin-right: 8px;
		margin-left: -18px;
	}

	.prose ol {
		@apply my-4 list-inside list-decimal pl-4;
	}
	.prose ol ::marker {
		@apply inline-block font-mono font-bold text-astro-pink-light;
	}

	.prose li {
		@apply my-2;
	}

	.prose :where(a) {
		@apply font-bold text-astro-pink-light underline underline-offset-2 hover:no-underline;
	}

	.prose > p code {
		@apply mx-0.5 inline-block rounded-lg bg-astro-gray-500 px-2 align-baseline text-sm leading-6 text-astro-gray-100;
	}

	.prose > pre {
		@apply my-6 rounded-md border border-astro-gray-400 bg-transparent px-5 py-3 text-sm;
	}
}
