@import "./prose.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply inline-flex h-14 items-center justify-center gap-4 rounded-full border border-astro-gray-100 px-10 text-center font-sans text-base font-medium leading-none tracking-wide text-white no-underline transition hover:bg-white/10;
	}

	.button.button-primary {
		@apply border-none bg-blue-purple-gradient text-white hover:bg-blue-purple-gradient hover:brightness-75;
	}

	.button.button-white {
		@apply border-none bg-astro-gray-100 text-astro-blue hover:brightness-75;
	}

	.button.button-sm {
		@apply h-10 gap-2 px-6 text-sm tracking-wide;
	}
	.button.button-xs {
		@apply h-6 gap-2 px-3 text-xs tracking-wide;
	}
}
