---
import { Sprite } from 'astro-icon'

export interface Props {
	tag: App.ThemeTag
}

const TOOLTIPS = {
	js: 'JavaScript',
	scss: 'SCSS',
	tailwind: 'TailwindCSS',
	preact: 'Preact',
	react: 'React',
	svelte: 'Svelte',
	solid: 'SolidJS',
	vue: 'Vue 3',
}

const { tag } = Astro.props as Props

const spriteName = `themes/${tag}`
---

<div data-tip={TOOLTIPS[tag]}>
	<Sprite name={spriteName} size='1em' />
</div>
