---
import TagBadge from './TagBadge.astro'

export interface Props {
	tags: App.ThemeTag[]
}

const { tags } = Astro.props as Props
---

<div class='flex p-4 gap-x-2 text-midnight text-xl sm:text-lg'>
	{tags.map(tag => <TagBadge tag={tag} />)}
</div>
