---
import type { HTMLAttributes } from "astro/types"
import houstonHappy from "../../_assets/houston-happy.png"

export type Props = Omit<HTMLAttributes<"aside">, "slot">

const { class: className, ...attrs } = Astro.props
---

<aside
	class:list={[
		"noise-panel py-6 md:py-8 px-6 md:px-12 xl:px-20 flex flex-col lg:flex-row items-center gap-6 lg:gap-10 text-center lg:text-start",
		className,
	]}
	{...attrs}
>
	<div class="flex items-center gap-5">
		<img
			src={houstonHappy.src}
			width={houstonHappy.width}
			height={houstonHappy.height}
			class="h-16 w-auto"
			loading="lazy"
			decoding="async"
			alt=""
		/>
		<h2 class="heading-4 lg:whitespace-nowrap">Submit your site</h2>
	</div>
	<p class="body mb-2 flex-1 lg:mb-0">
		Anyone is welcome to submit a site for our Showcase. If you have questions about building your
		own site using Astro, join our community on <a class="link link-underline" href="/chat"
			>Discord</a
		>!
	</p>
	<a href="/showcase/submit" class="button-primary" target="_blank">Submit site</a>
</aside>
