---
import Button from '../../../components/Button.js'
import PageTitle from '../../../components/PageTitle.astro'
import Base from '../../../layouts/Base.astro'
---

<Base title="Theme successfully submitted">
    <PageTitle>
        <Fragment slot="title">Thanks for submitting your theme!</Fragment>
        We try to review all theme submissions within two weeks. In the meantime,
        join our active community on Discord!
        <br />
        <br />
        <Button href="/themes">Back to Themes</Button>
    </PageTitle>
</Base>
