---
import type { ComponentProps } from 'astro/types';
import BlogLinkCard from './BlogLinkCard.astro';

interface Props {
	slugs: Array<ComponentProps<typeof BlogLinkCard>['slug']>;
}
---

<div class="my-6 grid gap-8 lg:gap-10 grid-cols-[repeat(auto-fit,minmax(min(100%,18rem),1fr))]">
	{Astro.props.slugs.map((slug) => <BlogLinkCard {slug} />)}
</div>
