---

const { id, href, class: className = 'primary' } = Astro.props
---

<a
  href={href}
  class:list={[
    className,
    "px-4 py-2 inline-flex justify-center rounded-full border border-transparent text-base font-normal transition-all ease-in-out duration-500 hover:cursor-pointer",
  ]}
>
  <slot />
</a>

<style>
    .primary {
        @apply bg-white hover:bg-white/90
    }
    .secondary {
        @apply text-[#F2F6FA]/70 hover:text-[#F2F6FA] bg-[#2C2C2C]/60 hover:bg-[#2C2C2C]/30 hover:border-[#2C2C2C]
    }
    .ghost {
      @apply bg-transparent text-white hover:bg-white/5
    }
</style>
