---
export interface Props {
    id?: string;
    title?: string;
}

const { id, title } = Astro.props as Props;
---

<section>
    {title && (
        <h2 class="text-xs pb-3 font-display font-bold tracking-wider uppercase text-dusk">{title}</h2>
    )}

    <div {id} class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 grid-flow-row-dense">
        <slot />
    </div>
</section>