---
export interface Props {
    id?: string;
    title?: string;
}

const { id, title } = Astro.props as Props;
---

<section {id}>
    {title && (
        <h2 class="pb-3 text-xs font-bold tracking-wider uppercase font-display text-dusk">{title}</h2>
    )}
    <ul class="grid grid-flow-row-dense grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        <slot />
    </ul>
</section>