<div class='max-w-7xl mx-auto pb-16 sm:pb-24 sm:pt-8'>
	<div class='sm:text-center'>
		<h1 class='text-3xl md:text-3xl font-bold font-display text-gradient'>
			<slot name='title'></slot>
		</h1>
		<div class='max-w-2xl mt-5 mx-auto'>
			<slot></slot>
		</div>
	</div>
</div>
