---
import MainLayout from "~/layouts/MainLayout.astro"
import FailHouston from "./_assets/fail-houston.webp"

export const prerender = true;
---

<MainLayout title="Page not found">
	<section class="grid-container relative overflow-clip py-12 sm:py-16 md:py-20 lg:py-24 xl:py-28">
		<div class="my-auto flex flex-col items-center h-full justify-center gap-8">
			<img
				src={FailHouston.src}
				width={FailHouston.width}
				height={FailHouston.height}
				class="w-auto h-48 sm:56 md:h-64 lg:h-72 animate-float"
				alt=""
			/>
			<div class="flex flex-col items-center text-center mt-8">
				<h1 class="code text-white text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-semibold">
					404
				</h1>
				<p class="body-large lg:text-3xl mt-3 mb-2">Houston, we have a problem.</p>
				<p class="body lg:body-large">
					We couldn’t find that link.<br class="sm:hidden" /> Check the address or <a
						class="link-underline text-astro-pink-light border-astro-pink-light">head back home</a
					>.
				</p>
			</div>
		</div>
		<div
			class="noise-underlay bleed-full absolute inset-x-0 bottom-0 h-[50vw] translate-y-[60%] opacity-50 bg-blue-purple-gradient mask-radial-gradient"
		>
		</div>
	</section>
</MainLayout>

<script>
	if ("fathom" in window) {
		window.addEventListener("load", () => window.fathom.trackGoal("D4HJRKZ6", 0))
	}
</script>
