---
import MainLayout from "~/layouts/MainLayout.astro"
import FailHouston from "./_assets/fail-houston.webp"
---

<MainLayout title="Page not found" canonicalURL={null}>
	<section
		class="grid-container relative overflow-hidden py-12 sm:py-16 md:py-20 lg:py-24 xl:py-28"
	>
		<div class="my-auto flex h-full flex-col items-center justify-center gap-8">
			<img
				src={FailHouston.src}
				width={FailHouston.width}
				height={FailHouston.height}
				class="sm:56 h-48 w-auto animate-float md:h-64 lg:h-72"
				alt=""
			/>
			<div class="mt-8 flex flex-col items-center text-center">
				<h1 class="code text-5xl font-semibold text-white sm:text-6xl md:text-7xl lg:text-8xl">
					404
				</h1>
				<p class="body-large mb-2 mt-3 lg:text-3xl">Houston, we have a problem.</p>
				<p class="body lg:body-large">
					We couldn’t find that link.<br class="sm:hidden" /> Check the address or <a
						href="/"
						data-astro-prefetch
						class="link-underline border-astro-pink-light text-astro-pink-light">head back home</a
					>.
				</p>
			</div>
		</div>
		<div
			class="bleed-full absolute inset-x-0 bottom-0 z-blur h-[50vw] translate-y-[60%] bg-blue-purple-gradient opacity-50 mask-radial-gradient"
		>
		</div>
	</section>
</MainLayout>

<script>
	if ("fathom" in window) {
		window.addEventListener("load", () => window.fathom.trackGoal("D4HJRKZ6", 0))
	}
</script>
