---
import { Icon, Sprite } from 'astro-icon';
import BaseHead from '../components/BaseHead.astro';
import BaseLayout from '../components/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import PixelLink from '../components/PixelLink.astro';
import Panel from '../components/Panel.astro';
import Checklist from '../components/Checklist.astro';
import ChecklistItem from '../components/ChecklistItem.astro';
import Footer from '../components/Footer.astro';

import Title from '../components/landing/Title.astro';
import Hero from '../components/landing/Hero.astro';
import Trusted from '../components/landing/Trusted.astro';
import Demo from '../components/landing/Demo.astro';
import DemoTTI from '../components/landing/DemoTTI.astro';
import DemoPartialHydration from '../components/landing/DemoPartialHydration.astro';
import Section from '../components/landing/Section.astro';
import Quote from '../components/landing/Quote.astro';
import Integrations from '../components/landing/Integrations.astro';
import Performance from '../components/landing/Performance.astro';
import Sponsors from '../components/landing/Sponsors.astro';

const headline = 'Build fast websites, faster.'
const tagline = 'Astro is a site builder for a new era of the web. It’s powerful at build time and ultra-lightweight at runtime.'

const meta = {
	title: 'Astro',
	description: `${headline} ${tagline}`,
	canonicalURL: new URL('.', Astro.site)
}
---

<html lang="en">

<head>
	<BaseHead {...meta} />
	<style global>
		:root {
			scroll-padding-top: 10rem;
		}
		main {
			max-width: 100vw;
			overflow: hidden;
		}
	</style>
</head>

<body>
	<BaseLayout>
		<Nav marginBottom slot="nav" />

		<Hero>
			<Fragment slot="title">{headline}</Fragment>
			<Fragment slot="tagline">{tagline}</Fragment>
			<PixelLink href="https://docs.astro.build">Read the docs</PixelLink>
			<PixelLink variant="outline" href="https://astro.new">Get Started</PixelLink>
		</Hero>
		
		<Trusted>
			<Fragment slot="title">Developers around the world rely on Astro</Fragment>
			<Fragment>
				<li>
					<Icon name="logos/google" title="Google" height="36" />
				</li>
				<li>
					<Icon name="logos/netlify" title="Netlify" height="36" />
				</li>
				<li>
					<Icon name="logos/divriots" title="Div Riots" height="28" />
				</li>
				<li>
					<Icon name="logos/monogram" title="Monogram" height="28" />
				</li>
				<li>
					<Icon name="logos/navillus" title="Navillus" height="40" />
				</li>
			</Fragment>
		</Trusted>

		<Demo gradient>
			<Title slot="title" id="ship-less-javascript">Ship less JavaScript</Title>
			<p>Astro statically renders your entire site to HTML and CSS, removing any unused JS along the way. You can use components from any framework and still ship a lightning-fast, zero JS site.</p>

			<DemoTTI slot="illustration" />
		</Demo>

		<Demo reverse>
			<Title slot="title" id="partial-hydration">Built-in Partial Hydration</Title>
			<p>Interactive websites require JS—with Astro's selective hydration primitives, you're in full control over when your components are loaded.</p>
			<DemoPartialHydration slot="illustration" />
		</Demo>

		<Section>
			<Panel pad={2} background="var(--gradient-pop-3)">
				<Fragment slot="title">
					<h3 class="head-md"><Title id="framework-friendly">Framework Friendly.</Title></h3>
					<p>Use what you know&mdash;leverage your existing framework components with Astro.</p>
				</Fragment>

				<Checklist cols={4}>
					<ChecklistItem href="https://astro.new/minimal">
						<Sprite role="img" name="frameworks/js" size={24} slot="icon" />
						Vanilla
					</ChecklistItem>
					<ChecklistItem href="https://astro.new/framework-react">
						<Sprite role="img" name="frameworks/react" size={24} slot="icon" />
						React
					</ChecklistItem>
					<ChecklistItem href="https://astro.new/framework-svelte">
						<Sprite role="img" name="frameworks/svelte" size={24} slot="icon" />
						Svelte
					</ChecklistItem>
					<ChecklistItem href="https://astro.new/framework-vue">
						<Sprite role="img" name="frameworks/vue" size={24} slot="icon" />
						Vue
					</ChecklistItem>
					<ChecklistItem href="https://astro.new/framework-preact">
						<Sprite role="img" name="frameworks/preact" size={24} slot="icon" />
						Preact
					</ChecklistItem>
					<ChecklistItem href="https://astro.new/framework-lit">
						<Sprite role="img" name="frameworks/lit" size={24} slot="icon" />
						Lit
					</ChecklistItem>
					<ChecklistItem href="https://astro.new/framework-solid">
						<Sprite role="img" name="frameworks/solid" size={24} slot="icon" />
						Solid
					</ChecklistItem>
					<ChecklistItem href="https://astro.new/framework-alpine">
						<Sprite role="img" name="frameworks/alpine" size={24} slot="icon" />
						Alpine
					</ChecklistItem>
				</Checklist>
			</Panel>
		</Section>

		<Quote pad={2}>
			<a slot="logo" href="https://devtools.fm/episode/14">
				<span>
					<Sprite width="9em" height="3em" name="logos/devtoolsfm" title="devtools.fm" />
				</span>
			</a>
			<Fragment slot="quote">Astro is really shaping up to be one of the formative ways to build mostly-static sites.</Fragment>
			<Fragment slot="cite">Justin Bennett, devtools.fm Host</Fragment>
		</Quote>

		<Integrations>
			<Title slot="title" id="batteries-included">
				Batteries Included
			</Title>
			<Fragment>
				<p>Astro comes with everything you need out of the box. From authoring pages as Markdown with Components to automatically generating sitemaps and RSS feeds, we&rsquo;ve got you covered.</p>
			</Fragment>
		</Integrations>


		<Performance>
			<Title slot="title" id="peak-performance">Peak Performance</Title>
			<Fragment>
				<p>Site performance has a tangible impact on the success of your business. Astro sites can be up to 40% faster and use 90% less JavaScript compared to leading static site generators.</p>
				<p style="opacity: 0.75; margin-top: 1rem;">
					<small>Did you know? 87% of websites currently fail Google's Core Web Vitals (CWV) benchmark. Astro is on a mission to change that.</small>
				</p>
			</Fragment>
		</Performance>

		<Sponsors>
			<Title id="sponsors" slot="title">Sponsored by</Title>
		</Sponsors>

		<Footer slot="footer" />
	</BaseLayout>

	<script type="module" src="/src/scripts/animations.ts"></script>
</body>

</html>
