---
import { Icon, Sprite } from 'astro-icon';
import BaseHead from '../components/BaseHead.astro';
import Banner from '../components/Banner.astro';
import Nav from '../components/Nav.astro';
import PixelLink from '../components/PixelLink.astro';
import Panel from '../components/Panel.astro';
import Checklist from '../components/Checklist.astro';

import Hero from '../components/landing/Hero.astro';
import Trusted from '../components/landing/Trusted.astro';
import Demo from '../components/landing/Demo.astro';
import Section from '../components/landing/Section.astro';
import Quote from '../components/landing/Quote.astro';
import Integrations from '../components/landing/Integrations.astro';
import Performance from '../components/landing/Performance.astro';
import Community from '../components/landing/Community.astro';
import Sponsors from '../components/landing/Sponsors.astro';
import Footer from '../components/landing/Footer.astro';

import { getStars } from '../utils.ts';
const stars = await getStars();

const meta = {
	title: 'Astro',
	description: 'Build faster websites with less client-side JavaScript',
	canonicalURL: new URL('.', Astro.site)
}
---

<html lang="en">

<head>
	<link rel="preload" as="script" href="/pixel.worklet.js" />
	<script>
		window.addEventListener('DOMContentLoaded', () => {
			document.body.classList.add('js');
		});
		if ('paintWorklet' in CSS) {
			CSS.paintWorklet.addModule('/pixel.worklet.js');
		}
	</script>
	<BaseHead {...meta} />
	<style>
		main {
			max-width: 100vw;
			overflow: hidden;
		}
		[astro-icon="logos/stackblitz"] {
			transform: translateX(-0.5em);
		}
	</style>
</head>

<body>
	<Sprite.Provider>
		<Banner items={['Astro v1.0.0 is now live!', 'Read the documentation to get started!']} />
		<Nav offset={2} />

		<main>
			<Hero>
				<Fragment slot="title">Static sites, solved.</Fragment>
				<Fragment slot="tagline">Astro is a new kind of static site builder—one that delivers lightning-fast performance with a best-in-class developer experience.</Fragment>
				<PixelLink href="/docs/getting-started">Read the docs</PixelLink>
				<PixelLink variant="outline" href="https://astro.new">Try it now</PixelLink>
			</Hero>
			
			<Trusted>
				<Fragment slot="title">Developers around the world rely on Astro</Fragment>
				<Fragment>
					<li>
						<Icon name="logos/google" height="2.25rem" />
					</li>
					<li>
						<Icon name="logos/netlify" height="2.25rem" />
					</li>
					<li>
						<Icon name="logos/divriots" height="1.75rem" />
					</li>
					<li>
						<Icon name="logos/navillus" height="2.5rem" />
					</li>
				</Fragment>
			</Trusted>

			<Demo>
				<Fragment slot="title">Ship less Javascript</Fragment>
				<p>Astro statically renders your entire site to HTML and CSS, removing any unused JS along the way. You can use components from any framework and still ship a lightning-fast, zero JS site.</p>

				<div slot="illustration">
					<Icon name="demo-a" width="631" height="530" />
				</div>
			</Demo>

			<Demo reverse>
				<Fragment slot="title">Built-in Partial Hydration</Fragment>
				<p>Interactive websites require JS—with Astro's selective hydration primitives, you're in full control over when your components are loaded.</p>

				<div slot="illustration">
					<Icon name="demo-b" width="631" height="530" />
				</div>
			</Demo>

			<Section>
				<Panel background="var(--gradient-pop-3)">
					<Fragment slot="title">
						<h3 class="head-md">Batteries Included.</h3>
						<p>Astro does the heavy lifting in the background&mdash;no plugins required.</p>
					</Fragment>

					<Checklist>
						<li>Markdown Support</li>
						<li>TypeScript</li>
						<li>CSS Modules</li>
						<li>PostCSS, Sass, Less, Stylus</li>
						<li>Built-in SEO</li>
						<li>Sitemaps</li>
						<li>RSS Feeds</li>
						<li>Pagination</li>
					</Checklist>
				</Panel>
			</Section>

			<Quote>
				<Fragment slot="logo">
					<Sprite width="9em" height="2em" name="logos/stackblitz" title="StackBlitz" />
				</Fragment>
				<Fragment slot="quote">Increasingly convinced of Astro VS framework specific SSR/SSGs. Huge opportunity to unify the web ecosystem's efforts.</Fragment>
				<Fragment slot="cite">Eric Simons, StackBlitz CEO</Fragment>
			</Quote>

			<Integrations>
				<Fragment slot="title">
					Integration Ready
				</Fragment>
				<Fragment>
					<p>You don't have to rebuild your existing components to benefit from Astro. Astro supports React, Svelte, Vue, Preact, Lit, Solid, and any other frameworks.</p>
					<p>If you don't need a framework, Astro can just as easily use HTML with progressively enhanced vanilla JS.</p>
				</Fragment>
			</Integrations>
			
			<Performance>
				<Fragment slot="title">Peak Performance</Fragment>
				<Fragment>
					<p>Site performance has a tangible impact on the success of your business. Astro sites can be up to 40% faster and use 90% less JavaScript compared to leading static site generators.</p>
					<p style="opacity: 0.75; margin-top: 1rem;">
						<small>Did you know? 87% of websites currently fail Google's Core Web Vitals (CWV) benchmark. Astro is on a mission to change that.</small>
					</p>
				</Fragment>
			</Performance>

			<Community>
				<Fragment slot="title">Join our community</Fragment>
				<p>Learn more about Astro, get support, and meet thousands of other devs in our Discord community!</p>
			</Community>

			<Sponsors>
				<Fragment slot="title">Sponsored by</Fragment>
			</Sponsors>

			<Footer>
				<Fragment slot="logo">
					<a href="https://devtools.fm/episode/14">
						<span>
							<Sprite width="9em" height="3em" name="logos/devtoolsfm" title="devtools.fm" />
						</span>
					</a>
				</Fragment>
				<Fragment slot="quote">Astro is really shaping up to be one of the formative ways to build mostly-static sites.</Fragment>
				<Fragment slot="cite">Justin Bennett, devtools.fm Host</Fragment>
			</Footer>
		</main>
	</Sprite.Provider>
</body>

</html>
