---
import { Sprite } from "astro-icon"
import MainLayout from "~/layouts/MainLayout.astro"
import ContentFirstFast from "./_components/ContentFirstFast.astro"
import FullSpeedAhead from "./_components/FullSpeedAhead.astro"
import GetStarted from "./_components/GetStarted.astro"
import Hero from "./_components/Hero.astro"
import Sponsors from "./_components/Sponsors.astro"
import ToolingAndEcosystem from "./_components/ToolingAndEcosystem.astro"
---

<Sprite.Provider>
	<MainLayout image={{ src: "/og/astro.jpg", alt: "Astro - Build the web you want." }}>
		<Hero />
		<div class="relative">
			<div class="bg-grid absolute inset-0 z-grid"></div>
			<div class="relative grid gap-32 sm:gap-40 md:gap-48 lg:gap-64">
				<FullSpeedAhead />
				<ContentFirstFast />
				<ToolingAndEcosystem />
				<GetStarted />
			</div>
		</div>
		<Sponsors />
	</MainLayout>
</Sprite.Provider>
