---
import BaseHead from '../components/BaseHead.astro';

const meta = {
	title: 'Astro',
	description: 'Build faster websites with less client-side JavaScript',
	canonicalURL: new URL('.', Astro.site)
}
---

<html lang="en">

<head>
	<BaseHead {...meta} />
</head>

<body>
	<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
</body>

</html>
