---
import CardGrid from '../components/CardGrid.astro'
import MaxWidth from '../components/MaxWidth.astro'
import PageTitle from '../components/PageTitle.astro'
import PressCard, { Props as PressCardProps } from '../components/PressCard.astro'
import Layout from '../layouts/Base.astro'

const assets: PressCardProps[] = [
    {
        title: 'Full Logo Light',
        description: 'Please use this logo in most circumstances on light backgrounds.',
        background: 'light',
        svg: '/assets/press/full-logo-light.svg',
        png: '/assets/press/full-logo-light.png'
    },
    {
        title: 'Full Logo Dark',
        description: 'Please use this logo in most circumstances on dark backgrounds.',
        background: 'dark',
        svg: '/assets/press/full-logo-dark.svg',
        png: '/assets/press/full-logo-dark.png'
    },
    {
        title: 'Simple Full Logo Light',
        description: "Please use this logo in cases where the Full Logo Light won't work.",
        background: 'light',
        svg: '/assets/press/simple-full-logo-light.svg',
        png: '/assets/press/simple-full-logo-light.png'
    },
    {
        title: 'Simple Full Logo Dark',
        description: "Please use this logo in cases where the Full Logo Dark won't work.",
        background: 'dark',
        svg: '/assets/press/simple-full-logo-dark.svg',
        png: '/assets/press/simple-full-logo-dark.png'
    },
    {
        title: 'Logomark Light',
        description: 'Please only use the logomark for very small representations of Astro and in illustrations with written consent by Astro.',
        background: 'light',
        svg: '/assets/press/logomark-light.svg',
        png: '/assets/press/logomark-light.png'
    },
    {
        title: 'Logomark Dark',
        description: 'Please only use the logomark for very small representations of Astro and in illustrations with written consent by Astro.',
        background: 'dark',
        svg: '/assets/press/logomark-dark.svg',
        png: '/assets/press/logomark-dark.png'
    },
    {
        title: 'Simple Logomark Light',
        description: "Please only use this logomark if the full-color logomark won't work and be sure to abide by the same rules as outlined in the full-color logomark's brief description.",
        background: 'light',
        svg: '/assets/press/simple-logomark-light.svg',
        png: '/assets/press/simple-logomark-light.png'
    },
    {
        title: 'Simple Logomark Dark',
        description: 'Please only use this logomark in cases where there is a busy dark/colored/photo background and abide by the same rules as the full-color logomark.',
        background: 'dark',
        svg: '/assets/press/simple-logomark-dark.svg',
        png: '/assets/press/simple-logomark-dark.png'
    }
]
---

<Layout title="Press">
    <PageTitle>
        <Fragment slot="title">Astro Logos</Fragment>
        <Fragment>Feel free to download and use the logo assets below. Please do not modify or change the resources below. Be sure to abide by the usage rules noted under each asset.</Fragment>
    </PageTitle>

    <div class="py-16">
        <MaxWidth as="section">
            <CardGrid>
                {assets.map(asset => (<PressCard {...asset} />))}
            </CardGrid>
        </MaxWidth>
    </div>
</Layout>