---
import Layout from '../layouts/Content.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import CardsBlock from '../components/blocks/CardsBlock.astro';
import TitleBlock from '../components/blocks/TitleBlock.astro';
import ShowcaseCard from '../components/showcase/ShowcaseCard.astro';
import { fetchShowcase } from '../data/showcase.ts';

const meta = {
    title: 'Showcase',
    description: "Explore what's possible with Astro and get inspired for your next project."
}

const showcase = await fetchShowcase();
---

<Layout meta={meta}>
    <Nav slot="nav" />

    <TitleBlock>
        <Fragment slot="title">{meta.title}</Fragment>

        <p>{meta.description}</p>
    </TitleBlock>

    <CardsBlock>
        {showcase.map(item => (<ShowcaseCard showcase={item} />))}
    </CardsBlock>

    <Footer slot="footer" />
</Layout>
