---
import ExternalLinkIcon from "~/icons/ExternalLinkIcon.jsx"
---

<aside class="grid gap-4 text-astro-gray-200">
	<h2 class="heading-4 text-astro-gray-100 lg:heading-3">Best Practices</h2>
	<p>What we look for when reviewing submissions:</p>
	<ul class="grid list-disc gap-2 pl-8">
		<li>Uses the latest release of Astro</li>
		<li>Free theme source code is available in a public repo</li>
		<li>All NPM dependencies used are public</li>
	</ul>
	<p>Looking for inspiration for your theme's preview images? Check out our image templates:</p>
	<a href="/resources/image-templates/" target="_blank" class="button button-primary button-sm">
		View Image Templates <ExternalLinkIcon class="h-4 w-4" />
	</a>
</aside>
