---
import MaxWidth from './MaxWidth.astro'

export interface Props {
    title?: string
    type?: 'tip' | 'warning' | 'error'
    class?: string
}
const { type = 'tip', title, class: className } = Astro.props
---

<MaxWidth as="aside">
    <div
        class:list={[
            type,
            className,
            'flex flex-col p-4 bg-primary-100 text-primary-900 rounded-md'
        ]}
    >
        {title && <h3 class="font-bold text-lg text-blue-600">{title}</h3>}
        <slot />
    </div>
</MaxWidth>

<style>
    aside > div > :global(* + *) {
        margin-top: 1em;
    }
</style>
