---
import { Image } from '@astrojs/image/components';
import { l1, l2, l3 } from '../data/contributors.json'
import { getSponsors } from '../data/sponsors/sponsors';

const individuals = [...l3, ...l2, ...(await getSponsors()), ...l1].filter(u => u.avatar_url || u.image).splice(0, 72);
---

<div>
    <ul class="flex flex-row mt-4 gap-2 flex-wrap justify-center mx-auto">
        {individuals.map(user => (
        <li>
            <span>
                <span data-initials={'ak'} class=" relative overflow-hidden rounded-full block w-8 h-8 bg-primary-100">
                    <Image class="relative" loading="lazy" src={user.avatar_url || user.image} width={96} aspectRatio="1:1" alt={user.login || user.name} format="jpeg" />
                </span>
            </span>
        </li>
        ))}
    </ul>
</div>
