<section class="text-center text-xl flex flex-col items-center justify-center my-16 space-y-0">
    <div class="inline-flex">
        <slot name="logo" />
    </div>
    <blockquote class="not-italic">
        <p><slot name="quote" /></p>
        <cite class="text-2xl md:text-3xl not-italic"><slot name="cite" /></cite>
    </blockquote>
</section>
