---
type Props = {
	lg?: boolean
	class?: string
}

const { lg = false, class: className } = Astro.props
---

<h3
	class:list={[
		lg && "xl:heading-2 xl:text-[3.5rem]",
		"heading-3 font-semibold text-gray-100",
		className,
	]}
>
	<slot />
</h3>
