---

---

<p
	class="code absolute right-0 top-0 m-px -translate-y-px translate-x-px rounded-b-md bg-orange-yellow-gradient px-3 py-1 text-sm font-bold uppercase tracking-widest text-astro-gray-700"
>
	<slot />
</p>
