---
---

<p
	class="absolute code font-bold text-sm bg-orange-yellow-gradient text-astro-gray-700 tracking-widest px-3 py-1 m-px uppercase top-0 right-0 translate-x-px -translate-y-px rounded-b-md"
>
	<slot />
</p>
