---
import type { HTMLAttributes } from "astro/types"

export type Props = HTMLAttributes<"div">

const { class: className, ...attrs } = Astro.props
---

<div class:list={["grid gap-8 lg:gap-10", className]} {...attrs}>
	<slot />
</div>

<style>
	div > :global(*) {
		@apply flex-1;
	}
</style>
