---
import Icon from 'astro-icon';
import HeaderDropDown from './HeaderDropDown.astro';
---

<HeaderDropDown label="Community">
	<li>
		<a
			href="/chat/"
			class="flex items-center gap-2 rounded-md p-3 leading-none transition hover:bg-astro-dark-700 hover:text-white"
		>
			<Icon name="social/discord" size="16" /> Discord
		</a>
	</li>
	<li>
		<a
			href="https://opencollective.com/astrodotbuild"
			class="flex items-center gap-2 rounded-md p-3 leading-none transition hover:bg-astro-dark-700 hover:text-white"
		>
			<Icon name="heart" size="16" /> Sponsors
		</a>
	</li>
	<li>
		<a
			href="https://shop.astro.build/"
			class="flex items-center gap-2 rounded-md p-3 leading-none transition hover:bg-astro-dark-700 hover:text-white"
		>
			<Icon name="shopping-bag" size="16" /> Merch
		</a>
	</li>
</HeaderDropDown>
