---
import type { HTMLAttributes } from "astro/types"
import type { RequireSome } from "~/helpers/types.js"

export type Props = RequireSome<HTMLAttributes<"a">, "href">
---

<a target="_blank" rel="noopener noreferer" {...Astro.props}>
	<slot />
</a>
