<div
    class:list={[
        'max-w-7xl mx-auto my-16 px-4 sm:px-6 md:px-8 flex',
        Astro.props.reverse ? 'flex-row-reverse' : false
    ]}
>
    <div class="flex-none p-8">
        <div
            class="w-64 h-64 p-[0.1875rem] rounded-full ring-1 ring-slate-900/10 shadow overflow-hidden bg-gradient-to-r from-sky-500 to-primary-500"
        >
        </div>
    </div>
    <div class="flex-initial">
        <h2 class="mt-8 font-semibold text-primary-500 dark:text-primary-400">
            Constraint-based
        </h2>
        <p
            class="mt-4 text-3xl sm:text-4xl text-slate-900 font-extrabold tracking-tight dark:text-slate-50 "
        >
            An API for your design&nbsp;system.
        </p>
        <p class="mt-4 max-w-3xl space-y-6 ">
            Utility classes help you work within the constraints of a system
            instead of littering your stylesheets with arbitrary values. They
            make it easy to be consistent with color choices, spacing,
            typography, shadows, and everything else that makes up a
            well-engineered design system.
        </p><a
            class="group inline-flex items-center h-9 rounded-full text-sm font-semibold whitespace-nowrap px-3 focus:outline-none focus:ring-2 bg-primary-50 text-primary-600 hover:bg-primary-200 hover:text-primary-700 focus:ring-primary-500 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-neutral-50 dark:focus:ring-slate-500 mt-8"
            href="/docs/utility-first"
            >Learn more<span class="sr-only"
                >, utility-first fundamentals
            </span><svg
                class="overflow-visible ml-3 text-primary-300 group-hover:text-primary-400 dark:text-slate-500 dark:group-hover:text-slate-400"
                width="3"
                height="6"
                viewBox="0 0 3 6"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path d="M0 0L3 3L0 6"></path>
            </svg>
        </a>
    </div>
</div>
