---
import siteInfo from "~/data/site-info.js"
import AstroLogo from "./AstroLogo.astro"
import ResourcesMenu from "./ResourcesMenu.astro"
import SocialLinks from "./SocialLinks.astro"

const socialLinks = siteInfo.socialLinks.filter((link) => !link.footerOnly)
---

<a href="/" data-astro-prefetch title="Home" data-home-link>
	<AstroLogo />
</a>

<script>
	import { getElement } from "~/helpers/dom.js"
	getElement("[data-home-link]", HTMLAnchorElement).addEventListener("contextmenu", (event) => {
		event.preventDefault()
		window.location.href = "/press#assets"
	})
</script>

<div class="ml-16 hidden shrink flex-row items-center gap-16 lg:flex">
	<a href="https://docs.astro.build" class="link">Documentation</a>
	<a href="/showcase/" data-astro-prefetch class="link">Showcase</a>
	<ResourcesMenu />
	<a href="/blog/" data-astro-prefetch class="link">Blog</a>
</div>

<div class="flex-1"></div>

<div class="hidden gap-4 sm:flex">
	<SocialLinks links={socialLinks} />
	<a href="https://studio.astro.build/" class="button button-white button-sm hidden lg:flex"
		>Astro Studio</a
	>
</div>
