---
import Icon from 'astro-icon';
import siteInfo from '~/data/site-info.js';
import ChevronIcon from '~/icons/ChevronIcon.jsx';
import LayersIcon from '~/icons/LayersIcon.jsx';
import OpenBookIcon from '~/icons/OpenBookIcon.jsx';
import PaletteIcon from '~/icons/PaletteIcon.jsx';
import SocialLinks from './SocialLinks.astro';
---

<nav
	aria-label="Primary"
	class="text-xl flex flex-col divide-y divide-astro-gray-500 pb-12 text-left [&>*]:p-6"
>
	<a href="/showcase/" data-astro-prefetch class="link">Showcase</a>
	<details class="group">
		<summary class="accordion link flex cursor-pointer list-none items-center justify-between">
			Resources
			<ChevronIcon
				class="inline-block size-3 rotate-0 transition-transform group-open:-rotate-180 duration-300"
			/>
		</summary>
		<div class="mt-4 flex flex-col gap-4 text-xl font-light">
			<a href="/themes/" data-astro-prefetch class="link flex items-center gap-4">
				<PaletteIcon /> Themes
			</a>
			<a href="/integrations/" data-astro-prefetch class="link flex items-center gap-4">
				<LayersIcon /> Integrations
			</a>
			<a
				href="https://docs.astro.build/en/tutorial/0-introduction/"
				class="link flex items-center gap-4"
			>
				<OpenBookIcon /> Tutorials
			</a>
		</div>
	</details>
	<a href="/blog/" data-astro-prefetch class="link">Blog</a>
	<details class="group">
		<summary class="accordion link flex cursor-pointer list-none items-center justify-between">
			Community
			<ChevronIcon
				class="inline-block size-3 rotate-0 transition-transform group-open:-rotate-180 duration-300"
			/>
		</summary>
		<div class="mt-4 flex flex-col gap-4 text-xl font-light">
			<a href="/chat/" class="link flex items-center gap-4">
				<Icon name="social/discord" size="24" /> Discord
			</a>
			<a href="https://opencollective.com/astrodotbuild" class="link flex items-center gap-4">
				<Icon name="heart" size="24" /> Sponsors
			</a>
			<a href="https://shop.astro.build/" class="link flex items-center gap-4">
				<Icon name="shopping-bag" size="24" /> Merch
			</a>
		</div>
	</details>
	<div class="flex flex-wrap justify-between gap-12 gap-y-6">
		<SocialLinks links={siteInfo.socialLinks} />
		<a href="https://docs.astro.build/" class="button button-primary flex-grow sm:max-w-sm"
			>Read the docs</a
		>
	</div>
</nav>
