---
import siteInfo from "~/data/site-info.js"
import ResourcesDropdown from "./ResourcesDropdown.tsx"
import SocialLinks from "./SocialLinks.astro"

const socialLinks = siteInfo.socialLinks.filter((link) => !link.footerOnly)
---

<nav
	aria-label="Primary"
	class="heading-3 flex flex-col divide-y divide-astro-gray-500 pb-12 text-left [&>*]:p-6"
>
	<a href="https://docs.astro.build/" class="link"> Docs</a>
	<a href="/showcase/" data-astro-prefetch class="link"> Showcase</a>
	<ResourcesDropdown client:idle />
	<a href="/blog/" data-astro-prefetch class="link"> Blog</a>
	<div class="flex flex-col gap-6">
		<SocialLinks links={socialLinks} />
		<a href="https://docs.astro.build/" class="button button-primary"> Get Started</a>
	</div>
</nav>
