---
import siteInfo from '~/data/site-info.js';
import AstroLogo from './AstroLogo.astro';
import HeaderDropDown from './HeaderDropDown.astro';
import SocialLinks from './SocialLinks.astro';

const socialLinks = siteInfo.socialLinks.filter((link) => !link.footerOnly);
---

<nav class="w-full flex items-center justify-between">
	<a href="/" data-astro-prefetch title="Home" data-home-link>
		<span class="sr-only">Astro Logo</span>
		<AstroLogo />
	</a>

	<div class="hidden shrink flex-row items-center gap-12 lg:flex text-base">
		<a href="https://docs.astro.build" class="link">Documentation</a>
		<a href="/blog/" data-astro-prefetch class="link">Blog</a>
		<a href="/showcase/" data-astro-prefetch class="link">Showcase</a>
		<HeaderDropDown
			label="Resources"
			items={[
				{ href: '/themes/', label: 'Themes', icon: 'palette', prefetch: true },
				{ href: '/integrations/', label: 'Integrations', icon: 'layers', prefetch: true },
				{
					href: 'https://docs.astro.build/en/tutorial/0-introduction/',
					label: 'Tutorials',
					icon: 'open-book',
				},
				{ href: '/case-studies/', label: 'Case studies', icon: 'file-alt', prefetch: true },
			]}
		/>
		<HeaderDropDown
			label="Community"
			items={[
				{ href: '/chat/', label: 'Discord', icon: 'social/discord' },
				{ href: 'https://opencollective.com/astrodotbuild', label: 'Sponsors', icon: 'heart' },
				{ href: 'https://shop.astro.build/', label: 'Merch', icon: 'shopping-bag' },
			]}
		/>
	</div>

	<div class="hidden gap-4 lg:flex">
		<SocialLinks links={socialLinks} />
	</div>
</nav>

<script>
	import { getElement } from '~/helpers/dom.js';
	getElement('[data-home-link]', HTMLAnchorElement).addEventListener('contextmenu', (event) => {
		event.preventDefault();
		window.location.href = '/press#assets';
	});
</script>
