---
import siteInfo from "~/data/site-info.js"
import ChevronIcon from "~/icons/ChevronIcon.jsx"
import LayersIcon from "~/icons/LayersIcon.jsx"
import OpenBookIcon from "~/icons/OpenBookIcon.jsx"
import PaletteIcon from "~/icons/PaletteIcon.jsx"
import SocialLinks from "./SocialLinks.astro"

const socialLinks = siteInfo.socialLinks.filter((link) => !link.footerOnly)
---

<nav
	aria-label="Primary"
	class="heading-3 flex flex-col divide-y divide-astro-gray-500 pb-12 text-left [&>*]:p-6"
>
	<a href="https://docs.astro.build/" class="link"> Docs</a>
	<a href="/showcase/" data-astro-prefetch class="link"> Showcase</a>
	<details class="group">
		<summary class="accordion link flex cursor-pointer list-none items-center justify-between">
			Resources
			<ChevronIcon class="inline-block rotate-0 transition-transform group-open:-rotate-180" />
		</summary>
		<div class="mt-4 flex flex-col gap-4 text-2xl font-light">
			<a href="/themes/" data-astro-prefetch class="link flex items-center gap-4">
				<PaletteIcon /> Themes
			</a>
			<a href="/integrations/" data-astro-prefetch class="link flex items-center gap-4">
				<LayersIcon /> Integrations
			</a>
			<a
				href="https://docs.astro.build/en/tutorial/0-introduction/"
				class="link flex items-center gap-4"
			>
				<OpenBookIcon /> Tutorials
			</a>
		</div>
	</details>
	<a href="/blog/" data-astro-prefetch class="link"> Blog</a>
	<div class="flex flex-col gap-6">
		<SocialLinks links={socialLinks} />
		<a href="https://docs.astro.build/" class="button button-primary"> Get Started</a>
	</div>
</nav>
