---
import { getImage } from '@astrojs/image'
import { Icon } from 'astro-icon'
import bg from '../assets/space-pattern-BG.png'
import CallToAction from './CallToAction.astro'

const { src: phone } = await getImage({ src: bg, width: 672, format: 'webp' })
const { src: tablet } = await getImage({
    src: bg,
    width: 1280,
    format: 'webp'
})
const { src: desktop } = await getImage({
    src: bg,
    width: 1920,
    format: 'webp'
})
---

<section class="py-24 bg-neutral-900 bg-cover bg-center lg:overflow-hidden" style={`--phone: url(${phone}); --tablet:
    url(${tablet}); --desktop: url(${desktop});`}>
    <main class="mx-auto max-w-7xl px-4 sm:mt-12">
        <div class="my-4 text-center">
            <a href="/blog"
                class="inline-flex items-center text-neutral-50 text-center bg-neutral-900 rounded-full p-1 pr-2 sm:text-base lg:text-sm xl:text-base hover:text-neutral-200">
                <span
                    class="px-3 py-0.5 text-neutral-50 text-xs font-semibold leading-5 uppercase tracking-wide bg-primary-600  rounded-full">Astro
                    v1.0 is here
                </span>
                <span class="ml-3 text-sm">Read the launch post</span>
                <Icon pack="heroicons-solid" name="chevron-right" size={20} aria-hidden="true" />
            </a>
        </div>
        <div class="text-center">
            <h1 class="text-4xl tracking-tight font-extrabold text-neutral-50 sm:text-5xl md:text-6xl">
                <span class="block xl:inline">
                    The fast, all-in-one web framework.
                </span>
            </h1>
            <p class="mt-3 max-w-md mx-auto  text-neutral-50 md:mt-5 text-lg md:max-w-3xl">
                Astro builds faster websites using the tools and libraries that you already love.
                <!-- Astro is quick to learn, fun to use, and impossible to slow down. -->
                <!-- Astro supports your existing UI components and your favorite libraries.  -->
            </p>
            <div class="mt-5 max-w-xs mx-auto flex gap-4 sm:justify-center md:mt-8">
                    <CallToAction href="https://docs.astro.build/en/getting-started/" primary>Get Started</CallToAction>
                    <!-- <CallToAction href="https://docs.astro.build/en/concepts/why-astro/">Why Astro?</CallToAction> -->
            </div>
        </div>
    </main>
    <slot />

</section>

<style>
    section {
        background-image: var(--phone);
    }

    @media (min-width: 672px) {
        section {
            background-image: var(--tablet);
        }
    }

    @media (min-width: 1280px) {
        section {
            background-image: var(--desktop);
        }
    }
</style>