---
import { Sprite } from 'astro-icon'
import CallToAction from './CallToAction.astro'
import ClickToCopy from './ClickToCopy.astro'
import HeroCard from './HeroCard.astro'
import Starfield from './Starfield.astro'
---

<section class="pt-24 pb-8 overflow-hidden relative bg-primary-800 z-10">
    <Starfield />
    <div class="mx-auto max-w-7xl px-4 sm:px-6">
        <div class="lg:grid lg:grid-cols-12 mx-auto lg:gap-16 justify-center">
            <div
                class="relative z-10 px-4 mb-8 sm:px-6 sm:text-center sm:mb-16 lg:mb-0 lg:px-0 lg:text-left lg:flex col-span-6"
            >
                <div class="lg:py-24">
                    <a
                        href="/blog/astro-2/"
                        target="_blank"
                        class="-mx-3 sm:mx-0 mb-4 xs:mb-0 inline-flex gap-y-2 gap-x-2 flex-wrap xs:flex-nowrap items-center text-neutral-50 xs:border border-primary-100/30 rounded-full xs:p-1 xs:pr-2 sm:text-base lg:text-sm xl:text-base hover:border-opacity-50 hover:text-white"
                    >
                        <span
                            class="px-3 py-0.5 text-neutral-50 text-xs font-semibold leading-5 uppercase tracking-wide bg-primary-600 rounded-full"
                            >Astro 2.0 is here
                        </span>
                        <span
                            class="border xs:border-0 border-primary-100/30 rounded-full inline-flex items-center pl-3 pr-1.5 py-0.5 xs:p-0"
                        >
                            <span class="text-sm">Read the launch post</span>
                            <Sprite
                                name="heroicons-solid:chevron-right"
                                size={20}
                                aria-hidden="true"
                            />
                        </span>
                    </a>
                    <h1
                        class="mt-4 text-4xl tracking-tight font-extrabold text-neutral-50 sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl"
                    >
                        <span class="block"> Build faster websites.</span>
                    </h1>
                    <p
                        class="mt-3 sm:mx-auto lg:mx-0 max-w-lg text-lg sm:text-2xl text-neutral-200 sm:mt-5"
                    >
                        Pull content from anywhere and serve it fast with
                        Astro's next-gen island architecture.
                    </p>
                    <div
                        class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start"
                    >
                        <div>
                            <CallToAction
                                href="https://docs.astro.build/en/getting-started/"
                                >Get Started
                            </CallToAction>
                        </div>
                        <div class="relative mt-3 sm:mt-0 sm:ml-3">
                            <div
                                class="font-mono bg-neutral-900 text-neutral-50 rounded-md flex items-center justify-center pl-3 pr-4 py-3 border border-transparent md:text-lg shadow-primary-700"
                            >
                                <Sprite
                                    name="heroicons-solid:chevron-right"
                                    size={22}
                                    aria-hidden="true"
                                    class="text-secondary-500 mr-2"
                                />
                                <span id="heroCommand" class="select-all">npm create astro@latest</span>
                                <ClickToCopy target="#heroCommand" class="ml-4 text-neutral-400 hover:text-neutral-50 active:text-neutral-50 transition-colors duration-150" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <HeroCard />
        </div>
    </div>
</section>
