---
import { Icon } from 'astro-icon'

interface Props {
    icons: { label: string; name: string; href?: string }[]
    class?: string
}

const { class: className = '', icons, } = Astro.props as Props
---

<ul class:list={[ className, 'flex flex-wrap gap-4 lg:gap-6']}>
    {icons.map(({ name, href, label }) => {
        const Wrapper = href ? `a` : Fragment;
        const props = href ? { href } : {};
        return (
            <li>
                <Wrapper {...props}>
                    <Icon name={name} size={64} class="h-8 w-8 sm:h-10 sm:w-10 lg:h-12 lg:w-12 transition saturate-50 hover:saturate-100" aria-label={label} />
                </Wrapper>
            </li>
        );
    })}
</ul>
