---
import { getIntegrationsForCollection } from "../data/integrations/index.js";
import CardGrid from "./CardGrid.astro";
import IntegrationTeaserCard from "./IntegrationTeaserCard.astro";
const integrations = await getIntegrationsForCollection('official');
---

<CardGrid>
  {integrations
    .filter(integration => ['@astrojs/tailwind','@astrojs/image','@astrojs/partytown'].includes(integration.title))
    .map(integration => <li>
      <IntegrationTeaserCard {integration} />
    </li>)}
</CardGrid>