---
import Section from './Section.astro'
---

<Section
    title="Introducing: Astro Islands"
    subtitle="A new web architecture with Zero JavaScript runtime."
    description="Astro ships zero JS by default. When you need interactive UI, Astro optimizes hydration using isolated component islands."
    style="background: url(/squares.png) no-repeat; background-position: center;"
>
    <div class="my-8">
        <div class="w-96 mx-auto pl-16 scale-125">
            <div class="grid grid-cols-2 items-center justify-center gap-4">
                <div class="flex justify-center col-span-2">
                    <button
                        type="button"
                        class="transition-all hover:scale-105 hover:shadow-xl hover:bg-blue-100 hover:text-blue-600 inline-flex items-center h-12 w-full mr-16 px-4 py-2 gap-2 text-sm font-medium rounded-md shadow-md border border-blue-200 hover:border-blue-300 shadow-blue-100 text-blue-800 bg-neutral-100"
                    >
                        <svg
                            class="h-5 w-5"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>Search</span>
                    </button>
                </div>
                <div class="flex justify-end">
                    <button
                        type="button"
                        class="transition-all hover:scale-105 hover:shadow-xl "
                    >
                        <div
                            class="hover:bg-blue-100 hover:text-blue-600  inline-flex  items-center h-12 px-4 py-2 gap-2 text-sm font-medium rounded-md shadow-md border border-blue-200 hover:border-blue-300 shadow-blue-100 text-blue-800 bg-neutral-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                stroke-width="2"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                                ></path>
                            </svg>
                            <span>Buy Now</span>
                        </div>
                    </button>
                </div>
                <div class="flex">
                    <button
                        type="button"
                        class="transition-all hover:scale-105 hover:shadow-xl"
                    >
                        <div
                            class="hover:bg-blue-100 hover:text-blue-600  h-12 w-12 flex justify-center items-center rounded-md shadow-md border border-blue-200 hover:border-blue-300 shadow-blue-100 text-blue-800 bg-neutral-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-neutral-800 focus:ring-neutral-50"
                        >
                            <span class="sr-only">View notifications</span>
                            <!-- Heroicon name: outline/bell -->
                            <svg
                                class="h-6 w-6"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                                ></path>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</Section>
