---
import { getEntry } from "astro:content"
import Avatar from "./Avatar.astro"

export type Props = {
	name: string
}

const { name } = Astro.props

const mention = await getEntry("authors", name)
---

{
	mention && (
		<span class="m-0 inline-block align-middle leading-none">
			<a
				href={mention.data.twitter ?? mention.data.mastodon}
				title={`Follow ${mention.data.name} on ${mention.data.twitter ? "Twitter" : "Mastodon"}`}
				class="m-0 inline-flex items-center space-x-1 whitespace-nowrap font-medium"
			>
				<Avatar name={name} />
				<span class="underline">{mention.data.name}</span>
			</a>
		</span>
	)
}
