---
import { Sprite } from 'astro-icon';
import { social } from '../config.ts';

const { invert = false, offset } = Astro.props;
---

<nav class={`main ${invert ? 'invert' : ''}`.trim()} style={`--offset: 2.5;`}>
    <ul class="container">
        <li class="logo">
            <a href="/" title="Astro">
                <h1 class="visually-hidden">Astro</h1>
                <Sprite class="logomark" name="logo" size="3em" />
                <Sprite class="wordmark" name="wordmark" height="3.5em" width="6em" />
            </a>
        </li>

        <li>
            <a href="/docs">
                Docs
            </a>
        </li>

        {social.map(item => (
            <li class="icon">
                <a href={item.href} title={item.title}>
                    <Sprite name={item.icon} size="1.5em" />
                </a>
            </li>
        ))}
    </ul>
</nav>

<script type="module" hoist src={Astro.resolve('../scripts/nav.ts')}></script>

<style>
nav {
    --offset-height: calc(var(--offset) * 1rem);
    width: 100%;
    position: sticky;
    top: calc((var(--offset-height) * -1) - 1px);
    padding: 0.5rem 0;
    background: linear-gradient(0deg, rgba(var(--color-tan-rgb), 0.7), rgba(var(--color-tan-rgb), 1));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 2;
    margin-top: 0;
    margin-bottom: -4.5rem;
}
nav.invert {
    background: transparent;
    color: white;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}

nav::before {
    content: '';
    display: block;
    width: 100%;
    height: var(--offset-height);
    z-index: -2;
}
nav.invert::before {
    background: #1f1638;
    margin-top: -0.5rem;
}

nav::after {
    position: absolute;
    content: '';
    top: var(--offset-height);
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    box-shadow: var(--shadow-md);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    z-index: -1;
}

nav[stuck]::after {
    opacity: 0.5;
    transition-duration: 600ms;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.33rem;
    padding: 0 0.5rem;
}
li {
    color: var(--color-dusk);
    font-family: var(--font-display);
    font-weight: 700;
}
nav.invert li {
    color: white;
}
li + li {
    margin-left: 0;
}
.logo {
    font-size: 1rem;
    margin-right: auto;
}
.logo a {
    display: flex;
    text-transform: lowercase;
    align-items: center;
    color: var(--color-midnight);
}
.logo svg {
    transform: scale(0.8);
}
.logomark {
    color: inherit;
}
nav.invert .logo svg {
    color: white;
    fill: white;
}
.wordmark {
    display: none;
    color: inherit;
}

@media (min-width: 52rem) {
    nav {
        /* height: calc(2px + 4.5rem); */
    }
    .logo svg {
        transform: scale(1);
    }
    .wordmark {
        display: block;
    }
}
li:not(.icon) + .icon {
    margin-left: 0.75em;
    padding-left: 0.75em;
    border-left: 1px solid var(--color-dusk);
}
a {
    display: flex;
    height: 100%;
    color: inherit;
    text-decoration: none;
    text-transform: lowercase;
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-property: transform, color;
    padding: 0 0.5rem;
}
a:focus,
a:hover {
    color: var(--color-purple);
}
a:active {
    color: var(--color-blue);
}

.icon a svg {
    transform: scale(0.9);
}

.icon a:focus svg,
.icon a:hover svg {
    transform: scale(1);
}

[astro-icon="logo"] {
    margin-right: 0.25em;
    transform: translateY(0.5em);
}
</style>
