---
export interface Props {
  title?: string;
  type?: 'tip' | 'warning' | 'error';
}
const { type = 'tip', title } = Astro.props;
---

<aside class="font-sans rounded border px-6 py-4 bg-slate-50">
  <div class="mt-3 mb-1 leading-normal text-lg">
    {title && <h3 class="mt-0">{title}</h3>}
    <slot />
  </div>
</aside>
