---
export type Props = {
	lg?: boolean
	title?: string
	body?: string
	wide?: boolean
}

const { lg = false, title, body, wide = false } = Astro.props
---

<div class="flex flex-col items-center">
	<slot name="title">
		<h1
			class:list={[
				"mb-10 px-4 text-center lg:heading-1",
				lg ? "heading-2" : "heading-3 sm:heading-2",
				wide ? "max-w-5xl" : "max-w-3xl",
			]}
		>
			{title}
		</h1>
	</slot>
	<p
		class:list={[
			"body body-large px-2 text-center text-astro-gray-100 md:px-8",
			wide ? "max-w-5xl" : "max-w-3xl",
		]}
		style="text-wrap: balance;"
	>
		<slot name="body">{body}</slot>
	</p>
</div>
