---
import Pill from './Pill.astro'
import type { Link } from '../types.js'

export interface Props {
    links: Link[]
    current: Link
    title: string
    prefetch?: boolean
    class?: string
}

const {
    links,
    current,
    title,
    prefetch,
    class: className
} = Astro.props as Props
---

<section class:list={['w-full', className]}>
    <h2 class="pb-2 text-xs font-bold tracking-wider uppercase text-primary-700">
        {title}
    </h2>
    <ul class="flex flex-row flex-wrap gap-2">
        {links.map((link) => (
            <li>
                <Pill {...link} current={current === link} prefetch={prefetch} />
            </li>
        ))}
    </ul>
</section>

