---
import { Image } from 'astro:assets';
import type { Author } from '../pages/themes/_types/index.ts';

interface Props {
	author: Author;
}

const { author } = Astro.props;
---

<div class="flex lg:flex-col flex-wrap items-center gap-4">
	<Image
		inferSize
		src={author.avatar ?? ''}
		height={48}
		width={48}
		class="size-12 lg:w-full h-fit"
		alt="Your avatar"
	/>
	<h1 class="border-astro-gray-500 lg:hidden heading-3">{author.name}</h1>
	<div class="flex flex-col gap-4 pt-2 lg:pt-8 w-full">
		<div class="flex items-center justify-between">
			<small class="code text-astro-gray-200">Joined</small>
			{
				new Date(author.createdAt).toLocaleDateString('en-US', {
					year: 'numeric',
					month: 'long',
					day: 'numeric',
				})
			}
		</div>
		<hr class="border-astro-gray-500" />
		<div class="flex items-center justify-between">
			<small class="code text-astro-gray-200">GitHub</small>
			<a class="link" href={`https://github.com/${author.username}`}>@{author.username}</a>
		</div>
		{
			author.url && (
				<hr class="border-astro-gray-500" />
				<div class="flex items-center justify-between">
					<small class="code text-astro-gray-200">Website</small>
						<a class="link" href={author.url}>
							{new URL(author.url).hostname}
						</a>
				</div>
			)
		}
	</div>
</div>
