---
import LayersIcon from '~/icons/LayersIcon.jsx';
import OpenBookIcon from '~/icons/OpenBookIcon.jsx';
import PaletteIcon from '~/icons/PaletteIcon.jsx';
import HeaderDropDown from './HeaderDropDown.astro';
---

<HeaderDropDown label="Resources">
	<li>
		<a
			href="/themes/"
			data-astro-prefetch
			class="flex items-center gap-2 rounded-md p-3 leading-none transition hover:bg-astro-dark-700 hover:text-white"
		>
			<PaletteIcon class="h-4 w-4" aria-hidden="true" /> Themes
		</a>
	</li>
	<li>
		<a
			href="/integrations/"
			data-astro-prefetch
			class="flex items-center gap-2 rounded-md p-3 leading-none transition hover:bg-astro-dark-700 hover:text-white"
		>
			<LayersIcon class="h-4 w-4" aria-hidden="true" /> Integrations
		</a>
	</li>
	<li>
		<a
			href="https://docs.astro.build/en/tutorial/0-introduction/"
			class="flex items-center gap-2 rounded-md p-3 leading-none transition hover:bg-astro-dark-700 hover:text-white"
		>
			<OpenBookIcon class="h-4 w-4" aria-hidden="true" /> Tutorials
		</a>
	</li>
</HeaderDropDown>
