---
import { Sprite } from 'astro-icon'

export interface Props {
  href: string;
  invert?: boolean;
}

const { href, invert = false } = Astro.props as Props;
---

<a {href}
  class:list={[
    'group',
    'inline-flex items-center justify-center border border-transparent',
    'text-base font-medium',
    'decoration-transparent transition-colors duration-200',
    'hover:underline hover:decoration-violet-400 decoration-2',
    {
      'text-white': invert,
    }
  ]}
>
  <slot />
  <Sprite
      pack="heroicons-solid"
      name="chevron-right"
      size={20}
      class="text-violet-400 -ml-px -mb-0.5 opacity-50 group-hover:opacity-100 motion-safe:group-hover:translate-x-0.5 motion-safe:transition-all duration-200"
      aria-hidden="true"
  />
</a>
