---
import type { HTMLAttributes } from "astro/types"

export type Props = HTMLAttributes<"section"> & {
	columnReverse?: boolean
}

const { class: className, columnReverse = false, ...attrs } = Astro.props
---

<div
	class:list={[
		"flex border-t border-astro-gray-500 lg:flex-row",
		columnReverse ? "flex-col-reverse" : "flex-col",
		className,
	]}
	{...attrs}
>
	<aside
		class:list={[
			"min-w-[30ch] border-inherit lg:max-w-xs lg:border-r xl:max-w-sm",
			columnReverse ? "border-t lg:border-t-0" : "border-b lg:border-b-0",
		]}
	>
		<slot name="sidebar" />
	</aside>

	<section class="mx-auto w-full px-4 lg:px-0">
		<slot />
	</section>
</div>
