<a
	href="#main"
	class="button-base bg-astro-gray-100 text-astro-gray-700 skip-link outline-astro-pink z-50 font-bold outline outline-[3px] outline-offset-0 drop-shadow-2xl"
>
	Skip to content
</a>

<style>
	.skip-link {
		left: calc(50% - 100px);
		position: absolute;
		bottom: 100;
		transform: translateY(-200%);
		transition: none;
	}

	.skip-link:focus {
		transform: translateY(0);
	}
</style>
