<a
	href="#main"
	class="skip-link button-base z-50 mt-3 bg-white font-bold text-astro-gray-700 outline outline-[3px] outline-offset-0 outline-astro-pink drop-shadow-2xl"
>
	Skip to content
</a>

<style>
	.skip-link {
		left: calc(50% - 100px);
		position: absolute;
		transform: translateY(-200%);
		transition: none;
	}

	.skip-link:focus {
		transform: translateY(0);
	}
</style>
