---
import ExternalLink from "~/components/ExternalLink.astro"
import DiscordIcon from "~/icons/DiscordIcon.jsx"
import GitHubIcon from "~/icons/GitHubIcon.jsx"
import TwitterIcon from "~/icons/TwitterIcon.jsx"
---

<div class="flex items-center gap-4">
	<ExternalLink class="link" title="Astro on Twitter" href="https://twitter.com/astrodotbuild">
		<TwitterIcon class="w-8" />
	</ExternalLink>
	<ExternalLink class="link" title="Astro on Discord" href="https://astro.build/chat">
		<DiscordIcon class="w-8" />
	</ExternalLink>
	<ExternalLink class="link" title="Astro on GitHub" href="https://github.com/withastro/astro">
		<GitHubIcon class="w-8" />
	</ExternalLink>
</div>
