---
export interface Props {
    subtle?: boolean;
    noGradient?: boolean;
}

const { subtle, noGradient } = Astro.props as Props;
---

<div class:list={[
    "pointer-events-none",
    "absolute inset-0 -z-50 border-t-[3.5rem] border-slate-900",
    subtle && "bg-[length:100%_175%]",
    noGradient ? 'bg-slate-900' : 'bg-gradient-to-b bg-no-repeat bg-purple-800 from-slate-900 to-purple-800'
]}>
    <div class="starfield absolute inset-0" />
</div>

<style>
.starfield {
    background-image: url(/stars.png);
    background-repeat: repeat;
    mask-image: url(/stars-mask.webp);
    mask-repeat: repeat;
}
</style>
