---
interface Props {
	stats: {
		amount: string;
		text: string;
	}[];
}
---

<section class="my-20 w-full max-w-screen-xl mx-auto">
	<div class="mt-4 sm:mt-8 grid grid-cols-2 sm:grid-cols-3 gap-2 lg:gap-4">
		{
			Astro.props.stats.map(({ amount, text }) => (
				<div class="flex flex-col bg-astro-purple-dark/30 border border-astro-dark-100/20 rounded-xl xl:rounded-2xl overflow-hidden">
					<div class="p-4 xl:p-6 space-y-2">
						<p class="block text-white font-light text-sm xl:text-base md:text-balance">
							<span class="block font-semibold text-3xl">{amount}</span>
							{text}
						</p>
					</div>
				</div>
			))
		}
	</div>
</section>
