<section class="text-xl flex flex-row items-center justify-center my-12 space-y-0">
    <div class="inline-flex p-4">
        <slot name="logo" />
    </div>
    <blockquote class="not-italic font-normal">
        <p><slot name="quote" /></p>
        <cite class="text-gray-500 not-italic"><slot name="cite" /></cite>
    </blockquote>
</section>
