<section class="my-12 flex flex-row items-center justify-center space-y-0 text-xl">
	{
		Astro.slots.has("logo") && (
			<div class="inline-flex p-4">
				<slot name="logo" />
			</div>
		)
	}
	<blockquote class="flex flex-col gap-2">
		<p class="text-astro-gray-100"><slot name="quote" /></p>
		<cite><slot name="cite" /></cite>
	</blockquote>
</section>
