---
import CodeHero from "../CodeHero.astro";
---

<CodeHero filename="src/pages/cms-data.astro" lang="astro" code={`---
import { storyblokApi } from "../cms";

const { data } = await storyblokApi.get('cdn/links');
const links = Object.values(data.links);
---
<h1>Using your CMS</h1>
<p>
  With top-level await, Astro makes it easy
  to fetch content from your CMS.
</p>
<ul>
  {links.map((link) => (
    <li><a href={link.slug}>{link.name}</a></li>
  ))}
</ul>
`}>
  <div class="font-black">Using your CMS</div>
  <p class="text-xs mt-3">With top-level <code>await</code>, Astro makes it easy to fetch content from your CMS.</p>
  <ul class="text-xs p-3 leading-relaxed text-sky-300 underline marker:text-neutral-200">
    <li class="list-item list-disc cursor-pointer">Storyblok content</li>
    <li class="list-item list-disc cursor-pointer">Templating with Astro</li>
  </ul>
</CodeHero>
