---
import type { CollectionEntry } from "astro:content"

export type Props = {
	careers: CollectionEntry<"careers">[]
}

const { careers } = Astro.props
---

<ul class="text-start flex w-full max-w-screen-lg flex-col gap-4">
	{
		careers.map((career) => (
			<li class="noise-panel border border-astro-gray-500 bg-astro-gray-600">
				<a
					href={`/careers/${career.slug}`}
					rel="prefetch"
					class="flex items-center justify-between gap-x-12 px-8 py-4"
				>
					<div>
						<h3 class="heading-4 md:heading-3">{career.data.title}</h3>
						<p class="body mt-2 text-astro-gray-300 md:body-large">{career.data.location}</p>
					</div>
					<svg
						width="59"
						height="61"
						viewBox="0 0 59 61"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M27.6464 0.853592L57.2929 30.5L56.5 31.2929V30.5H0V31.5H56.2929L27.6464 60.1465L28.3536 60.8536L58.3536 30.8536L58.7071 30.5L58.3536 30.1465L28.3536 0.146484L27.6464 0.853592Z"
							fill="#858B98"
						/>
					</svg>
				</a>
			</li>
		))
	}
</ul>
