---
import type { HTMLAttributes } from "astro/types"

export type Props = HTMLAttributes<"article"> & {
	image: string
	title: string
}

const { image, title, class: className, ...attrs } = Astro.props
---

<article class:list={[className, "flex flex-col items-center gap-y-3 sm:gap-y-4"]} {...attrs}>
	<img src={image} alt="" class="aspect-square h-16 w-24 object-contain" />
	<h3 class="max-w-[12ch] text-center sm:body-large">{title}</h3>
</article>
