---
import Layout from "~/layouts/Standalone.astro"
import Houston from "../_assets/houston_peep.webp"
---

<Layout title="Signup">
	<div class="bg-grid absolute inset-0 z-grid"></div>
	<div class="mx-8 my-auto flex h-full flex-col items-center justify-center">
		<h1 class="font-obviously text-3xl font-semibold text-white md:text-6xl">Confirmed!</h1>
		<p class="my-6 text-astro-gray-200 md:body-large lg:text-3xl">
			Thanks for signing up to The Astro Newsletter! You'll hear from us soon.
		</p>
		<div class="mt-6 flex flex-col items-center gap-8">
			<p class="body text-base text-astro-gray-200 md:text-xl">
				In the meantime, catch up with what you might have missed.
			</p>
			<a href="/blog" class="button !h-10 max-w-max border-none bg-blue-purple-gradient"
				>Read the blog</a
			>
		</div>
	</div>

	<div class="flex w-full justify-center overflow-clip">
		<img
			src={Houston.src}
			width={Houston.width}
			height={Houston.height}
			class="absolute bottom-0 h-24 w-auto md:h-28 lg:h-32"
			alt=""
		/>
	</div>
</Layout>
