---
import NewsLetterSignup from "~/components/NewsLetterSignup.astro"
import Layout from "~/layouts/Standalone.astro"
import Houston from "../_assets/houston_peep.webp"
---

<Layout title="Signup">
	<div class="bg-grid absolute inset-0 z-grid"></div>
	<div class="mx-8 my-auto flex h-full flex-col items-center justify-center">
		<h1 class="font-heading heading-1 text-3xl font-semibold text-white md:text-6xl">
			Let's keep in touch
		</h1>
		<p class="my-6 text-astro-gray-200 md:body-large lg:text-3xl">
			Enter your email to stay in the know with the latest updates from Astro.
		</p>
		<div class="w-full">
			<NewsLetterSignup skipText={true} />
		</div>
	</div>
	<div class="flex w-full justify-center overflow-clip">
		<img
			src={Houston.src}
			width={Houston.width}
			height={Houston.height}
			class="absolute bottom-0 h-24 w-auto md:h-28 lg:h-32"
			alt=""
		/>
	</div>
</Layout>
