---
import Layout from "~/layouts/Standalone.astro"
import Houston from "../_assets/houston_love.webp"
---

<Layout title="Signup">
	<div class="bg-grid absolute inset-0 z-grid"></div>
	<div class="mx-8 my-auto flex h-full flex-col items-center justify-center">
		<img
			src={Houston.src}
			width={Houston.width}
			height={Houston.height}
			class="mb-12 h-24 w-auto md:h-28 lg:h-32"
			alt=""
		/>
		<h1 class="font-heading heading-1 text-3xl font-semibold text-white md:text-6xl">
			Almost there!
		</h1>
		<p class="my-6 text-astro-gray-200 md:body-large lg:text-3xl">
			Check your inbox to confirm the subscription.
		</p>
	</div>
</Layout>
