---
export interface Props {
    site: App.ShowcaseSite;
}

const { site } = Astro.props as Props;
---

<article class="flex flex-col rounded-lg shadow-md bg-white">
    <a {...site.url} target="_blank" alt={site.title} rel="noopener noreferrer" class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden shadow">
        <span class="sr-only">{site.title}</span>
        <img {...site.image} class="h-auto" loading="lazy" />
    </a>
</article>
