---
import Icon from "astro-icon"


---

<div class='size-full flex items-center justify-between overflow-hidden'>

    <div class="w-1/2 h-full min-h-40 relative flex items-center overflow-hidden">
        <div id="unscanned-docs-container" class="absolute right-2 flex items-center justify-center gap-8">
            {Array(5).fill( 
                <div class="relative">
                    <svg width="64" height="80" viewBox="0 0 64 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8C0 3.58172 3.58172 0 8 0H37.3972C39.3933 0 41.3173 0.746214 42.7914 2.09212L52 10.5L61.8784 21.2016C63.2425 22.6794 64 24.6168 64 26.6279V72C64 76.4183 60.4183 80 56 80H8C3.58172 80 0 76.4183 0 72V8Z" fill="#6B7AAB"/>
                        <path d="M0 8C0 3.58172 3.58172 0 8 0H37C41.4183 0 45 3.58172 45 8V11C45 15.4183 48.5817 19 53 19H56C60.4183 19 64 22.5817 64 27V72C64 76.4183 60.4183 80 56 80H8C3.58172 80 0 76.4183 0 72V8Z" fill="#2F3854"/>
                        <rect x="10" y="27" width="32" height="4" rx="2" fill="#6B7AAB"/>
                        <rect x="10" y="37" width="40" height="4" rx="2" fill="#6B7AAB"/>
                        <rect x="10" y="47" width="28" height="4" rx="2" fill="#6B7AAB"/>
                    </svg>
                    <div class="size-[18px] landing-section absolute -bottom-1.5 -right-2 bg-astro-red rounded-full">
                        <Icon name="ri:close-line" size={14} />
                    </div>
                </div>
            )}
        </div>
    </div>

    <div class="w-1/2 h-full min-h-40 relative flex items-center bg-astro-dark-800 overflow-hidden">
        <div id="scanner-inlet" class="w-px h-full" />
        <div id="scanner-light" class="w-8 h-2/3 blur-lg z-30" />

        <div id="scanned-docs-container" class="absolute z-10 -left-[455px] flex items-center justify-center gap-8">
            {Array(5).fill( 
                <div class="relative">
                    <svg width="66" height="82" viewBox="0 0 66 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M53.3674 11.1609L53.3529 11.1452L53.3371 11.1308L44.1285 2.72287C42.5623 1.29285 40.5181 0.5 38.3972 0.5H9C4.30558 0.5 0.5 4.30558 0.5 9V73C0.5 77.6944 4.30558 81.5 9 81.5H57C61.6944 81.5 65.5 77.6944 65.5 73V27.6279C65.5 25.4911 64.6952 23.4326 63.2458 21.8625L53.3674 11.1609Z" fill="#6B7AAB" stroke="#6B7AAB"/>
                        <path d="M1 9C1 4.58172 4.58172 1 9 1H38C42.4183 1 46 4.58172 46 9V12C46 16.4183 49.5817 20 54 20H57C61.4183 20 65 23.5817 65 28V73C65 77.4183 61.4183 81 57 81H9C4.58172 81 1 77.4183 1 73V9Z" fill="#2F3854"/>
                        <rect x="10" y="27" width="32" height="4" rx="2" fill="#6B7AAB"/>
                        <rect x="10" y="37" width="40" height="4" rx="2" fill="#6B7AAB"/>
                        <rect x="10" y="47" width="28" height="4" rx="2" fill="#6B7AAB"/>
                    </svg>
                    <div class=" absolute -bottom-2 -right-2">
                        <div class="relative landing-section">
                            <Icon name="ri:shield-fill" size={22} class="text-[#3178C6]" />
                            <Icon name="ri:check-line" size={14} class="absolute m-auto inset-0 text-white" />
                        </div>
                    </div>
                </div>
            )}
        </div>
    </div>

</div>

<style>
    #scanner-inlet {
        background: radial-gradient(3337.59% 50% at 50% 50%, rgba(50, 69, 255, 1) 0%, rgba(188, 82, 238, 0) 100%);
    }
    #scanner-light {
        background: linear-gradient(42deg, rgba(50, 69, 255, 0.30) 23.59%, rgba(188, 82, 238, 0.30) 76.41%);
    }

    #unscanned-docs-container {
        animation-play-state: running;
        animation: marquee 40s linear infinite;
    }

    #scanned-docs-container {
        animation-play-state: running;
        animation: marquee 40s linear infinite;
    }

    @keyframes marquee {
        0% { transform: translateX(0); }
        100% {  transform: translateX(100%); }
    }
</style>

<script>
  const docOne = document.getElementById("doc-one") as HTMLElement
  const docTwo = document.getElementById("doc-two") as HTMLElement

  function distanceBetweenElements( elementOne: HTMLElement, elementTwo: HTMLElement) {
    const rect1 = elementOne.getBoundingClientRect()
    const rect2 = elementTwo.getBoundingClientRect()

    const distance = Math.abs(rect2.left - rect1.right)

    console.log(distance)

    return distance
  }

  distanceBetweenElements(docOne, docTwo)
</script>
