---
interface Props {
  tab: string
  class?: string
}

const { tab, class: className } = Astro.props
---

<li
  id={tab}
  role='tabpanel'
  data-tab={tab}
  aria-labelledby={tab}
  class:list={[className]}
>
  <slot />
</li>
