---
type Props = {
	label: string;
	isActive?: boolean;
};
const { label, isActive = false } = Astro.props;
---

<button
    role='tab'
    id={label.toLowerCase()}
    data-tab={label.toLowerCase()}
    tabindex={isActive ? "0" : "-1"}
    aria-selected={isActive ? "true" : "false"}
    class='ecosystem-tab px-6 py-2 group size-fit inline-flex items-center rounded-full bg-astro-dark-600/30 hover:bg-astro-dark-600/70 aria-selected:bg-white transition-all ease-in-out duration-500'
>
  <p class='text-base font-normal text-astro-gray-200 group-aria-selected:bg-clip-text group-aria-selected:text-transparent group-aria-selected:bg-blue-purple-gradient'>
    {label}
  </p>
</button>
