---
type Props = {
	id: string;
	tab: string;
	class?: string;
};

const { id, tab, class: className } = Astro.props;
---

<section
	data-tab={tab}
	role="tabpanel"
	aria-labelledby={tab}
	class:list={[className]}
	id={`ecosystem-panel-${id}`}
>
	<slot />
</section>
