---
import SectionCopy from "../SectionCopy.astro"
import ContentCollections from "./ContentCollections.astro"
import FeaturesCard from "./FeaturesCard.astro"
---

<section class='mt-20 sm:mt-36 w-full max-w-screen-2xl mx-auto px-4 sm:px-8'>
  <SectionCopy
    label='Features'
    title='Everything you need, at your fingertips'
    description='Keep using your favorite UI framework and existing UI components in Astro. Migrate from Create React App to Astro in minutes.'
  />

  <div class='mt-4 sm:mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6'>
    <FeaturesCard
      title='Content Collections'
      description='Content Collections help to organize your documents, validate your frontmatter, and provide automatic TypeScript type-safety for all of your content.'
    >
      <div slot="illustration" class="size-full py-4 sm:py-6 mb-2 sm:mb-4">
        <ContentCollections />
      </div>
  </FeaturesCard>

    <FeaturesCard
      title='Content Collections'
      description='Content Collections help to organize your documents, validate your frontmatter, and provide automatic TypeScript type-safety for all of your content.'
    />
    <FeaturesCard
      title='View Transitions'
      description='Content Collections help to organize your documents, validate your frontmatter, and provide automatic TypeScript type-safety for all of your content.'
    >
      <div slot="illustration" class="py-4 sm:py-6 mb-2 sm:mb-4 mix-blend-luminosity group-hover:mix-blend-normal space-y-2">
        <div class="px-2 flex items-center justify-center gap-2">
          <div class="size-12 min-w-24 sm:size-24 rounded-lg bg-gradient-to-tr from-[#211F2F] to-[#074170]" />
          <div class="w-full min-w-24 h-12 sm:h-24 group-hover:w-24 rounded-lg bg-gradient-to-tr from-[#184560] to-[#08203E] transition-all ease-in-out duration-[1.5s]" />
          <div class="size-12 min-w-24 sm:size-24 group-hover:w-full rounded-lg bg-gradient-to-tr from-[#000328] to-[#103783] transition-all ease-in-out duration-[1.5s]" />
        </div>
        <div class="px-2 flex items-center justify-center gap-2">
          <div class="w-1/2 group-hover:w-full h-12 sm:h-24 rounded-lg bg-gradient-to-tr from-[#243748] to-[#0A3431] transition-all ease-in-out duration-[1.5s]" />
          <div class="w-1/2 h-12 sm:h-24 rounded-lg bg-gradient-to-tr from-[#133A94] to-[#08203E] transition-all ease-in-out duration-[1.5s]" />
        </div>
      </div>
  </FeaturesCard>
    <FeaturesCard
      title='Content Collections'
      description='Content Collections help to organize your documents, validate your frontmatter, and provide automatic TypeScript type-safety for all of your content.'
    />
    <FeaturesCard
      title='Content Collections'
      description='Content Collections help to organize your documents, validate your frontmatter, and provide automatic TypeScript type-safety for all of your content.'
    />
    <FeaturesCard
      title='Content Collections'
      description='Content Collections help to organize your documents, validate your frontmatter, and provide automatic TypeScript type-safety for all of your content.'
    />
    <FeaturesCard
      title='Content Collections'
      description='Content Collections help to organize your documents, validate your frontmatter, and provide automatic TypeScript type-safety for all of your content.'
    />
    <FeaturesCard
      title='Content Collections'
      description='Content Collections help to organize your documents, validate your frontmatter, and provide automatic TypeScript type-safety for all of your content.'
    />
    <FeaturesCard
      title='Content Collections'
      description='Content Collections help to organize your documents, validate your frontmatter, and provide automatic TypeScript type-safety for all of your content.'
    />
  </div>
</section>