---
import SectionCopy from "../SectionCopy.astro"
import ContentCollections from "./ContentCollections.astro"
import FeaturesCard from "./FeaturesCard.astro"
---

<section class='mt-20 sm:mt-36 w-full max-w-screen-2xl mx-auto px-4 sm:px-8'>
  <SectionCopy
    label='Everything you need'
    title="Fully-Featured"
    description='Astro is an all-in-one web framework. It includes everything you need to create a website, built-in from the start.'
  />

  <div class='mt-4 sm:mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6'>
    <FeaturesCard
      title='Content Collections'
      description='Organize your Markdown and MDX with built-in TypeScript type-safety and frontmatter validation.'
    >
      <div slot="illustration" class="size-full py-4 sm:py-6 mb-2 sm:mb-4">
        <ContentCollections />
      </div>
  </FeaturesCard>

    <FeaturesCard
      title='Zero JavaScript, By Default'
      description='Astro only ships the JavaScript you need and automatically strips away the rest for a faster website.'
    >
      <div slot="illustration" class="pt-4 px-4 sm:px-6 sm:pt-6 pb-0 space-y-2 relative">
        <p id="zero-js" class="absolute z-20 left-1/2 -translate-x-1/2 bg-clip-text text-transparent bg-gradient-to-b from-[#495057] to-[#211F2F]">0</p>
        <div class="absolute top-0 left-0 z-10 size-full min-h-40 md:min-h-48 bg-[radial-gradient(#252730_0.5px,transparent_0.5px)] [background-size:5px_5px] [mask-image:radial-gradient(ellipse_50%_60%_at_50%_40%,#ffffff_40%,transparent_100%)]" />
      </div>
  
  </FeaturesCard>

    <FeaturesCard
      title='View Transitions'
      description='Seamlessly morph, fade, and swipe across pages with built-in, browser-native View Transition APIs.'
    >
      <div slot="illustration" class="pt-4 px-4 sm:px-6 sm:pt-6 pb-0 space-y-2 mix-blend-luminosity group-hover:mix-blend-normal">
        <div class="flex items-center justify-center gap-2">
          <div class="size-12 min-w-24 sm:size-24 rounded-lg bg-gradient-to-tr from-[#211F2F] to-[#074170]" />
          <div class="w-full min-w-24 h-12 sm:h-24 group-hover:w-24 rounded-lg bg-gradient-to-tr from-[#184560] to-[#08203E] transition-all ease-in-out duration-[1.5s]" />
          <div class="size-12 min-w-24 sm:size-24 group-hover:w-full rounded-lg bg-gradient-to-tr from-[#000328] to-[#103783] transition-all ease-in-out duration-[1.5s]" />
        </div>
        <div class="flex items-center justify-center gap-2">
          <div class="w-1/2 group-hover:w-full h-12 sm:h-24 rounded-lg bg-gradient-to-tr from-[#243748] to-[#0A3431] transition-all ease-in-out duration-[1.5s]" />
          <div class="w-1/2 h-12 sm:h-24 rounded-lg bg-gradient-to-tr from-[#133A94] to-[#08203E] transition-all ease-in-out duration-[1.5s]" />
        </div>
      </div>
  </FeaturesCard>

    <FeaturesCard
      title='Middleware'
      description='Wrap incoming requests with custom logic like authentication, logging, or data fetching.'
    />
    <FeaturesCard
      title='Actions'
      description='type-safe backend functions you call directly from your frontend JavaScript client code.'
    />
    <FeaturesCard
      title='Environment Variables'
      description='Avoid common configuration mistakes with a built-in API to manage your environment variables.'
    />
    <FeaturesCard
      title='Deployment Adapters'
      description='Add an integration to instantly customize your project for Vercel, AWS, or your favorite hosting platform.'
    />
    <FeaturesCard
      title='UI Integrations'
      description={`Bring your favorite UI frameworks and component libraries with Astro's flexible island architecture`}
    />
    <FeaturesCard
      title='Dev Toolbar'
      description='Extend your development environment with apps and integrations for the built-in development toolbar.'
    />
  </div>
</section>

<style>
  #zero-js {
    font-size: 200px;
    font-weight: 700;
    line-height: 200px;
    @apply drop-shadow-[inset_0px_0px_0px_1.5px_rgba(255,255,255,0.06),inset_0px_1.5px_0px_0px_rgba(255,255,255,0.15)];
  }
</style>