---
import SectionCopy from '../SectionCopy.astro';
import ContentCollections from './feature-cards/ContentCollections.astro';
import Card from './feature-cards/FeatureCard.astro';
import FileBasedRouting from './feature-cards/FileBasedRouting.astro';
import ImageOptimization from './feature-cards/ImageOptimization.astro';
import ServerTemplating from './feature-cards/ServerTemplating.astro';
import ViewTransitions from './feature-cards/ViewTransitions.astro';
import ZeroJS from './feature-cards/ZeroJS.astro';
---

<section class="mt-20 md:mt-24 lg:mt-28 xl:mt-36 w-full max-w-screen-xl mx-auto px-4 sm:px-8">
	<SectionCopy
		label="Everything you need"
		title="Fully Featured"
		description="Astro comes with everything you need to build a modern website. Need more? Extend Astro with integrations."
	/>

	<div
		class="mt-4 sm:mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4 grid-flow-dense"
	>
		<ContentCollections />

		<ZeroJS />

		<ViewTransitions />

		<ImageOptimization />

		<Card
			title="UI Integrations"
			href="https://docs.astro.build/en/guides/framework-components/"
			description="Bring your favorite UI frameworks and component libraries with Astro's flexible island architecture."
			flip
		>
			<div
				class="px-4 pb-4 xl:px-6 flex gap-4 xl:gap-6 items-center grayscale opacity-65 group-hocus:opacity-100 group-hocus:grayscale-0 transition duration-500"
			>
				{
					[
						'logos/angular',
						'logos/preact-logomark',
						'logos/qwik',
						'logos/react-logomark',
						'logos/solidjs-icon',
						'logos/svelte-logomark',
						'logos/vue-logomark',
					].map((name) => <Icon {name} class="w-7 h-auto" />)
				}
			</div>
		</Card>

		<FileBasedRouting />

		<Card
			title="Middleware"
			href="https://docs.astro.build/en/guides/middleware/"
			description="Wrap incoming requests with custom logic like authentication, logging, or data fetching."
		/>

		<Card
			title="Actions"
			href="https://docs.astro.build/en/guides/actions/"
			description="Write type-safe backend functions that you can call directly from your frontend JavaScript client code."
		/>

		<Card
			title="Deployment Adapters"
			href="https://astro.build/integrations/?search=&categories%5B%5D=adapters"
			description="One-line configuration for Netlify, Vercel, AWS, or your favorite hosting platform."
			flip
		>
			<div
				class="px-4 pb-4 xl:px-6 flex gap-4 xl:gap-6 items-center grayscale opacity-65 group-hocus:opacity-100 group-hocus:grayscale-0 transition duration-500"
			>
				{
					[
						'logos/node',
						'logos/cloudflare-logomark',
						'logos/vercel-logomark',
						'logos/netlify-logomark',
						'logos/sst',
						'logos/deno',
						'logos/aws',
					].map((name) => <Icon {name} class="w-7 h-auto" />)
				}
			</div>
		</Card>

		<ServerTemplating />

		<Card
			title="Environment Variables"
			href="https://docs.astro.build/en/guides/environment-variables/"
			description="Avoid common configuration mistakes with a built-in API to manage your environment variables."
		/>

		<Card
			title="Dev Toolbar"
			href="https://docs.astro.build/en/guides/dev-toolbar/"
			description="Extend your development environment with apps and integrations for the built-in development toolbar."
		/>
		<Card
			title="Instant Page Loads"
			href="https://docs.astro.build/en/guides/prefetch/"
			description="Optimize page loading with intelligent automatic prefetching. Pick from the built-in presets or tailor a strategy perfect for your site."
		/>
		<Card
			title="AI-Ready"
			href="https://docs.astro.build/en/guides/build-with-ai/"
			description="Integrate Astro’s official MCP server and context files with your favorite AI tools for a best-in-class development experience."
		/>
	</div>
</section>
