---
const { href, title, description } = Astro.props;
---

<a
  href={href}
  class="flex flex-col bg-astro-dark-800 border border-astro-dark-100/20 hover:border-astro-dark-100/40 rounded-xl xl:rounded-2xl overflow-hidden"
>
  <div class="p-4 xl:p-6 space-y-2">
    <h3 class="text-base text-white font-semibold">{title}</h3>
    <p class="hidden sm:block text-astro-gray-200 font-light text-sm xl:text-base md:text-balance">
      {description}
    </p>
  </div>
</a>
