---
import Link from "../Link.astro"
import { getImage } from "astro:assets"
import bg from "../../_assets/final-cta.png"
import CodeBlock from "~/components/CodeBlock.astro"

const background = await getImage({ src: bg, format: "webp", width: 1280 })
---

<section class="mt-20 sm:mt-36 mx-auto w-full max-w-screen-2xl px-4 sm:px-8">
    <div
      class="overflow-hidden rounded-2xl border-y-[0.5px] border-astro-dark-300/20 bg-cover bg-center"
      style={{ "background-image": `url(${background.src})` }}
    >
      <div
        class="landing-section h-full min-h-[24rem] gap-8 px-4 py-8 sm:py-0 lg:min-h-[44rem] lg:p-24"
      >
        <h2 class="text-balance text-2xl font-heading sm:text-4xl">
          Start building with <br /> Astro today
        </h2>

        <div class="grid grid-rows-2 gap-2">
          <Link href="https://docs.astro.build/" class="primary w-full h-fit">
            <span class="bg-clip-text text-transparent bg-blue-purple-gradient">
              Start Started
            </span>
          </Link>
          <CodeBlock>npm create astro@latest</CodeBlock>
        </div>
      </div>
    </div>
  </section>