---
import { getImage } from "astro:assets"
import bg from "./_assets/final-cta.png"
import CodeBlock from "~/components/CodeBlock.astro"

const background = await getImage({ src: bg, format: "webp", width: 1280 })
---

<section class="mx-auto mb-12 w-full max-w-screen-xl p-4 sm:p-8">
    <div
      class="overflow-hidden rounded-2xl border-y-[0.5px] border-astro-dark-300/20 bg-cover bg-center"
      style={{ "background-image": `url(${background.src})` }}
    >
      <div
        class="landing-section h-full min-h-[20rem] gap-8 px-4 py-8 sm:py-0 lg:min-h-[36rem] lg:p-24"
      >
        <h2 class="text-balance text-2xl font-bold font-heading sm:text-4xl">
          Start building with <br /> Astro today
        </h2>
        <CodeBlock>npm create astro@latest</CodeBlock>
      </div>
    </div>
  </section>