---
import Link from "../Link.astro"
import SectionCopy from "../SectionCopy.astro"

---

<section class="mt-20 sm:mt-36 w-full max-w-screen-2xl mx-auto px-4 sm:px-8">
    <SectionCopy 
        label="Maximum Flexibility" 
        title="Zero Lock-in" 
        description="Keep using your favorite UI framework and existing UI components in Astro. Migrate from Create React App to Astro in minutes.">
      <Link slot="call-to-action" href="https://studio.astro.build/" class="secondary">Integrate your favourite framework</Link>
  </SectionCopy>
</section>