
<div id="stardust" class="w-full h-40 shrink-0 absolute -z-50 rotate-[-7deg] blur-[180px]"></div>

<style>
    #stardust {
        background: linear-gradient(270deg, rgba(64, 222, 191, 0.30) 0%, rgba(51, 75, 169, 0.30) 100%);
    }
</style>