---

---

<div class='w-full h-full shrink-0 absolute -z-50 top-0 bg-gradient-to-tr from-[#0F1C98] to-[#7310A2] blur-[100px]'>
    <div class="size-11/12 bg-gradient-to-tr from-[#1321AC] to-[#881ABD] mix-blend-darken">
    </div>
</div>