---
import PillLink from "../PillLink.astro"
import PageTitleBlock from "~/components/PageTitleBlock.astro"
---

<section>
  <div class="">
    <PillLink href='/db' title='Announcing Astro DB' subtitle='The database for content-driven websites'/> 
    <PageTitleBlock wide lg
      body='Astro DB is a fully managed SQL database that is fast, lightweight, and ridiculously easy-to-use.'
    >
      <h1
        slot='title'
        class='text-balance mb-4 text-center text-3xl/[1.1] font-bold font-heading sm:max-w-[24ch] md:text-4xl/[1.1] lg:text-5xl/[1.1]'
      >
        The database platform for content-driven websites
      </h1>
    </PageTitleBlock>
  </div>
</section>
