---
import Link from "../Link.astro"
import PillLink from "../PillLink.astro"
import CodeBlock from "~/components/CodeBlock.astro"
import PageTitleBlock from "~/components/PageTitleBlock.astro"
import HeroBackground from "./HeroBackground.astro"
---

<section class="relative">
  <div class="mt-16 md:mt-20 lg:mt-24 mx-auto w-full max-w-screen-md flex flex-col items-center justify-center gap-5 md:gap-6 lg:gap-8">
    <PillLink href='/db' title='Announcing Astro DB' subtitle='The database for content-driven websites'/> 
    <PageTitleBlock wide lg
      body="Astro powers the world's fastest websites, client-side web apps, dynamic API endpoints, and everything in-between."
    >
      <h1
        slot='title'
        class='text-balance mb-4 text-center text-3xl/[1.1] font-bold font-heading sm:max-w-[24ch] md:text-4xl/[1.1] lg:text-5xl/[1.1]'
      >
      The web framework for content-driven websites
      </h1>
    </PageTitleBlock>

    <div class="grid grid-rows-2 gap-2">
      <Link href="https://docs.astro.build/" class="primary w-full h-fit">
        <span class="bg-clip-text text-transparent bg-blue-purple-gradient">
          Start building for free
        </span>
      </Link>
      <CodeBlock>npm create astro@latest</CodeBlock>
    </div>
  </div>

  <HeroBackground />
</section>
