---

---

<!-- <div class='w-full h-full shrink-0 absolute -z-50 top-0 bg-gradient-to-tr from-[#0F1C98] to-[#7310A2] blur-[100px]'>
    <div class="size-11/12 bg-gradient-to-tr from-[#1321AC] to-[#881ABD] mix-blend-darken">
    </div>
</div> -->
<svg class="absolute -z-50 m-auto -inset-1/2" width="2353" height="1969" viewBox="0 0 2353 1969" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g style="mix-blend-mode:color" filter="url(#filter0_f_2501_106490)">
    <path d="M1498.92 866.615L1509.79 838.77C1527.89 792.403 1595.24 798.08 1605.33 846.824L1626.74 950.339C1633.15 981.319 1666.36 998.634 1695.43 986.154L1808.23 937.727C1810.97 936.551 1813.81 935.622 1816.71 934.952L1971.23 899.295C2008.37 890.723 2041.06 925.2 2030.52 961.834L1957.51 1215.71C1955.96 1221.11 1953.5 1226.2 1950.26 1230.79L1669.53 1627.12C1653 1650.45 1620.31 1655.2 1597.83 1637.53L1227.89 1346.83C1213.88 1335.82 1206.79 1318.19 1209.27 1300.55L1231.94 1139.44C1235.93 1111.12 1262.8 1091.91 1290.89 1097.3L1473.35 1132.34C1508.17 1139.03 1538.7 1108.34 1531.83 1073.55L1496.44 894.492C1494.6 885.153 1495.46 875.482 1498.92 866.615Z" fill="url(#paint0_linear_2501_106490)"/>
    <path d="M1519.98 612.873L1360.09 730.535C1354 735.021 1346.86 737.889 1339.36 738.87L1209.61 755.832C1174.11 760.473 1161.72 710.286 1195.29 697.87C1215.84 690.271 1221.6 663.943 1206.11 648.453L1076.88 519.221C1053.06 495.399 1059.14 455.315 1088.95 439.622L1304.39 326.214C1319.96 318.018 1338.69 318.61 1353.71 327.771L1625.77 493.687C1663.36 516.609 1655.12 573.406 1612.57 584.702L1536.79 604.817C1530.73 606.425 1525.03 609.158 1519.98 612.873Z" fill="url(#paint1_linear_2501_106490)"/>
    <path d="M648.059 516.645L894.717 640.788C899.473 643.182 904.724 644.429 910.048 644.429C947.227 644.429 957.57 695.467 923.325 709.942L867.1 733.707C861.375 736.127 855.223 737.374 849.007 737.374H649.204C625.142 737.374 604.492 720.235 600.06 696.583L576.436 570.517C568.813 529.838 611.09 498.039 648.059 516.645Z" fill="url(#paint2_linear_2501_106490)"/>
    <path d="M877.221 1068.56L1134.96 938.717C1138.59 936.886 1141.99 934.617 1145.08 931.962L1252.47 839.545C1265.67 828.182 1283.84 824.511 1300.42 829.854L1340.79 842.864C1358.39 848.537 1371.42 863.46 1374.67 881.665L1387.18 951.729C1391.34 975.032 1378.59 998.06 1356.64 1006.9L1085.94 1115.88C1051.74 1129.65 1044.6 1174.94 1072.92 1198.56C1090.6 1213.31 1095.55 1238.43 1084.79 1258.79L1018.05 1385.05C997.124 1424.63 938.726 1418.88 925.928 1375.98L851.803 1127.51C844.879 1104.29 855.588 1079.46 877.221 1068.56Z" fill="url(#paint3_linear_2501_106490)"/>
    <path d="M641.607 842.703L434.831 717.704C405.525 699.989 367.486 716.31 360.131 749.755L321.58 925.053C310.425 975.781 374.434 1007.78 408.313 968.405L469.783 896.972C489.981 873.502 526.438 873.845 546.189 897.692L621.308 988.385C640.381 1011.41 675.268 1012.66 695.94 991.059L756.751 927.507C789.762 893.008 760.254 836.287 713.056 843.516L675.043 849.338C663.465 851.111 651.632 848.763 641.607 842.703Z" fill="url(#paint4_linear_2501_106490)"/>
    <path d="M540.145 1167.23L342.372 1311.07C312.818 1332.56 315.554 1377.47 347.498 1395.22L434.973 1443.81C442.401 1447.94 450.758 1450.11 459.255 1450.11H764.9C792.515 1450.11 814.9 1427.72 814.9 1400.11V1269.59C814.9 1252.67 806.336 1236.89 792.141 1227.67L753.856 1202.79C747.211 1198.48 741.796 1192.51 738.138 1185.48L735.127 1179.7C720.629 1151.84 681.787 1149.21 663.659 1174.85L662.011 1177.18C645.986 1199.85 612.297 1199.67 596.515 1176.83C583.756 1158.37 558.296 1154.03 540.145 1167.23Z" fill="url(#paint5_linear_2501_106490)"/>
    </g>
    <g filter="url(#filter1_f_2501_106490)">
    <path d="M1450.95 1022.46L1426.55 899.08C1424.85 890.525 1425.64 881.664 1428.82 873.541C1445.39 831.115 1507.02 836.314 1516.26 880.918L1526.08 928.353C1532.5 959.321 1565.69 976.631 1594.76 964.165L1670.69 931.594C1673.43 930.42 1676.27 929.492 1679.17 928.823L1782.22 905.066C1819.36 896.502 1852.04 930.987 1841.5 967.619L1789.56 1148.05C1788 1153.45 1785.55 1158.55 1782.3 1163.13L1568.86 1464.17C1552.34 1487.48 1519.68 1492.22 1497.2 1474.58L1219.66 1256.7C1205.64 1245.69 1198.54 1228.05 1201.03 1210.39L1216.44 1100.93C1220.43 1072.62 1247.3 1053.41 1275.38 1058.8L1392.48 1081.27C1427.31 1087.95 1457.83 1057.25 1450.95 1022.46Z" fill="url(#paint6_linear_2501_106490)"/>
    <path d="M1443.08 676.983L1318.86 768.312C1314.07 771.835 1308.46 774.087 1302.56 774.857L1200.4 788.199C1172.49 791.844 1162.75 752.376 1189.16 742.621C1205.33 736.648 1209.86 715.934 1197.67 703.754L1106.25 612.426C1082.41 588.603 1088.49 548.491 1118.32 532.801L1269.7 453.192C1285.26 445.009 1303.97 445.599 1318.98 454.746L1506.56 569.03C1544.17 591.944 1535.93 648.769 1493.36 660.058L1459.88 668.938C1453.83 670.543 1448.13 673.272 1443.08 676.983Z" fill="url(#paint7_linear_2501_106490)"/>
    <path d="M777.674 609.783L952.603 697.742C956.341 699.622 960.467 700.6 964.651 700.6C993.894 700.6 1002.02 740.748 975.084 752.124L930.848 770.804C926.35 772.704 921.516 773.683 916.633 773.683H768.197C744.138 773.683 723.49 756.547 719.054 732.9L706.069 663.672C698.44 622.999 740.702 591.193 777.674 609.783Z" fill="url(#paint8_linear_2501_106490)"/>
    <path d="M946.818 1030.07L1140.51 932.583C1144.14 930.754 1147.54 928.488 1150.63 925.835L1229.64 857.902C1242.84 846.554 1260.99 842.888 1277.56 848.223L1297.57 854.666C1315.18 860.334 1328.22 875.256 1331.47 893.462L1338.66 933.662C1342.82 956.973 1330.06 980.011 1308.09 988.848L1103.08 1071.31C1076.18 1082.13 1070.57 1117.75 1092.85 1136.31C1106.76 1147.91 1110.66 1167.66 1102.19 1183.68L1061.82 1259.97C1040.89 1299.52 982.521 1293.77 969.716 1250.89L921.387 1089.04C914.453 1065.81 925.17 1040.96 946.818 1030.07Z" fill="url(#paint9_linear_2501_106490)"/>
    <path d="M750.56 854.795L603.338 765.882C574.036 748.185 536.017 764.503 528.658 797.933L510.595 879.993C499.43 930.712 563.417 962.722 597.31 923.373L609.944 908.706C630.14 885.259 666.569 885.602 686.32 909.425L729.797 961.867C748.869 984.872 783.729 986.121 804.398 964.54L825.32 942.697C857.357 909.248 828.749 854.214 782.964 861.22C771.744 862.936 760.277 860.663 750.56 854.795Z" fill="url(#paint10_linear_2501_106490)"/>
    <path d="M673.539 1111.67L531.452 1214.91C501.874 1236.4 504.61 1281.34 536.578 1299.08L588.352 1327.82C595.776 1331.94 604.126 1334.1 612.617 1334.1H839.776C867.39 1334.1 889.776 1311.71 889.776 1284.1V1197.98C889.776 1181.04 881.204 1165.26 866.998 1156.04L841.735 1139.64C836.503 1136.24 832.239 1131.55 829.357 1126.02L826.994 1121.48C815.577 1099.57 785.017 1097.49 770.743 1117.67L769.445 1119.5C756.828 1137.33 730.324 1137.19 717.898 1119.23C707.853 1104.7 687.825 1101.29 673.539 1111.67Z" fill="url(#paint11_linear_2501_106490)"/>
    </g>
    <circle cx="1647.33" cy="998.543" r="0.756233" fill="white" fill-opacity="0.5"/>
    <circle cx="929.399" cy="1321.16" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="398.495" cy="1251.3" r="0.756233" fill="white" fill-opacity="0.5"/>
    <circle cx="1449.63" cy="861.714" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1658.89" cy="1185.45" r="0.756233" fill="white" fill-opacity="0.4"/>
    <circle cx="430.803" cy="1544.71" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="986.901" cy="1316.19" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="608.918" cy="1310.53" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="672.338" cy="1546.39" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="408.936" cy="1350.57" r="0.756233" fill="white" fill-opacity="0.4"/>
    <circle cx="1262.52" cy="1146.32" r="0.756233" fill="white" fill-opacity="0.5"/>
    <circle cx="1560.07" cy="887.159" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="775.034" cy="789.087" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="920.541" cy="1167.27" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1711.62" cy="952.182" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="1209.29" cy="1153.31" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="693.938" cy="943.618" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="1047.04" cy="815.793" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="522.948" cy="1082.03" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="708.01" cy="1281.16" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="542.127" cy="1536.38" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1240.04" cy="1369.11" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1611.74" cy="914.595" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="846.809" cy="1062.22" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="380.756" cy="1129.41" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="461.715" cy="941.009" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="833.598" cy="1518.19" r="0.756233" fill="white" fill-opacity="0.4"/>
    <circle cx="829.877" cy="824.848" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="990.342" cy="1398.84" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="1596.51" cy="1527.12" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1135.46" cy="1377.72" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="405.246" cy="1065.75" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1146.86" cy="1357.9" r="0.756233" fill="white" fill-opacity="0.5"/>
    <circle cx="723.649" cy="1064.2" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="754.772" cy="996.14" r="0.756233" fill="white" fill-opacity="0.4"/>
    <circle cx="1039.27" cy="1087.22" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="1110.59" cy="1366.3" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1377.84" cy="1427.86" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1425.39" cy="1161.1" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1495.99" cy="777.226" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="783.621" cy="1410.83" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1497.49" cy="1241" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="401.969" cy="1270.36" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1266.89" cy="1506.07" r="0.756233" fill="white" fill-opacity="0.1"/>
    <circle cx="1023.16" cy="1257.05" r="0.756233" fill="white" fill-opacity="0.3"/>
    <circle cx="1050.7" cy="883.495" r="0.945292" fill="white" fill-opacity="0.4"/>
    <circle cx="752.031" cy="1067.19" r="0.945292" fill="white" fill-opacity="0.3"/>
    <circle cx="924.199" cy="1194.65" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="600.465" cy="1051.51" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="932.463" cy="831.002" r="0.945292" fill="white" fill-opacity="0.4"/>
    <circle cx="1004.82" cy="1190.98" r="0.945292" fill="white" fill-opacity="0.3"/>
    <circle cx="1260.8" cy="1288.7" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="647.903" cy="1119.97" r="0.756233" fill="white" fill-opacity="0.5"/>
    <circle cx="1553.72" cy="1168.37" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="1447.87" cy="1269.21" r="0.945292" fill="white" fill-opacity="0.3"/>
    <circle cx="1181.65" cy="1198.41" r="0.945292" fill="white" fill-opacity="0.3"/>
    <circle cx="1468.83" cy="1245.64" r="0.945292" fill="white" fill-opacity="0.3"/>
    <circle cx="451.623" cy="1243.27" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="712.899" cy="918.694" r="0.756233" fill="white" fill-opacity="0.5"/>
    <circle cx="1344.68" cy="1495.28" r="0.378117" fill="white" fill-opacity="0.5"/>
    <circle cx="496.4" cy="782.061" r="0.945292" fill="white" fill-opacity="0.3"/>
    <circle cx="1411.13" cy="1078.65" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="1005.52" cy="1092.82" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="1236.74" cy="938.019" r="0.756233" fill="white" fill-opacity="0.5"/>
    <circle cx="1641.74" cy="1463.98" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="1173.41" cy="1330.57" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="1495.89" cy="782.194" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="1802.88" cy="1512.5" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="470.123" cy="933.458" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="915.295" cy="1210.63" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="1301" cy="1176.68" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="1130.87" cy="1511.39" r="0.756233" fill="white" fill-opacity="0.5"/>
    <circle cx="1054.86" cy="1418.86" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="1068.88" cy="898.494" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="433.57" cy="988.297" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="699.576" cy="813.161" r="0.945292" fill="white" fill-opacity="0.1"/>
    <circle cx="1737.52" cy="1013.88" r="0.945292" fill="white" fill-opacity="0.4"/>
    <circle cx="1712.19" cy="1399.19" r="0.945292" fill="white" fill-opacity="0.3"/>
    <circle cx="1212.53" cy="802.602" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="1659.33" cy="898.952" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="977.249" cy="820.959" r="0.378117" fill="white" fill-opacity="0.5"/>
    <circle cx="599.946" cy="1324.62" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="958.515" cy="1515.91" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="752.898" cy="1279.34" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="742.136" cy="1259.79" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="1481.42" cy="1453.82" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="616.253" cy="1425.42" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="827.292" cy="1090.63" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="1538.38" cy="1124.54" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="1209.53" cy="1024.33" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="1233.88" cy="1308.26" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="537.734" cy="1454.6" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="1126.48" cy="1106.57" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="646.675" cy="1135.37" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="1341.66" cy="1171.23" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="811.327" cy="1299.11" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="1076.96" cy="1258.29" r="0.378117" fill="white" fill-opacity="0.5"/>
    <circle cx="700.769" cy="1433.47" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="550.601" cy="1010.76" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="1038.82" cy="1161.81" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="1577.54" cy="1170.67" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="433.864" cy="815.249" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="1159.77" cy="1199.85" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="1445.57" cy="1028.68" r="0.378117" fill="white" fill-opacity="0.5"/>
    <circle cx="527.329" cy="1176.5" r="0.378117" fill="white" fill-opacity="0.4"/>
    <circle cx="504.704" cy="1220.52" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="517.448" cy="1154.71" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="1061.56" cy="1010.7" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="495.218" cy="824.811" r="0.378117" fill="white" fill-opacity="0.5"/>
    <circle cx="655.81" cy="1358.49" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="961.484" cy="921.941" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="620.279" cy="1289.9" r="0.378117" fill="white" fill-opacity="0.4"/>
    <circle cx="887.241" cy="1250.62" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="657.103" cy="1519.38" r="0.378117" fill="white" fill-opacity="0.5"/>
    <circle cx="655.269" cy="1480.31" r="0.378117" fill="white" fill-opacity="0.1"/>
    <circle cx="1358.18" cy="892.428" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="939.628" cy="859.771" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="567.611" cy="1389.1" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="1608.98" cy="1071.7" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="954.32" cy="985.486" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="1131.93" cy="1006.15" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="1434.55" cy="1111.5" r="0.378117" fill="white" fill-opacity="0.3"/>
    <circle cx="638.904" cy="983.078" r="0.378117" fill="white" fill-opacity="0.3"/>
    <path d="M864.147 1126.46L864.802 1127.6H863.492L864.147 1126.46Z" fill="white" fill-opacity="0.1"/>
    <path d="M1020.37 1142.23L1021.02 1143.36H1019.71L1020.37 1142.23Z" fill="white" fill-opacity="0.1"/>
    <path d="M1403.68 1160.77L1404.33 1161.91H1403.02L1403.68 1160.77Z" fill="white" fill-opacity="0.3"/>
    <path d="M1433.65 1532.27L1434.31 1533.4H1433L1433.65 1532.27Z" fill="white" fill-opacity="0.1"/>
    <path d="M1240.28 1176.8L1240.93 1177.94H1239.62L1240.28 1176.8Z" fill="white" fill-opacity="0.3"/>
    <path d="M809.623 1473.9L810.278 1475.04H808.969L809.623 1473.9Z" fill="white" fill-opacity="0.1"/>
    <path d="M447.52 1021.92L448.175 1023.05H446.865L447.52 1021.92Z" fill="white" fill-opacity="0.1"/>
    <path d="M1714.01 750.154L1714.67 751.289H1713.36L1714.01 750.154Z" fill="white" fill-opacity="0.1"/>
    <path d="M1786.17 1227.6L1786.83 1228.73H1785.52L1786.17 1227.6Z" fill="white" fill-opacity="0.1"/>
    <path d="M1045.49 1174.73L1046.14 1175.86H1044.83L1045.49 1174.73Z" fill="white" fill-opacity="0.3"/>
    <path d="M1078.92 908.719L1079.58 909.853H1078.27L1078.92 908.719Z" fill="white" fill-opacity="0.1"/>
    <path d="M1353.99 932.094L1354.64 933.228H1353.33L1353.99 932.094Z" fill="white" fill-opacity="0.1"/>
    <path d="M791.825 838.109L792.48 839.244H791.17L791.825 838.109Z" fill="white" fill-opacity="0.1"/>
    <path d="M1190.14 882.109L1190.8 883.244H1189.49L1190.14 882.109Z" fill="white" fill-opacity="0.3"/>
    <path d="M1781.45 871.677L1782.1 872.811H1780.79L1781.45 871.677Z" fill="white" fill-opacity="0.1"/>
    <path d="M1785.72 1020.66L1786.38 1021.79H1785.07L1785.72 1020.66Z" fill="white" fill-opacity="0.3"/>
    <path d="M1470.04 1510.67L1470.69 1511.81H1469.38L1470.04 1510.67Z" fill="white" fill-opacity="0.1"/>
    <path d="M1096.04 1529.89L1096.7 1531.03H1095.39L1096.04 1529.89Z" fill="white" fill-opacity="0.5"/>
    <path d="M1227.73 1052.95L1228.39 1054.09H1227.08L1227.73 1052.95Z" fill="white" fill-opacity="0.3"/>
    <path d="M1572.89 1462.76L1573.55 1463.89H1572.24L1572.89 1462.76Z" fill="white" fill-opacity="0.1"/>
    <path d="M1206.26 797.525L1206.92 798.66H1205.61L1206.26 797.525Z" fill="white" fill-opacity="0.1"/>
    <path d="M1127.73 1503.96L1128.39 1505.09H1127.08L1127.73 1503.96Z" fill="white" fill-opacity="0.3"/>
    <path d="M1420.45 1110.72L1421.1 1111.86H1419.79L1420.45 1110.72Z" fill="white" fill-opacity="0.1"/>
    <path d="M494.741 1328.31L495.396 1329.44H494.086L494.741 1328.31Z" fill="white" fill-opacity="0.1"/>
    <path d="M1289.66 1554.23L1290.31 1555.36H1289L1289.66 1554.23Z" fill="white" fill-opacity="0.1"/>
    <path d="M702.174 819.814L702.829 820.949H701.519L702.174 819.814Z" fill="white" fill-opacity="0.1"/>
    <path d="M1440.07 1254.18L1440.72 1255.31H1439.41L1440.07 1254.18Z" fill="white" fill-opacity="0.1"/>
    <path d="M1499.48 1131.36L1500.13 1132.49H1498.82L1499.48 1131.36Z" fill="white" fill-opacity="0.3"/>
    <path d="M401.955 962.087L402.61 963.221H401.301L401.955 962.087Z" fill="white" fill-opacity="0.3"/>
    <path d="M1690.6 820.039L1691.26 821.173H1689.95L1690.6 820.039Z" fill="white" fill-opacity="0.3"/>
    <path d="M1180.5 846.911L1181.15 848.045H1179.84L1180.5 846.911Z" fill="white" fill-opacity="0.1"/>
    <path d="M1410.03 952.464L1410.68 953.598H1409.37L1410.03 952.464Z" fill="white" fill-opacity="0.1"/>
    <path d="M1467.25 1453.25L1467.91 1454.38H1466.6L1467.25 1453.25Z" fill="white" fill-opacity="0.3"/>
    <path d="M728.315 1440.64L728.97 1441.77H727.66L728.315 1440.64Z" fill="white" fill-opacity="0.1"/>
    <path d="M1329.53 1540.21L1330.18 1541.35H1328.87L1329.53 1540.21Z" fill="white" fill-opacity="0.3"/>
    <path d="M1321.55 1262.37L1322.2 1263.5H1320.89L1321.55 1262.37Z" fill="white" fill-opacity="0.1"/>
    <path d="M1546.12 1292.62L1546.22 1293.27L1546.87 1293.37L1546.22 1293.47L1546.12 1294.13L1546.02 1293.47L1545.36 1293.37L1546.02 1293.27L1546.12 1292.62Z" fill="white" fill-opacity="0.4"/>
    <path d="M521.315 976.564L521.416 977.219L522.071 977.321L521.416 977.422L521.315 978.077L521.213 977.422L520.559 977.321L521.213 977.219L521.315 976.564Z" fill="white" fill-opacity="0.1"/>
    <path d="M1664.12 1457.53L1664.23 1458.18L1664.88 1458.28L1664.23 1458.38L1664.12 1459.04L1664.02 1458.38L1663.37 1458.28L1664.02 1458.18L1664.12 1457.53Z" fill="white" fill-opacity="0.1"/>
    <path d="M1490.39 1459.77L1490.49 1460.42L1491.14 1460.52L1490.49 1460.63L1490.39 1461.28L1490.29 1460.63L1489.63 1460.52L1490.29 1460.42L1490.39 1459.77Z" fill="white" fill-opacity="0.5"/>
    <path d="M1002.29 970.035L1002.39 970.69L1003.05 970.791L1002.39 970.893L1002.29 971.548L1002.19 970.893L1001.54 970.791L1002.19 970.69L1002.29 970.035Z" fill="white" fill-opacity="0.1"/>
    <path d="M766.657 833.734L766.758 834.389L767.413 834.491L766.758 834.592L766.657 835.247L766.555 834.592L765.9 834.491L766.555 834.389L766.657 833.734Z" fill="white" fill-opacity="0.3"/>
    <path d="M1643.39 868.956L1643.49 869.611L1644.14 869.712L1643.49 869.814L1643.39 870.469L1643.28 869.814L1642.63 869.712L1643.28 869.611L1643.39 868.956Z" fill="white" fill-opacity="0.3"/>
    <path d="M1605.89 1188.02L1605.99 1188.68L1606.65 1188.78L1605.99 1188.88L1605.89 1189.53L1605.79 1188.88L1605.13 1188.78L1605.79 1188.68L1605.89 1188.02Z" fill="white" fill-opacity="0.1"/>
    <path d="M544.782 1316.41L544.883 1317.06L545.538 1317.17L544.883 1317.27L544.782 1317.92L544.68 1317.27L544.025 1317.17L544.68 1317.06L544.782 1316.41Z" fill="white" fill-opacity="0.1"/>
    <path d="M917.344 1140.99L917.446 1141.64L918.1 1141.75L917.446 1141.85L917.344 1142.5L917.243 1141.85L916.588 1141.75L917.243 1141.64L917.344 1140.99Z" fill="white" fill-opacity="0.1"/>
    <path d="M1704.43 1029.47L1704.53 1030.12L1705.18 1030.23L1704.53 1030.33L1704.43 1030.98L1704.32 1030.33L1703.67 1030.23L1704.32 1030.12L1704.43 1029.47Z" fill="white" fill-opacity="0.1"/>
    <path d="M1267 1470.28L1267.1 1470.94L1267.76 1471.04L1267.1 1471.14L1267 1471.8L1266.9 1471.14L1266.25 1471.04L1266.9 1470.94L1267 1470.28Z" fill="white" fill-opacity="0.3"/>
    <path d="M874.635 897.872L874.737 898.527L875.391 898.628L874.737 898.73L874.635 899.385L874.534 898.73L873.879 898.628L874.534 898.527L874.635 897.872Z" fill="white" fill-opacity="0.3"/>
    <path d="M404.2 1172.58L404.301 1173.24L404.956 1173.34L404.301 1173.44L404.2 1174.09L404.098 1173.44L403.443 1173.34L404.098 1173.24L404.2 1172.58Z" fill="white" fill-opacity="0.1"/>
    <path d="M1441.09 1407.68L1441.19 1408.33L1441.84 1408.43L1441.19 1408.54L1441.09 1409.19L1440.99 1408.54L1440.33 1408.43L1440.99 1408.33L1441.09 1407.68Z" fill="white" fill-opacity="0.3"/>
    <path d="M873.043 1141.57L873.145 1142.22L873.8 1142.33L873.145 1142.43L873.043 1143.08L872.942 1142.43L872.287 1142.33L872.942 1142.22L873.043 1141.57Z" fill="white" fill-opacity="0.1"/>
    <path d="M697.467 1495.69L697.569 1496.34L698.223 1496.45L697.569 1496.55L697.467 1497.2L697.366 1496.55L696.711 1496.45L697.366 1496.34L697.467 1495.69Z" fill="white" fill-opacity="0.5"/>
    <path d="M1732.48 1514.21L1732.58 1514.87L1733.24 1514.97L1732.58 1515.07L1732.48 1515.72L1732.38 1515.07L1731.73 1514.97L1732.38 1514.87L1732.48 1514.21Z" fill="white" fill-opacity="0.3"/>
    <path d="M1363.23 1044.37L1363.33 1045.02L1363.98 1045.12L1363.33 1045.22L1363.23 1045.88L1363.13 1045.22L1362.47 1045.12L1363.13 1045.02L1363.23 1044.37Z" fill="white" fill-opacity="0.1"/>
    <path d="M1015.59 836.178L1015.7 836.832L1016.35 836.934L1015.7 837.036L1015.59 837.69L1015.49 837.036L1014.84 836.934L1015.49 836.832L1015.59 836.178Z" fill="white" fill-opacity="0.3"/>
    <path d="M1212.42 1195.08L1212.52 1195.73L1213.18 1195.84L1212.52 1195.94L1212.42 1196.59L1212.32 1195.94L1211.67 1195.84L1212.32 1195.73L1212.42 1195.08Z" fill="white" fill-opacity="0.3"/>
    <path d="M1504.47 1309.6L1504.57 1310.26L1505.23 1310.36L1504.57 1310.46L1504.47 1311.12L1504.37 1310.46L1503.71 1310.36L1504.37 1310.26L1504.47 1309.6Z" fill="white" fill-opacity="0.4"/>
    <path d="M869.284 1348.82L869.385 1349.48L870.04 1349.58L869.385 1349.68L869.284 1350.33L869.182 1349.68L868.527 1349.58L869.182 1349.48L869.284 1348.82Z" fill="white" fill-opacity="0.3"/>
    <path d="M1749.81 1151.42L1749.91 1152.07L1750.57 1152.17L1749.91 1152.27L1749.81 1152.93L1749.71 1152.27L1749.05 1152.17L1749.71 1152.07L1749.81 1151.42Z" fill="white" fill-opacity="0.1"/>
    <path d="M1644.35 1121.99L1644.45 1122.65L1645.1 1122.75L1644.45 1122.85L1644.35 1123.5L1644.24 1122.85L1643.59 1122.75L1644.24 1122.65L1644.35 1121.99Z" fill="white" fill-opacity="0.1"/>
    <path d="M536.272 1562.26L536.373 1562.92L537.028 1563.02L536.373 1563.12L536.272 1563.78L536.17 1563.12L535.516 1563.02L536.17 1562.92L536.272 1562.26Z" fill="white" fill-opacity="0.3"/>
    <path d="M619.891 1038.04L619.993 1038.7L620.647 1038.8L619.993 1038.9L619.891 1039.56L619.789 1038.9L619.135 1038.8L619.789 1038.7L619.891 1038.04Z" fill="white" fill-opacity="0.1"/>
    <path d="M409.088 1052.53L409.19 1053.18L409.844 1053.28L409.19 1053.38L409.088 1054.04L408.987 1053.38L408.332 1053.28L408.987 1053.18L409.088 1052.53Z" fill="white" fill-opacity="0.1"/>
    <path d="M1324.86 1416.31L1324.97 1416.96L1325.62 1417.06L1324.97 1417.16L1324.86 1417.82L1324.76 1417.16L1324.11 1417.06L1324.76 1416.96L1324.86 1416.31Z" fill="white" fill-opacity="0.1"/>
    <path d="M683.459 1259.07L683.561 1259.72L684.216 1259.82L683.561 1259.92L683.459 1260.58L683.358 1259.92L682.703 1259.82L683.358 1259.72L683.459 1259.07Z" fill="white" fill-opacity="0.1"/>
    <path d="M1546.02 1524.67L1546.12 1525.33L1546.78 1525.43L1546.12 1525.53L1546.02 1526.19L1545.92 1525.53L1545.27 1525.43L1545.92 1525.33L1546.02 1524.67Z" fill="white" fill-opacity="0.1"/>
    <path d="M1633.95 1552.5L1634.05 1553.15L1634.71 1553.26L1634.05 1553.36L1633.95 1554.01L1633.85 1553.36L1633.19 1553.26L1633.85 1553.15L1633.95 1552.5Z" fill="white" fill-opacity="0.3"/>
    <path d="M450.838 1276.68L450.94 1277.34L451.594 1277.44L450.94 1277.54L450.838 1278.19L450.737 1277.54L450.082 1277.44L450.737 1277.34L450.838 1276.68Z" fill="white" fill-opacity="0.5"/>
    <path d="M1064.22 1142.33L1064.32 1142.98L1064.97 1143.08L1064.32 1143.19L1064.22 1143.84L1064.11 1143.19L1063.46 1143.08L1064.11 1142.98L1064.22 1142.33Z" fill="white" fill-opacity="0.1"/>
    <path d="M1066.06 1235.09L1066.16 1235.74L1066.82 1235.84L1066.16 1235.95L1066.06 1236.6L1065.96 1235.95L1065.3 1235.84L1065.96 1235.74L1066.06 1235.09Z" fill="white" fill-opacity="0.1"/>
    <path d="M701.317 1404.34L701.418 1404.99L702.073 1405.09L701.418 1405.2L701.317 1405.85L701.215 1405.2L700.561 1405.09L701.215 1404.99L701.317 1404.34Z" fill="white" fill-opacity="0.3"/>
    <path d="M728.897 1170.56L728.998 1171.22L729.653 1171.32L728.998 1171.42L728.897 1172.07L728.795 1171.42L728.141 1171.32L728.795 1171.22L728.897 1170.56Z" fill="white" fill-opacity="0.4"/>
    <path d="M1690.62 828.543L1690.73 829.198L1691.38 829.299L1690.73 829.401L1690.62 830.055L1690.52 829.401L1689.87 829.299L1690.52 829.198L1690.62 828.543Z" fill="white" fill-opacity="0.1"/>
    <path d="M1420.16 1513.45L1420.26 1514.1L1420.92 1514.2L1420.26 1514.31L1420.16 1514.96L1420.06 1514.31L1419.41 1514.2L1420.06 1514.1L1420.16 1513.45Z" fill="white" fill-opacity="0.5"/>
    <path d="M1279.13 1198.54L1279.23 1199.19L1279.89 1199.29L1279.23 1199.39L1279.13 1200.05L1279.03 1199.39L1278.38 1199.29L1279.03 1199.19L1279.13 1198.54Z" fill="white" fill-opacity="0.1"/>
    <path d="M1007.12 1047.34L1007.22 1048L1007.87 1048.1L1007.22 1048.2L1007.12 1048.85L1007.02 1048.2L1006.36 1048.1L1007.02 1048L1007.12 1047.34Z" fill="white" fill-opacity="0.3"/>
    <path d="M825.977 1172.63L826.079 1173.28L826.733 1173.38L826.079 1173.48L825.977 1174.14L825.875 1173.48L825.221 1173.38L825.875 1173.28L825.977 1172.63Z" fill="white" fill-opacity="0.5"/>
    <path d="M435.143 1436.4L435.245 1437.05L435.899 1437.16L435.245 1437.26L435.143 1437.91L435.041 1437.26L434.387 1437.16L435.041 1437.05L435.143 1436.4Z" fill="white" fill-opacity="0.3"/>
    <path d="M1265.85 1309.55L1265.95 1310.21L1266.6 1310.31L1265.95 1310.41L1265.85 1311.07L1265.74 1310.41L1265.09 1310.31L1265.74 1310.21L1265.85 1309.55Z" fill="white" fill-opacity="0.1"/>
    <path d="M699.256 911.777L699.358 912.432L700.012 912.534L699.358 912.635L699.256 913.29L699.155 912.635L698.5 912.534L699.155 912.432L699.256 911.777Z" fill="white" fill-opacity="0.1"/>
    <path d="M1482.24 1062.61L1482.35 1063.27L1483 1063.37L1482.35 1063.47L1482.24 1064.12L1482.14 1063.47L1481.49 1063.37L1482.14 1063.27L1482.24 1062.61Z" fill="white" fill-opacity="0.1"/>
    <path d="M471.848 1346.54L471.95 1347.19L472.604 1347.3L471.95 1347.4L471.848 1348.05L471.746 1347.4L471.092 1347.3L471.746 1347.19L471.848 1346.54Z" fill="white" fill-opacity="0.5"/>
    <path d="M523.985 1351.78L524.086 1352.44L524.741 1352.54L524.086 1352.64L523.985 1353.29L523.883 1352.64L523.229 1352.54L523.883 1352.44L523.985 1351.78Z" fill="white" fill-opacity="0.3"/>
    <path d="M1711.95 1053.04L1712.05 1053.7L1712.71 1053.8L1712.05 1053.9L1711.95 1054.56L1711.85 1053.9L1711.2 1053.8L1711.85 1053.7L1711.95 1053.04Z" fill="white" fill-opacity="0.1"/>
    <path d="M1786.1 927.527L1786.2 928.182L1786.85 928.284L1786.2 928.385L1786.1 929.04L1786 928.385L1785.34 928.284L1786 928.182L1786.1 927.527Z" fill="white" fill-opacity="0.3"/>
    <path d="M816.276 1410.79L816.377 1411.44L817.032 1411.55L816.377 1411.65L816.276 1412.3L816.174 1411.65L815.52 1411.55L816.174 1411.44L816.276 1410.79Z" fill="white" fill-opacity="0.1"/>
    <path d="M444.491 1363.74L444.592 1364.39L445.247 1364.49L444.592 1364.59L444.491 1365.25L444.389 1364.59L443.734 1364.49L444.389 1364.39L444.491 1363.74Z" fill="white" fill-opacity="0.3"/>
    <path d="M828.213 871.793L828.315 872.448L828.969 872.549L828.315 872.651L828.213 873.305L828.112 872.651L827.457 872.549L828.112 872.448L828.213 871.793Z" fill="white" fill-opacity="0.1"/>
    <path d="M1295.69 1384.18L1295.79 1384.84L1296.45 1384.94L1295.79 1385.04L1295.69 1385.7L1295.59 1385.04L1294.94 1384.94L1295.59 1384.84L1295.69 1384.18Z" fill="white" fill-opacity="0.3"/>
    <path d="M979.098 772.791L979.2 773.446L979.854 773.547L979.2 773.649L979.098 774.303L978.996 773.649L978.342 773.547L978.996 773.446L979.098 772.791Z" fill="white" fill-opacity="0.3"/>
    <path d="M1814.97 1005.34L1815.07 1005.99L1815.72 1006.09L1815.07 1006.19L1814.97 1006.85L1814.87 1006.19L1814.21 1006.09L1814.87 1005.99L1814.97 1005.34Z" fill="white" fill-opacity="0.3"/>
    <path d="M721.147 825.033L721.248 825.688L721.903 825.789L721.248 825.891L721.147 826.546L721.045 825.891L720.391 825.789L721.045 825.688L721.147 825.033Z" fill="white" fill-opacity="0.1"/>
    <path d="M971.219 1511.32L971.321 1511.97L971.975 1512.08L971.321 1512.18L971.219 1512.83L971.118 1512.18L970.463 1512.08L971.118 1511.97L971.219 1511.32Z" fill="white" fill-opacity="0.3"/>
    <path d="M478.426 1198.05L478.528 1198.7L479.182 1198.8L478.528 1198.91L478.426 1199.56L478.325 1198.91L477.67 1198.8L478.325 1198.7L478.426 1198.05Z" fill="white" fill-opacity="0.1"/>
    <path d="M757.938 983.611L758.039 984.266L758.694 984.368L758.039 984.469L757.938 985.124L757.836 984.469L757.182 984.368L757.836 984.266L757.938 983.611Z" fill="white" fill-opacity="0.1"/>
    <path d="M1465.8 1042.98L1465.9 1043.64L1466.56 1043.74L1465.9 1043.84L1465.8 1044.49L1465.7 1043.84L1465.05 1043.74L1465.7 1043.64L1465.8 1042.98Z" fill="white" fill-opacity="0.1"/>
    <path d="M676.569 989.997L676.67 990.652L677.325 990.753L676.67 990.855L676.569 991.51L676.467 990.855L675.812 990.753L676.467 990.652L676.569 989.997Z" fill="white" fill-opacity="0.1"/>
    <path d="M741.973 1474.24L742.075 1474.9L742.729 1475L742.075 1475.1L741.973 1475.76L741.871 1475.1L741.217 1475L741.871 1474.9L741.973 1474.24Z" fill="white" fill-opacity="0.4"/>
    <path d="M568.858 840.168L568.959 840.823L569.614 840.924L568.959 841.026L568.858 841.68L568.756 841.026L568.102 840.924L568.756 840.823L568.858 840.168Z" fill="white" fill-opacity="0.1"/>
    <path d="M1517.68 1302.16L1517.78 1302.82L1518.43 1302.92L1517.78 1303.02L1517.68 1303.68L1517.58 1303.02L1516.92 1302.92L1517.58 1302.82L1517.68 1302.16Z" fill="white" fill-opacity="0.3"/>
    <path d="M814.694 1118.88L814.795 1119.53L815.45 1119.64L814.795 1119.74L814.694 1120.39L814.592 1119.74L813.938 1119.64L814.592 1119.53L814.694 1118.88Z" fill="white" fill-opacity="0.1"/>
    <path d="M906.098 1507.79L906.2 1508.45L906.854 1508.55L906.2 1508.65L906.098 1509.3L905.996 1508.65L905.342 1508.55L905.996 1508.45L906.098 1507.79Z" fill="white" fill-opacity="0.1"/>
    <path d="M1512.74 797.944L1512.84 798.599L1513.49 798.701L1512.84 798.802L1512.74 799.457L1512.64 798.802L1511.98 798.701L1512.64 798.599L1512.74 797.944Z" fill="white" fill-opacity="0.3"/>
    <path d="M1779.18 966.96L1779.28 967.615L1779.94 967.716L1779.28 967.818L1779.18 968.472L1779.08 967.818L1778.43 967.716L1779.08 967.615L1779.18 966.96Z" fill="white" fill-opacity="0.1"/>
    <path d="M1809.21 955.305L1809.31 955.959L1809.97 956.061L1809.31 956.163L1809.21 956.817L1809.11 956.163L1808.46 956.061L1809.11 955.959L1809.21 955.305Z" fill="white" fill-opacity="0.5"/>
    <path d="M1190.47 1288.48L1190.57 1289.14L1191.23 1289.24L1190.57 1289.34L1190.47 1290L1190.37 1289.34L1189.71 1289.24L1190.37 1289.14L1190.47 1288.48Z" fill="white" fill-opacity="0.1"/>
    <path d="M778.289 1025.58L778.391 1026.24L779.046 1026.34L778.391 1026.44L778.289 1027.1L778.188 1026.44L777.533 1026.34L778.188 1026.24L778.289 1025.58Z" fill="white" fill-opacity="0.1"/>
    <path d="M1741.48 1405.15L1741.63 1406.14L1742.61 1406.29L1741.63 1406.44L1741.48 1407.42L1741.33 1406.44L1740.34 1406.29L1741.33 1406.14L1741.48 1405.15Z" fill="white" fill-opacity="0.3"/>
    <path d="M487.326 870.758L487.478 871.74L488.46 871.892L487.478 872.045L487.326 873.027L487.173 872.045L486.191 871.892L487.173 871.74L487.326 870.758Z" fill="white" fill-opacity="0.1"/>
    <path d="M1649.11 1207.38L1649.27 1208.36L1650.25 1208.52L1649.27 1208.67L1649.11 1209.65L1648.96 1208.67L1647.98 1208.52L1648.96 1208.36L1649.11 1207.38Z" fill="white" fill-opacity="0.1"/>
    <path d="M770.791 1150.24L770.943 1151.22L771.925 1151.38L770.943 1151.53L770.791 1152.51L770.638 1151.53L769.656 1151.38L770.638 1151.22L770.791 1150.24Z" fill="white" fill-opacity="0.3"/>
    <path d="M488.185 1064.55L488.338 1065.53L489.319 1065.68L488.338 1065.84L488.185 1066.82L488.033 1065.84L487.051 1065.68L488.033 1065.53L488.185 1064.55Z" fill="white" fill-opacity="0.1"/>
    <path d="M1232.54 883.028L1232.69 884.01L1233.67 884.163L1232.69 884.315L1232.54 885.297L1232.39 884.315L1231.4 884.163L1232.39 884.01L1232.54 883.028Z" fill="white" fill-opacity="0.1"/>
    <path d="M979.093 1246.12L979.246 1247.1L980.228 1247.25L979.246 1247.4L979.093 1248.39L978.941 1247.4L977.959 1247.25L978.941 1247.1L979.093 1246.12Z" fill="white" fill-opacity="0.1"/>
    <path d="M1612.09 1288.64L1612.24 1289.62L1613.23 1289.77L1612.24 1289.93L1612.09 1290.91L1611.94 1289.93L1610.96 1289.77L1611.94 1289.62L1612.09 1288.64Z" fill="white" fill-opacity="0.1"/>
    <path d="M882.252 1454.57L882.404 1455.55L883.386 1455.71L882.404 1455.86L882.252 1456.84L882.099 1455.86L881.117 1455.71L882.099 1455.55L882.252 1454.57Z" fill="white" fill-opacity="0.3"/>
    <path d="M1236.77 1506.59L1236.92 1507.58L1237.9 1507.73L1236.92 1507.88L1236.77 1508.86L1236.62 1507.88L1235.63 1507.73L1236.62 1507.58L1236.77 1506.59Z" fill="white" fill-opacity="0.3"/>
    <path d="M831.847 1072.76L832 1073.74L832.982 1073.89L832 1074.04L831.847 1075.03L831.695 1074.04L830.713 1073.89L831.695 1073.74L831.847 1072.76Z" fill="white" fill-opacity="0.4"/>
    <path d="M926.613 951.55L926.765 952.532L927.747 952.684L926.765 952.837L926.613 953.819L926.46 952.837L925.479 952.684L926.46 952.532L926.613 951.55Z" fill="white" fill-opacity="0.1"/>
    <path d="M1316.62 875.1L1316.77 876.082L1317.75 876.234L1316.77 876.386L1316.62 877.368L1316.46 876.386L1315.48 876.234L1316.46 876.082L1316.62 875.1Z" fill="white" fill-opacity="0.1"/>
    <path d="M1387.11 922.62L1387.26 923.602L1388.24 923.754L1387.26 923.907L1387.11 924.889L1386.96 923.907L1385.97 923.754L1386.96 923.602L1387.11 922.62Z" fill="white" fill-opacity="0.1"/>
    <path d="M1710.94 884.483L1711.09 885.465L1712.07 885.618L1711.09 885.77L1710.94 886.752L1710.78 885.77L1709.8 885.618L1710.78 885.465L1710.94 884.483Z" fill="white" fill-opacity="0.1"/>
    <path d="M1320.24 1001.96L1320.39 1002.94L1321.38 1003.1L1320.39 1003.25L1320.24 1004.23L1320.09 1003.25L1319.11 1003.1L1320.09 1002.94L1320.24 1001.96Z" fill="white" fill-opacity="0.1"/>
    <path d="M862.459 839.632L862.611 840.614L863.593 840.766L862.611 840.919L862.459 841.901L862.306 840.919L861.324 840.766L862.306 840.614L862.459 839.632Z" fill="white" fill-opacity="0.3"/>
    <path d="M525.824 944.209L525.976 945.191L526.958 945.343L525.976 945.496L525.824 946.478L525.671 945.496L524.689 945.343L525.671 945.191L525.824 944.209Z" fill="white" fill-opacity="0.1"/>
    <path d="M1278.71 1398.57L1278.87 1399.55L1279.85 1399.7L1278.87 1399.85L1278.71 1400.83L1278.56 1399.85L1277.58 1399.7L1278.56 1399.55L1278.71 1398.57Z" fill="white" fill-opacity="0.3"/>
    <path d="M1317.35 1054.56L1317.5 1055.55L1318.48 1055.7L1317.5 1055.85L1317.35 1056.83L1317.2 1055.85L1316.21 1055.7L1317.2 1055.55L1317.35 1054.56Z" fill="white" fill-opacity="0.1"/>
    <path d="M1651.95 1457.55L1652.11 1458.54L1653.09 1458.69L1652.11 1458.84L1651.95 1459.82L1651.8 1458.84L1650.82 1458.69L1651.8 1458.54L1651.95 1457.55Z" fill="white" fill-opacity="0.1"/>
    <path d="M1454.57 1252.62L1454.72 1253.6L1455.7 1253.75L1454.72 1253.91L1454.57 1254.89L1454.42 1253.91L1453.43 1253.75L1454.42 1253.6L1454.57 1252.62Z" fill="white" fill-opacity="0.1"/>
    <path d="M1682.11 1416.26L1682.26 1417.24L1683.25 1417.4L1682.26 1417.55L1682.11 1418.53L1681.96 1417.55L1680.98 1417.4L1681.96 1417.24L1682.11 1416.26Z" fill="white" fill-opacity="0.4"/>
    <path d="M1443 863.723L1443.15 864.705L1444.13 864.857L1443.15 865.009L1443 865.991L1442.85 865.009L1441.87 864.857L1442.85 864.705L1443 863.723Z" fill="white" fill-opacity="0.3"/>
    <path d="M1357.93 1208.02L1358.08 1209L1359.06 1209.15L1358.08 1209.31L1357.93 1210.29L1357.77 1209.31L1356.79 1209.15L1357.77 1209L1357.93 1208.02Z" fill="white" fill-opacity="0.1"/>
    <path d="M1603.36 966.645L1603.51 967.626L1604.49 967.779L1603.51 967.931L1603.36 968.913L1603.21 967.931L1602.22 967.779L1603.21 967.626L1603.36 966.645Z" fill="white" fill-opacity="0.3"/>
    <path d="M823.179 918.473L823.332 919.455L824.314 919.607L823.332 919.759L823.179 920.741L823.027 919.759L822.045 919.607L823.027 919.455L823.179 918.473Z" fill="white" fill-opacity="0.1"/>
    <path d="M1458.78 903.485L1458.93 904.467L1459.91 904.62L1458.93 904.772L1458.78 905.754L1458.62 904.772L1457.64 904.62L1458.62 904.467L1458.78 903.485Z" fill="white" fill-opacity="0.5"/>
    <path d="M458.576 1518.34L458.728 1519.32L459.71 1519.47L458.728 1519.63L458.576 1520.61L458.423 1519.63L457.441 1519.47L458.423 1519.32L458.576 1518.34Z" fill="white" fill-opacity="0.3"/>
    <path d="M1604.41 1149.78L1604.56 1150.77L1605.55 1150.92L1604.56 1151.07L1604.41 1152.05L1604.26 1151.07L1603.28 1150.92L1604.26 1150.77L1604.41 1149.78Z" fill="white" fill-opacity="0.1"/>
    <path d="M1765.44 915.765L1765.59 916.747L1766.57 916.899L1765.59 917.051L1765.44 918.033L1765.29 917.051L1764.3 916.899L1765.29 916.747L1765.44 915.765Z" fill="white" fill-opacity="0.3"/>
    <path d="M1426.91 987.987L1427.06 988.969L1428.04 989.122L1427.06 989.274L1426.91 990.256L1426.75 989.274L1425.77 989.122L1426.75 988.969L1426.91 987.987Z" fill="white" fill-opacity="0.5"/>
    <path d="M1632.35 1339.17L1632.5 1340.15L1633.48 1340.3L1632.5 1340.45L1632.35 1341.44L1632.2 1340.45L1631.21 1340.3L1632.2 1340.15L1632.35 1339.17Z" fill="white" fill-opacity="0.3"/>
    <path d="M453.558 1117L453.711 1117.98L454.693 1118.13L453.711 1118.28L453.558 1119.27L453.406 1118.28L452.424 1118.13L453.406 1117.98L453.558 1117Z" fill="white" fill-opacity="0.3"/>
    <path d="M1818.86 1084.06L1819.02 1085.04L1820 1085.2L1819.02 1085.35L1818.86 1086.33L1818.71 1085.35L1817.73 1085.2L1818.71 1085.04L1818.86 1084.06Z" fill="white" fill-opacity="0.3"/>
    <path d="M1164.36 1469.63L1164.51 1470.61L1165.49 1470.76L1164.51 1470.92L1164.36 1471.9L1164.2 1470.92L1163.22 1470.76L1164.2 1470.61L1164.36 1469.63Z" fill="white" fill-opacity="0.1"/>
    <path d="M970.81 1557.29L970.963 1558.27L971.944 1558.43L970.963 1558.58L970.81 1559.56L970.658 1558.58L969.676 1558.43L970.658 1558.27L970.81 1557.29Z" fill="white" fill-opacity="0.3"/>
    <path d="M1007.8 1314.24L1007.95 1315.22L1008.93 1315.37L1007.95 1315.52L1007.8 1316.51L1007.64 1315.52L1006.66 1315.37L1007.64 1315.22L1007.8 1314.24Z" fill="white" fill-opacity="0.3"/>
    <path d="M1614.27 827.186L1614.42 828.167L1615.41 828.32L1614.42 828.472L1614.27 829.454L1614.12 828.472L1613.14 828.32L1614.12 828.167L1614.27 827.186Z" fill="white" fill-opacity="0.4"/>
    <path d="M1449.18 928.438L1449.33 929.419L1450.31 929.572L1449.33 929.724L1449.18 930.706L1449.02 929.724L1448.04 929.572L1449.02 929.419L1449.18 928.438Z" fill="white" fill-opacity="0.1"/>
    <path d="M746.98 1038.27L747.132 1039.25L748.114 1039.4L747.132 1039.56L746.98 1040.54L746.828 1039.56L745.846 1039.4L746.828 1039.25L746.98 1038.27Z" fill="white" fill-opacity="0.1"/>
    <path d="M1474.83 1043.18L1474.98 1044.16L1475.96 1044.31L1474.98 1044.47L1474.83 1045.45L1474.68 1044.47L1473.69 1044.31L1474.68 1044.16L1474.83 1043.18Z" fill="white" fill-opacity="0.3"/>
    <path d="M787.951 1200.39L788.103 1201.37L789.085 1201.52L788.103 1201.68L787.951 1202.66L787.798 1201.68L786.816 1201.52L787.798 1201.37L787.951 1200.39Z" fill="white" fill-opacity="0.1"/>
    <path d="M545.755 844.667L545.908 845.649L546.89 845.801L545.908 845.954L545.755 846.936L545.603 845.954L544.621 845.801L545.603 845.649L545.755 844.667Z" fill="white" fill-opacity="0.1"/>
    <path d="M805.38 760.235L805.533 761.217L806.515 761.37L805.533 761.522L805.38 762.504L805.228 761.522L804.246 761.37L805.228 761.217L805.38 760.235Z" fill="white" fill-opacity="0.1"/>
    <path d="M1163.83 991.021L1163.98 992.003L1164.97 992.156L1163.98 992.308L1163.83 993.29L1163.68 992.308L1162.7 992.156L1163.68 992.003L1163.83 991.021Z" fill="white" fill-opacity="0.1"/>
    <path d="M1167.56 938.58L1167.71 939.562L1168.69 939.714L1167.71 939.867L1167.56 940.849L1167.41 939.867L1166.42 939.714L1167.41 939.562L1167.56 938.58Z" fill="white" fill-opacity="0.3"/>
    <path d="M392.017 1544.82L392.17 1545.8L393.152 1545.95L392.17 1546.11L392.017 1547.09L391.865 1546.11L390.883 1545.95L391.865 1545.8L392.017 1544.82Z" fill="white" fill-opacity="0.4"/>
    <path d="M1365.1 1272.84L1365.25 1273.82L1366.23 1273.98L1365.25 1274.13L1365.1 1275.11L1364.94 1274.13L1363.96 1273.98L1364.94 1273.82L1365.1 1272.84Z" fill="white" fill-opacity="0.1"/>
    <path d="M905.898 837.41L906.05 838.392L907.032 838.545L906.05 838.697L905.898 839.679L905.746 838.697L904.764 838.545L905.746 838.392L905.898 837.41Z" fill="white" fill-opacity="0.1"/>
    <path d="M1621.5 1281.21L1621.65 1282.19L1622.64 1282.34L1621.65 1282.5L1621.5 1283.48L1621.35 1282.5L1620.37 1282.34L1621.35 1282.19L1621.5 1281.21Z" fill="white" fill-opacity="0.1"/>
    <path d="M869.574 989.764L869.726 990.746L870.708 990.898L869.726 991.05L869.574 992.032L869.421 991.05L868.439 990.898L869.421 990.746L869.574 989.764Z" fill="white" fill-opacity="0.3"/>
    <path d="M1778.58 1200.85L1778.73 1201.83L1779.72 1201.98L1778.73 1202.13L1778.58 1203.11L1778.43 1202.13L1777.45 1201.98L1778.43 1201.83L1778.58 1200.85Z" fill="white" fill-opacity="0.3"/>
    <path d="M1806.6 755.206L1806.75 756.188L1807.73 756.34L1806.75 756.493L1806.6 757.475L1806.45 756.493L1805.46 756.34L1806.45 756.188L1806.6 755.206Z" fill="white" fill-opacity="0.1"/>
    <path d="M1214.27 1517.12L1214.42 1518.1L1215.4 1518.25L1214.42 1518.4L1214.27 1519.38L1214.11 1518.4L1213.13 1518.25L1214.11 1518.1L1214.27 1517.12Z" fill="white" fill-opacity="0.5"/>
    <path d="M1416.89 1063.76L1417.05 1064.74L1418.03 1064.9L1417.05 1065.05L1416.89 1066.03L1416.74 1065.05L1415.76 1064.9L1416.74 1064.74L1416.89 1063.76Z" fill="white" fill-opacity="0.1"/>
    <path d="M523.119 1089.08L523.271 1090.06L524.253 1090.21L523.271 1090.36L523.119 1091.34L522.966 1090.36L521.984 1090.21L522.966 1090.06L523.119 1089.08Z" fill="white" fill-opacity="0.1"/>
    <path d="M598.861 796.177L599.013 797.159L599.995 797.311L599.013 797.464L598.861 798.445L598.709 797.464L597.727 797.311L598.709 797.159L598.861 796.177Z" fill="white" fill-opacity="0.3"/>
    <path d="M1386.8 1395.78L1386.96 1396.76L1387.94 1396.92L1386.96 1397.07L1386.8 1398.05L1386.65 1397.07L1385.67 1396.92L1386.65 1396.76L1386.8 1395.78Z" fill="white" fill-opacity="0.3"/>
    <path d="M1266.91 1387.41L1267.06 1388.39L1268.05 1388.54L1267.06 1388.7L1266.91 1389.68L1266.76 1388.7L1265.78 1388.54L1266.76 1388.39L1266.91 1387.41Z" fill="white" fill-opacity="0.3"/>
    <path d="M482.347 1180.86L482.5 1181.84L483.482 1181.99L482.5 1182.14L482.347 1183.12L482.195 1182.14L481.213 1181.99L482.195 1181.84L482.347 1180.86Z" fill="white" fill-opacity="0.1"/>
    <path d="M1200.26 1047.87L1200.41 1048.85L1201.39 1049L1200.41 1049.15L1200.26 1050.13L1200.1 1049.15L1199.12 1049L1200.1 1048.85L1200.26 1047.87Z" fill="white" fill-opacity="0.1"/>
    <path d="M944.066 891.859L944.218 892.841L945.2 892.994L944.218 893.146L944.066 894.128L943.914 893.146L942.932 892.994L943.914 892.841L944.066 891.859Z" fill="white" fill-opacity="0.3"/>
    <path d="M914.117 1179.95L914.269 1180.93L915.251 1181.09L914.269 1181.24L914.117 1182.22L913.964 1181.24L912.982 1181.09L913.964 1180.93L914.117 1179.95Z" fill="white" fill-opacity="0.1"/>
    <path d="M1343.17 1550.22L1343.32 1551.2L1344.3 1551.36L1343.32 1551.51L1343.17 1552.49L1343.02 1551.51L1342.03 1551.36L1343.02 1551.2L1343.17 1550.22Z" fill="white" fill-opacity="0.1"/>
    <path d="M774.587 934.38L774.74 935.362L775.722 935.514L774.74 935.667L774.587 936.649L774.435 935.667L773.453 935.514L774.435 935.362L774.587 934.38Z" fill="white" fill-opacity="0.1"/>
    <path d="M1720.68 1537.68L1720.83 1538.67L1721.82 1538.82L1720.83 1538.97L1720.68 1539.95L1720.53 1538.97L1719.55 1538.82L1720.53 1538.67L1720.68 1537.68Z" fill="white" fill-opacity="0.1"/>
    <path d="M936.921 926.733L937.074 927.715L938.056 927.868L937.074 928.02L936.921 929.002L936.769 928.02L935.787 927.868L936.769 927.715L936.921 926.733Z" fill="white" fill-opacity="0.1"/>
    <path d="M1284.08 1481.95L1284.23 1482.93L1285.22 1483.09L1284.23 1483.24L1284.08 1484.22L1283.93 1483.24L1282.95 1483.09L1283.93 1482.93L1284.08 1481.95Z" fill="white" fill-opacity="0.3"/>
    <path d="M1350.41 1150.65L1350.57 1151.63L1351.55 1151.79L1350.57 1151.94L1350.41 1152.92L1350.26 1151.94L1349.28 1151.79L1350.26 1151.63L1350.41 1150.65Z" fill="white" fill-opacity="0.1"/>
    <path d="M1210.54 1561.18L1210.69 1562.17L1211.67 1562.32L1210.69 1562.47L1210.54 1563.45L1210.39 1562.47L1209.4 1562.32L1210.39 1562.17L1210.54 1561.18Z" fill="white" fill-opacity="0.1"/>
    <path d="M414.72 1041.44L414.873 1042.42L415.855 1042.57L414.873 1042.72L414.72 1043.71L414.568 1042.72L413.586 1042.57L414.568 1042.42L414.72 1041.44Z" fill="white" fill-opacity="0.1"/>
    <g style="mix-blend-mode:screen" opacity="0.5" filter="url(#filter2_df_2501_106490)">
    <path d="M901 989L901.307 991.935C901.46 993.39 902.61 994.54 904.065 994.693L907 995L904.065 995.307C902.61 995.46 901.46 996.61 901.307 998.065L901 1001L900.693 998.065C900.54 996.61 899.39 995.46 897.935 995.307L895 995L897.935 994.693C899.39 994.54 900.54 993.39 900.693 991.935L901 989Z" fill="white" fill-opacity="0.8" shape-rendering="crispEdges"/>
    </g>
    <g style="mix-blend-mode:screen" opacity="0.5" filter="url(#filter3_df_2501_106490)">
    <path d="M1654 1286L1654.31 1288.94C1654.46 1290.39 1655.61 1291.54 1657.06 1291.69L1660 1292L1657.06 1292.31C1655.61 1292.46 1654.46 1293.61 1654.31 1295.06L1654 1298L1653.69 1295.06C1653.54 1293.61 1652.39 1292.46 1650.94 1292.31L1648 1292L1650.94 1291.69C1652.39 1291.54 1653.54 1290.39 1653.69 1288.94L1654 1286Z" fill="white" fill-opacity="0.8" shape-rendering="crispEdges"/>
    </g>
    <g style="mix-blend-mode:screen" opacity="0.4" filter="url(#filter4_df_2501_106490)">
    <path d="M1312 880L1312.31 882.935C1312.46 884.39 1313.61 885.54 1315.06 885.693L1318 886L1315.06 886.307C1313.61 886.46 1312.46 887.61 1312.31 889.065L1312 892L1311.69 889.065C1311.54 887.61 1310.39 886.46 1308.94 886.307L1306 886L1308.94 885.693C1310.39 885.54 1311.54 884.39 1311.69 882.935L1312 880Z" fill="white" fill-opacity="0.8" shape-rendering="crispEdges"/>
    </g>
    <g style="mix-blend-mode:screen" opacity="0.5" filter="url(#filter5_df_2501_106490)">
    <path d="M1238 1006L1238.2 1007.96C1238.31 1008.93 1239.07 1009.69 1240.04 1009.8L1242 1010L1240.04 1010.2C1239.07 1010.31 1238.31 1011.07 1238.2 1012.04L1238 1014L1237.8 1012.04C1237.69 1011.07 1236.93 1010.31 1235.96 1010.2L1234 1010L1235.96 1009.8C1236.93 1009.69 1237.69 1008.93 1237.8 1007.96L1238 1006Z" fill="white" fill-opacity="0.8" shape-rendering="crispEdges"/>
    </g>
    <g style="mix-blend-mode:screen" opacity="0.7" filter="url(#filter6_df_2501_106490)">
    <path d="M662 982L662.205 983.957C662.306 984.927 663.073 985.694 664.043 985.795L666 986L664.043 986.205C663.073 986.306 662.306 987.073 662.205 988.043L662 990L661.795 988.043C661.694 987.073 660.927 986.306 659.957 986.205L658 986L659.957 985.795C660.927 985.694 661.694 984.927 661.795 983.957L662 982Z" fill="white" fill-opacity="0.8" shape-rendering="crispEdges"/>
    </g>
    <g style="mix-blend-mode:screen" opacity="0.7" filter="url(#filter7_df_2501_106490)">
    <path d="M1732 982L1732.2 983.957C1732.31 984.927 1733.07 985.694 1734.04 985.795L1736 986L1734.04 986.205C1733.07 986.306 1732.31 987.073 1732.2 988.043L1732 990L1731.8 988.043C1731.69 987.073 1730.93 986.306 1729.96 986.205L1728 986L1729.96 985.795C1730.93 985.694 1731.69 984.927 1731.8 983.957L1732 982Z" fill="white" fill-opacity="0.8" shape-rendering="crispEdges"/>
    </g>
    <g style="mix-blend-mode:screen" opacity="0.2" filter="url(#filter8_df_2501_106490)">
    <path d="M1104 918L1104.2 919.957C1104.31 920.927 1105.07 921.694 1106.04 921.795L1108 922L1106.04 922.205C1105.07 922.306 1104.31 923.073 1104.2 924.043L1104 926L1103.8 924.043C1103.69 923.073 1102.93 922.306 1101.96 922.205L1100 922L1101.96 921.795C1102.93 921.694 1103.69 920.927 1103.8 919.957L1104 918Z" fill="white" fill-opacity="0.8" shape-rendering="crispEdges"/>
    </g>
    <g style="mix-blend-mode:screen" opacity="0.4" filter="url(#filter9_df_2501_106490)">
    <path d="M872 1066L872.205 1067.96C872.306 1068.93 873.073 1069.69 874.043 1069.8L876 1070L874.043 1070.2C873.073 1070.31 872.306 1071.07 872.205 1072.04L872 1074L871.795 1072.04C871.694 1071.07 870.927 1070.31 869.957 1070.2L868 1070L869.957 1069.8C870.927 1069.69 871.694 1068.93 871.795 1067.96L872 1066Z" fill="white" fill-opacity="0.8" shape-rendering="crispEdges"/>
    </g>
    <g style="mix-blend-mode:screen" opacity="0.5" filter="url(#filter10_df_2501_106490)">
    <path d="M990 822L990.205 823.957C990.306 824.927 991.073 825.694 992.043 825.795L994 826L992.043 826.205C991.073 826.306 990.306 827.073 990.205 828.043L990 830L989.795 828.043C989.694 827.073 988.927 826.306 987.957 826.205L986 826L987.957 825.795C988.927 825.694 989.694 824.927 989.795 823.957L990 822Z" fill="white" fill-opacity="0.8" shape-rendering="crispEdges"/>
    </g>
    <g style="mix-blend-mode:screen" opacity="0.2" filter="url(#filter11_df_2501_106490)">
    <path d="M798 998L798.205 999.957C798.306 1000.93 799.073 1001.69 800.043 1001.8L802 1002L800.043 1002.2C799.073 1002.31 798.306 1003.07 798.205 1004.04L798 1006L797.795 1004.04C797.694 1003.07 796.927 1002.31 795.957 1002.2L794 1002L795.957 1001.8C796.927 1001.69 797.694 1000.93 797.795 999.957L798 998Z" fill="white" fill-opacity="0.8" shape-rendering="crispEdges"/>
    </g>
    <g style="mix-blend-mode:screen" opacity="0.2" filter="url(#filter12_df_2501_106490)">
    <path d="M614 950L614.205 951.957C614.306 952.927 615.073 953.694 616.043 953.795L618 954L616.043 954.205C615.073 954.306 614.306 955.073 614.205 956.043L614 958L613.795 956.043C613.694 955.073 612.927 954.306 611.957 954.205L610 954L611.957 953.795C612.927 953.694 613.694 952.927 613.795 951.957L614 950Z" fill="white" fill-opacity="0.8" shape-rendering="crispEdges"/>
    </g>
    <defs>
    <filter id="filter0_f_2501_106490" x="0.291016" y="0.458984" width="2352.23" height="1967.76" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
    <feGaussianBlur stdDeviation="160" result="effect1_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter1_f_2501_106490" x="189.305" y="127.445" width="1974.2" height="1677.81" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
    <feGaussianBlur stdDeviation="160" result="effect1_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter2_df_2501_106490" x="891" y="988" width="20" height="21" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2501_106490"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2501_106490" result="shape"/>
    <feGaussianBlur stdDeviation="0.5" result="effect2_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter3_df_2501_106490" x="1644" y="1285" width="20" height="21" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2501_106490"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2501_106490" result="shape"/>
    <feGaussianBlur stdDeviation="0.5" result="effect2_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter4_df_2501_106490" x="1302" y="879" width="20" height="21" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2501_106490"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2501_106490" result="shape"/>
    <feGaussianBlur stdDeviation="0.5" result="effect2_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter5_df_2501_106490" x="1230" y="1005" width="16" height="17" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2501_106490"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2501_106490" result="shape"/>
    <feGaussianBlur stdDeviation="0.5" result="effect2_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter6_df_2501_106490" x="654" y="981" width="16" height="17" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2501_106490"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2501_106490" result="shape"/>
    <feGaussianBlur stdDeviation="0.5" result="effect2_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter7_df_2501_106490" x="1724" y="981" width="16" height="17" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2501_106490"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2501_106490" result="shape"/>
    <feGaussianBlur stdDeviation="0.5" result="effect2_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter8_df_2501_106490" x="1096" y="917" width="16" height="17" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2501_106490"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2501_106490" result="shape"/>
    <feGaussianBlur stdDeviation="0.5" result="effect2_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter9_df_2501_106490" x="864" y="1065" width="16" height="17" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2501_106490"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2501_106490" result="shape"/>
    <feGaussianBlur stdDeviation="0.5" result="effect2_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter10_df_2501_106490" x="982" y="821" width="16" height="17" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2501_106490"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2501_106490" result="shape"/>
    <feGaussianBlur stdDeviation="0.5" result="effect2_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter11_df_2501_106490" x="790" y="997" width="16" height="17" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2501_106490"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2501_106490" result="shape"/>
    <feGaussianBlur stdDeviation="0.5" result="effect2_foregroundBlur_2501_106490"/>
    </filter>
    <filter id="filter12_df_2501_106490" x="606" y="949" width="16" height="17" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2501_106490"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2501_106490" result="shape"/>
    <feGaussianBlur stdDeviation="0.5" result="effect2_foregroundBlur_2501_106490"/>
    </filter>
    <linearGradient id="paint0_linear_2501_106490" x1="279" y1="1670" x2="2218.33" y2="1367.9" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    <linearGradient id="paint1_linear_2501_106490" x1="279" y1="1670" x2="2218.33" y2="1367.9" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    <linearGradient id="paint2_linear_2501_106490" x1="279" y1="1670" x2="2218.33" y2="1367.9" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    <linearGradient id="paint3_linear_2501_106490" x1="279" y1="1670" x2="2218.33" y2="1367.9" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    <linearGradient id="paint4_linear_2501_106490" x1="279" y1="1670" x2="2218.33" y2="1367.9" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    <linearGradient id="paint5_linear_2501_106490" x1="279" y1="1670" x2="2218.33" y2="1367.9" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    <linearGradient id="paint6_linear_2501_106490" x1="468" y1="1507" x2="1994.26" y2="1269.02" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    <linearGradient id="paint7_linear_2501_106490" x1="468" y1="1507" x2="1994.26" y2="1269.02" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    <linearGradient id="paint8_linear_2501_106490" x1="468" y1="1507" x2="1994.26" y2="1269.02" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    <linearGradient id="paint9_linear_2501_106490" x1="468" y1="1507" x2="1994.26" y2="1269.02" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    <linearGradient id="paint10_linear_2501_106490" x1="468" y1="1507" x2="1994.26" y2="1269.02" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    <linearGradient id="paint11_linear_2501_106490" x1="468" y1="1507" x2="1994.26" y2="1269.02" gradientUnits="userSpaceOnUse">
    <stop stop-color="#1321AC"/>
    <stop offset="1" stop-color="#881ABD"/>
    </linearGradient>
    </defs>
    </svg>
    
