---
const { height="h-40 sm:h-56" } = Astro.props
---

<div
  id='stardust'
  class:list={['w-full shrink-0 absolute bottom-0 -z-50 rotate-[-7deg] blur-[160px] rounded-full', `${height}`]}
>
</div>

<style>
  #stardust {
    background: linear-gradient(
      270deg,
      rgba(188, 82, 238, 0.1) 100%,
      rgba(50, 69, 255, 0.3) 100%
    );
  }
</style>
