---
const { height = 'h-40 sm:h-56' } = Astro.props;
---

<div
	class:list={[
		'stardust',
		'w-full shrink-0 absolute bottom-0 -z-50 rotate-[-7deg] scale-[1.5] rounded-full mask-radial-gradient',
		`${height}`,
	]}
>
</div>
<div
	class:list={[
		'stardust',
		'w-full shrink-0 absolute bottom-0 -z-50 rotate-[-7deg] scale-[2.5] rounded-full mask-radial-gradient',
		`${height}`,
	]}
>
</div>

<style>
	.stardust {
		background: linear-gradient(270deg, rgba(188, 82, 238, 0.1) 100%, rgba(50, 69, 255, 0.3) 100%);
	}
</style>
