---
import ComingSoon from "../ComingSoon.astro"
import SectionCopy from "../SectionCopy.astro"
import GreenishStardust from "./GreenishStardust.astro"
---

<section class="mt-20 sm:mt-36 relative w-full max-w-screen-2xl mx-auto px-4 sm:px-8">

  <SectionCopy 
    label="Astro Studio" 
    title="The missing service layer for the web" 
    description="Add powerful features to your site by connecting Astro Studio apps. Apps provide opinionated feature sets for common use cases." 
  />

  <GreenishStardust />

  <div class='mt-4 sm:mt-8 grid grid-cols-1 lg:grid-cols-3 gap-4 sm:gap-6'>
    <div class='p-[1px] rounded-2xl bg-gradient-to-br from-[#1C1E23] to-[#6B3158]'>
      <div class='size-full bg-[#060913] rounded-[0.938rem]'>
        <div class='p-4 sm:p-6 relative size-full bg-gradient-to-br from-transparent to-[#381924] rounded-[0.938rem] overflow-hidden'>
          <div class='absolute z-10 -right-1/2 -top-10 h-full w-full bg-[radial-gradient(#3B232B_0.5px,transparent_0.5px)] [background-size:5px_5px] [mask-image:radial-gradient(ellipse_50%_60%_at_50%_40%,#ffffff_40%,transparent_100%)]'>
          </div>

          <div class='icon-container-shadow icon-container-inner-shadow size-16 md:size-20 lg:size-24 p-[1px] aspect-square rounded-[14px] sm:rounded-[20px] bg-gradient-to-br from-[#D83333]/50 to-[#F041FF]/50'
          >
            <div class='size-full bg-[#060913] rounded-[13px] sm:rounded-[19px]'>
              <div class='size-full flex items-center justify-center bg-gradient-to-br from-[#D83333]/30 to-[#F041FF]/30 rounded-[13px] sm:rounded-[19px]''>
                <svg xmlns='http://www.w3.org/2000/svg' class="w-10 md:w-12 lg:w-14" viewBox='0 0 24 24'>
                  <defs>
                    <filter id='db-inner-shadow' x='-4' y='-1' width='100' height='100'>
                      <feBlend mode='normal' in='SourceGraphic' result='shape'></feBlend>
                      <feColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0' result='hardAlpha'></feColorMatrix>
                      <feOffset dy='0.6'></feOffset>
                      <feComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'></feComposite>
                      <feColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.8 0' ></feColorMatrix>
                      <feBlend in2='shape'></feBlend>
                    </filter>
                    <linearGradient id='db-gradient' x1='0%' y1='0%' x2='100%' y2='100%'>
                      <stop offset='0%' stop-color='#D83333'></stop>
                      <stop offset='100%' stop-color='#F041FF'></stop>
                    </linearGradient>
                  </defs>
                  <path fill='url(#db-gradient)' filter='url(#db-inner-shadow)'
                    d='M12 3C7.58 3 4 4.79 4 7s3.58 4 8 4s8-1.79 8-4s-3.58-4-8-4M4 9v3c0 2.21 3.58 4 8 4s8-1.79 8-4V9c0 2.21-3.58 4-8 4s-8-1.79-8-4m0 5v3c0 2.21 3.58 4 8 4s8-1.79 8-4v-3c0 2.21-3.58 4-8 4s-8-1.79-8-4'
                  ></path>
                </svg>
              </div>
            </div>
          </div>

          <div class='mt-4 space-y-2'>
            <h3 class='font-semibold text-gray-200 text-lg'>
              Astro DB
            </h3>
            <p class='text-astro-gray-200 text-base text-balance'>
              Fully-managed SQL database <br/> with a type-safe ORM layer
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class='p-4 sm:p-6 relative bg-[#0C0F19] border border-[#1C1E23] rounded-2xl overflow-hidden'
    >
      <div class='absolute z-20 top-2 right-2'>
        <ComingSoon />
      </div>

      <div
        class='absolute z-10 -right-1/2 -top-10 h-full w-full bg-[radial-gradient(#252730_0.5px,transparent_0.5px)] [background-size:5px_5px] [mask-image:radial-gradient(ellipse_50%_60%_at_50%_40%,#ffffff_40%,transparent_100%)]'
      >
      </div>

      <div
        class='icon-container-shadow icon-container-inner-shadow size-16 md:size-20 lg:size-24 p-[1px] aspect-square rounded-[14px] sm:rounded-[20px] bg-gradient-to-br from-[#3245FF]/5 to-[#BC52EE]/5'
      >
        <div class='size-full bg-[#060913] rounded-[13px] sm:rounded-[19px]'>
          <div class='size-full flex items-center justify-center bg-gradient-to-br from-[#3245FF]/10 to-[#BC52EE]/10 rounded-[13px] sm:rounded-[19px]''>
            <svg xmlns='http://www.w3.org/2000/svg' class="w-10 md:w-12 lg:w-14" viewBox='0 0 24 24'>
              <defs>
                <filter id='blob-inner-shadow' x='-4' y='-1' width='100' height='100'>
                  <feBlend mode='normal' in='SourceGraphic' result='shape'></feBlend>
                  <feColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0' result='hardAlpha'></feColorMatrix>
                  <feOffset dy='0.6'></feOffset>
                  <feComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'></feComposite>
                  <feColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.8 0'
                  ></feColorMatrix>
                  <feBlend in2='shape'></feBlend>
                </filter>
                <linearGradient id='blob-gradient' x1='0%' y1='0%' x2='100%' y2='100%'>
                  <stop offset='0%' stop-color='#3245FF'></stop>
                  <stop offset='100%' stop-color='#BC52EE'></stop>
                </linearGradient>
              </defs>
              <path fill='url(#blob-gradient)' filter='url(#blob-inner-shadow)'
                d='M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h5.175q.4 0 .763.15t.637.425L12 6h8q.825 0 1.413.588T22 8v10q0 .825-.587 1.413T20 20z'
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <div class='mt-4 space-y-2'>
        <h3 class='font-semibold text-gray-200 text-lg'>
          Astro Blob
        </h3>
        <p class='text-astro-gray-200 text-base text-balance'>
          Global object storage service and asset management for Astro projects
        </p>
      </div>
    </div>

    <div class='p-4 sm:p-6 relative bg-[#0C0F19] border border-[#1C1E23] rounded-2xl overflow-hidden'>
      <div class='absolute z-20 top-2 right-2'>
        <ComingSoon />
      </div>

      <div class='absolute z-10 -right-1/2 -top-10 h-full w-full bg-[radial-gradient(#252730_0.5px,transparent_0.5px)] [background-size:5px_5px] [mask-image:radial-gradient(ellipse_50%_60%_at_50%_40%,#ffffff_40%,transparent_100%)]'>
      </div>

      <div class='icon-container-shadow icon-container-inner-shadow size-16 md:size-20 lg:size-24 p-[1px] aspect-square rounded-[14px] sm:rounded-[20px] bg-gradient-to-br from-[#F8E42E]/5 to-[#FF7D54]/5'>
        <div class='size-full bg-[#060913] rounded-[13px] sm:rounded-[19px]'>
          <div class='size-full flex items-center justify-center bg-gradient-to-br from-[#F8E42E]/5 to-[#FF7D54]/5 rounded-[13px] sm:rounded-[19px]'>
            <svg xmlns='http://www.w3.org/2000/svg' class="w-10 md:w-12 lg:w-14" viewBox='0 0 24 24'>
              <defs>
                <filter id='compute-inner-shadow' x='-4' y='-1' width='100' height='100'>
                  <feBlend mode='normal' in='SourceGraphic' result='shape'></feBlend>
                  <feColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0' result='hardAlpha'></feColorMatrix>
                  <feOffset dy='0.8'></feOffset>
                  <feComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'></feComposite>
                  <feColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.8 0'></feColorMatrix>
                  <feBlend in2='shape'></feBlend>
                </filter>
                <linearGradient id='compute-gradient' x1='0%' y1='0%' x2='100%' y2='100%'>
                  <stop offset='0%' stop-color='#F8E42E'></stop>
                  <stop offset='100%' stop-color='#FF7D54'></stop>
                </linearGradient>
              </defs>
              <path fill='url(#compute-gradient)' filter='url(#compute-inner-shadow)'
                d='M10.35 17L16 11.35L14.55 9.9l-4.225 4.225l-2.1-2.1L6.8 13.45zM6.5 20q-2.275 0-3.887-1.575T1 14.575q0-1.95 1.175-3.475T5.25 9.15q.625-2.3 2.5-3.725T12 4q2.925 0 4.963 2.038T19 11q1.725.2 2.863 1.488T23 15.5q0 1.875-1.312 3.188T18.5 20z'
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <div class='mt-4 space-y-2'>
        <h3 class='text-gray-200 text-lg font-semibold'>
          Astro Compute
        </h3>
        <p class='text-astro-gray-200 text-base text-balance'>
          Custom code execution for hosted <br/> Astro Studio apps
        </p>
      </div>
    </div>
  </div>
</section>

<style>
    .icon-container-shadow {
        @apply shadow-[0px_0px_0px_1px,0px_2px_2px_0px,0px_4px_4px_0px,0px_8px_8px_0px] shadow-black/20;
    }
    
    .icon-container-inner-shadow {
         @apply shadow-[inset_0px_0px_0px_1.5px_rgba(255,255,255,0.06),inset_0px_1.5px_0px_0px_rgba(255,255,255,0.15)];
    }
</style>
