---
import Icon from 'astro-icon';

const logos = [
	{ icon: 'logos/google', label: 'Google', classes: 'h-9' },
	{ icon: 'logos/microsoft', label: 'Microsoft', classes: 'h-6' },
	{ icon: 'logos/theguardian', label: 'The Guardian', classes: 'h-8' },
	{ icon: 'logos/nordvpn', label: 'NordVPN', classes: 'h-8' },
	{ icon: 'logos/porsche', label: 'Porsche', classes: 'h-3.5' },
	{ icon: 'logos/nbc-news', label: 'NBC News', classes: 'h-5' },
] satisfies Array<{ icon: string; label: string; classes?: string }>;
---

<div class="mt-8 sm:mt-16 xs:p-6 mx-auto w-full max-w-screen-xl space-y-5 sm:space-y-8 p-4 sm:p-8">
	<div class="landing-section gap-4 sm:gap-6">
		<p class="text-astro-gray-1280 font-light text-base text-balance">
			Used by some of the largest companies around the world:
		</p>

		<div class="flex flex-wrap lg:flex-nowrap items-center justify-center gap-x-8 gap-y-6 px-4">
			{logos.map((logo) => <Icon name={logo.icon} class={logo.classes} aria-label={logo.label} />)}
		</div>
	</div>
</div>
