---
import { Icon } from 'astro-icon/components';

const logos = [
	{ icon: 'logos/google', label: 'Google', classes: 'h-6 sm:h-9 translate-y-0.5' },
	{ icon: 'logos/unilever', label: 'Unilever', classes: 'h-9 sm:h-14' },
	{ icon: 'logos/visa', label: 'Visa', classes: 'h-4 sm:h-6' },
	{ icon: 'logos/microsoft', label: 'Microsoft', classes: 'h-4 sm:h-6' },
	{ icon: 'logos/porsche', label: 'Porsche', classes: 'h-2 sm:h-3.5' },
	{ icon: 'logos/open-ai', label: 'OpenAI', classes: 'h-6 sm:h-9' },
	{ icon: 'logos/netlify', label: 'Netlify', classes: 'h-8 sm:h-12' },
	{ icon: 'logos/nordvpn', label: 'NordVPN', classes: 'h-5 sm:h-8' },
	{ icon: 'logos/cloudflare', label: 'Cloudflare', classes: 'h-6 sm:h-9' },
	{ icon: 'logos/nbc-news', label: 'NBC News', classes: 'h-3 sm:h-5' },
	{ icon: 'logos/theguardian', label: 'The Guardian', classes: 'h-5 sm:h-8' },
	{ icon: 'logos/michelin', label: 'Michelin', classes: 'h-6 sm:h-9' },
	{ icon: 'logos/proton', label: 'Proton', classes: 'h-4 sm:h-6' },
	{ icon: 'logos/webflow', label: 'Webflow', classes: 'h-4 sm:h-6' },
] satisfies Array<{ icon: string; label: string; classes?: string }>;
---

<div
	class="mt-8 sm:mt-16 xs:p-6 mx-auto w-full max-w-screen-lg xl:max-w-screen-2xl space-y-5 sm:space-y-8 p-4 sm:p-8"
>
	<div class="landing-section gap-4 sm:gap-6">
		<p class="font-light text-balance">Used by the largest companies around the world:</p>

		<div
			class="astro-user-logos flex flex-wrap items-center justify-center gap-x-8 gap-y-6 sm:gap-x-10 sm:gap-y-8 px-4 max-h-64 -mb-16 sm:mb-0"
		>
			{
				logos.map((logo) => (
					<Icon name={logo.icon} class:list={['w-auto', logo.classes]} aria-label={logo.label} />
				))
			}
		</div>
	</div>
</div>

<style>
	.astro-user-logos {
		mask-image: linear-gradient(to bottom, white, white 33%, transparent);
		mask-size: 100% 16rem;
	}

	@media (min-width: 640px) {
		.astro-user-logos {
			mask-image: none;
		}
	}
</style>
