<a
  href="https://docs.astro.build/en/basics/astro-components/"
  class="group flex flex-col bg-astro-dark-800 border border-astro-dark-100/20 hover:border-astro-dark-100/40 rounded-xl xl:rounded-2xl overflow-hidden"
>
    <div class="pt-4 px-4 lg:pt-6 min-h-52 space-y-2 relative">
        <p id="zero-js" class="absolute z-20 top-0 left-1/2 -translate-x-1/2 bg-clip-text text-transparent bg-gradient-to-b from-[#495057] to-[#211F2F]">0</p>
        <div class="absolute top-0 left-0 z-10 size-full bg-[radial-gradient(#252730_0.5px,transparent_0.5px)] [background-size:5px_5px] [mask-image:radial-gradient(ellipse_50%_60%_at_50%_40%,#ffffff_40%,transparent_100%)]" />
    </div>

    <div class="p-4 xl:p-6 xl:mt-4 space-y-2">
        <h3 class="text-base text-white font-semibold">Zero JavaScript, By Default</h3>
        <p class="text-astro-gray-200 font-light text-sm xl:text-base md:text-balance">
            Astro only ships the JavaScript you need and automatically strips away the rest for a faster website.
        </p>
    </div>
</a>

<style>
    #zero-js {
      font-size: 200px;
      font-weight: 700;
      line-height: 200px;
      @apply drop-shadow-[inset_0px_0px_0px_1.5px_rgba(255,255,255,0.06),inset_0px_1.5px_0px_0px_rgba(255,255,255,0.15)];
    }
  </style>