---
import { Sprite } from 'astro-icon'
import BaseHead,{ Props as BaseHeadProps } from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'

export interface Props extends BaseHeadProps {
    hero?: boolean
    class?: string
}

const { hero = false, class: className = '', ...head } = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead {...head} />
    </head>

    <body>
        <Sprite.Provider>
            <div class="relative overflow-hidden min-h-screen flex flex-col">
                <Header />

                <main class:list={['flex-1', className]}>
                    <slot />
                </main>

                <Footer />
            </div>
        </Sprite.Provider>
    </body>
</html>

<style>
    body {
        @apply bg-neutral-50 text-neutral-900;
    }
</style>