---
import Layout from './ArticleBase.astro';
import Date from '../components/Date.astro';
import { Markdown } from 'astro/components';

export interface Props {
    content: {
        header?: string;
        title?: string;
        description?: string;
        updated_date?: string | Date;
    }
}

const { content } = Astro.props as Props;
const { header = '', title = '', description = '', updated_date } = content;
---

<Layout content={{ title, description }}>
    <header slot="header">
        <h1 class="head-md text-gradient">{title}</h1>
        <p>Last updated on <Date value={updated_date} />.</p>
        {header && <Markdown content={header} />}
    </header>

    <slot />
</Layout>

<style global>
    #article h3 {
        margin-top: 2em;
        margin-bottom: -0.5em;
    }
    #article .panel h3 {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    #article h3:nth-child(2) {
        margin-top: 0;
    }
    .panel {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>

<style>
    header {
        padding: 3rem 0 2rem;
    }
    header h1 {
        margin-bottom: 0.5rem;
    }
    header > p {
        font-family: var(--font-display);
    }
    header > p + p {
        margin-top: 1em;
        font-family: var(--font-body);
    }
</style>
