---
import { format, parse } from 'date-fns'
import Layout from './Base.astro'
import type { Props as LayoutProps } from './Base.astro'
import Section from '../components/Section.astro'
import PageTitle from '../components/PageTitle.astro'

interface LegalPage {
    header?: string
    updated_date?: Date
}

interface Props extends LayoutProps, LegalPage { }

const { header, updated_date, ...props } = Astro.props as Props

const updated = updated_date && new Date(updated_date)
---

<Layout {...props}>
    <PageTitle class="max-w-screen-md">
        <Fragment slot="title">{props.title}</Fragment>
        {updated && (
            <strong>Last updated on {format(updated, 'PP')}.</strong>
        )}
    </PageTitle>

    <Section class="prose max-w-screen-md">
        <slot />
    </Section>
</Layout>