---
import BaseHead, { type Props as HeadProps } from "~/components/BaseHead.astro"
import Footer from "~/components/Footer.astro"
import Header from "~/components/Header.astro"
import HeaderDrawerContent from "~/components/HeaderDrawerContent.astro"
import HeaderNav from "~/components/HeaderNav.astro"
import NotificationBanner from "~/components/NotificationBanner.astro"
import SkipLink from "~/components/SkipLink.astro"
import "~/styles/tailwind.css"

export type Props = HeadProps

const { ...head } = Astro.props
---

<!DOCTYPE html>
<html
	lang="en"
	class="overflow-x-hidden break-words bg-astro-gray-700 text-astro-gray-100 [color-scheme:dark] [word-break:break-word]"
>
	<head>
		<BaseHead {...head} />
	</head>
	<body>
		<SkipLink />
		<div class="flex min-h-screen flex-col overflow-x-hidden">
			<NotificationBanner uid="starlight-product-hunt">
				Hello Astronauts! Our new docs theme Starlight is on <a
					href="https://www.producthunt.com/posts/starlight-by-astro">Product Hunt</a
				> today.
			</NotificationBanner>
			<div id="nav" class="sticky top-0 z-20 max-h-screen">
				<Header>
					<HeaderNav />
					<HeaderDrawerContent slot="drawer" />
				</Header>
				<hr class="border-astro-gray-500" />
			</div>

			<main id="main" class="relative z-10 flex flex-1 flex-col">
				<slot />
			</main>

			<hr class="border-astro-gray-500" />

			<Footer />
		</div>
		<style>
			:root.disclosure-open {
				overflow-y: hidden;
			}

			:root.disclosure-open #nav {
				overflow-y: auto;
			}
		</style>
	</body>
</html>
