---
import { Sprite } from 'astro-icon';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Card from '../components/blog/Card.astro';

let { content: { title, publishDate, description, authors } } = Astro.props;
const meta = {
	title: `${title} | Astro`,
	description,
	canonicalURL: Astro.request.canonicalURL
}
---

<html lang="en">

<head>
	<BaseHead {...meta} />
	<link rel="stylesheet" href={Astro.resolve('../styles/blog.css')} />
	<style>
		:root {
			scroll-padding-top: 10rem;
			background: var(--color-tan);
		}
		main {
			padding-bottom: 8rem;
			min-height: 100vh;
			color: var(--color-midnight);
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		article {
			max-width: 52ch;
			padding-bottom: 4rem;
			display: flex;
			flex-flow: column nowrap;
			font-family: var(--font-body);
			font-size: var(--size-500);
			line-height: 1.3;
			color: var(--color-midnight);
		}
		article > :global(* + *) {
			margin-top: 1em;
		}
		.hero {
			display: flex;
			flex-flow: row wrap;
			padding: 3rem 0 2rem;
			max-width: 100%;
		}
		hr {
			border: 0;
			border-top: 1px solid var(--color-dusk);
			margin-left: -2rem;
			margin-right: -2rem;
			margin-top: 2rem;
			margin-bottom: 4rem;
		}
	</style>
</head>

<body>
	<Sprite.Provider>
		<Header >
			<Nav />
		</Header>
		<main id="content" class="container">
			<article>
				<header class="hero">
					<Card post={{ title, description, authors, publishDate }} variant="hero" />
				</header>
				
				<hr>

                <slot />
			</article>
		</main>
	</Sprite.Provider>

	<noscript></noscript>
	<script type="module" src={Astro.resolve('../scripts/defer.js')}></script>
</body>

</html>
