name: Nightly

on:
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:

jobs:
  integrations:
    name: Update Integrations
    if: github.repository_owner == 'withastro'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code using Git
        uses: actions/checkout@v4

      - name: Install Tools & Dependencies
        uses: ./.github/actions/install

      - name: Search NPM for new and deprecated integrations
        run: pnpm run update:integrations
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Format generated files
        run: pnpm lint:prettier

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "ci: safe update for existing themes & integrations"
