name: Weekly

on:
  schedule:
    - cron: "0 12 * * Mon"
  workflow_dispatch:

jobs:
  integrations:
    name: Update Integrations
    if: github.repository_owner == 'withastro'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code using Git
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js & install dependencies
        uses: ./.github/actions/setup-node-pnpm

      - name: Install dev dependencies
        run: pnpm install

      - name: Search NPM for new and deprecated integrations
        run: pnpm run update:integrations --unsafe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Format generated files
        run: pnpm run format

      - name: Create Pull Request
        id: createpr
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          branch: ci/docgen-integrations
          token: ${{ secrets.FREDKBOT_GITHUB_TOKEN }}
          add-paths: src/content/**/*.md
          commit-message: "ci: update integrations"
          title: "ci: update integrations"
          body: |
            This PR is auto-generated by a GitHub action that runs every Monday to update the integrations catalog with data from GitHub and NPM.
          labels: ci

  showcase:
    name: Update Showcase Sites
    if: github.repository_owner == 'withastro'
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code using Git
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install Tools & Dependencies
        uses: ./.github/actions/setup-node-pnpm

      - name: Install dev dependencies
        run: pnpm install

      - name: Run update:showcase script
        id: showcase
        run: pnpm run update:showcase
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Format generated files
        run: pnpm run format

      - name: Create Pull Request
        id: createpr
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          branch: ci/docgen-showcase
          token: ${{ secrets.FREDKBOT_GITHUB_TOKEN }}
          add-paths: src/content/**/*.yml,src/content/**/*.webp
          commit-message: "ci: update showcase"
          title: "ci: update showcase"
          body: ${{ steps.showcase.outputs.prBody }}
          labels: ci
