name: Weekly

on:
  schedule:
    - cron: "0 12 * * Mon"
  workflow_dispatch:

jobs:
  integrations:
    name: Update Themes & Integrations
    if: github.repository_owner == 'withastro'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code using Git
        uses: actions/checkout@v3

      - name: Install Tools & Dependencies
        uses: ./.github/actions/install

      - name: Run update:integrations script
        run: pnpm run update:integrations
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run update:themes script
        run: pnpm run update:themes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Pull Request
        id: createpr
        uses: peter-evans/create-pull-request@v3
        with:
          branch: ci/docgen-integrations
          token: ${{ secrets.FREDKBOT_GITHUB_TOKEN }}
          add-paths: src/content/**/*.md
          commit-message: "ci: update themes and integrations"
          title: "ci: update themes and integrations"
          body: |
            This PR is auto-generated by a GitHub action that runs every Monday to update the themes and integrations catalogs with data from GitHub and NPM.
          labels: ci

  showcase:
    name: Update Showcase Sites
    if: github.repository_owner == 'withastro'
    runs-on: ubuntu-latest
    steps:
      - name: Check out code using Git
        uses: actions/checkout@v3

      - name: Setup Chromium
        uses: browser-actions/setup-chrome@v1

      - name: Install Tools & Dependencies
        uses: ./.github/actions/install

      - name: Run update:showcase script
        id: showcase
        run: pnpm run update:showcase
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Pull Request
        id: createpr
        uses: peter-evans/create-pull-request@v3
        with:
          branch: ci/docgen-showcase
          token: ${{ secrets.FREDKBOT_GITHUB_TOKEN }}
          add-paths: src/content/**/*.md,src/content/**/*.webp
          commit-message: "ci: update showcase"
          title: "ci: update showcase"
          body: ${{ steps.showcase.outputs.prBody }}
          labels: ci
