---
export type Props = Omit<astroHTML.JSX.InputHTMLAttributes, 'class' | 'type'>
---

<label class="inline-flex items-center gap-1 cursor-pointer">
    <input
        {...Astro.props}
        class="appearance-none cursor-pointer w-4 h-4 rounded-full transition-colors border-2 border-primary-500 [&:not(:checked)]:hover:bg-primary-200 checked:bg-primary-500"
        type="radio"
    />
    <slot />
</label>
