---
import LabelText from './LabelText.astro'

export interface Props {
    label: string
    inline?: boolean
    required?: boolean
}
---

<label
    class:list={[
        'w-full flex',
        Astro.props.inline ? 'items-center gap-2' : 'flex-col gap-1'
    ]}
>
    <LabelText required={Astro.props.required}>{Astro.props.label}</LabelText>
    <slot />
</label>
