---
import LabelText from './LabelText.astro'

export interface Props {
    label: string
    inline?: boolean
    required?: boolean
}

const { label, inline, required } = Astro.props
---

<label class:list={['w-full flex', inline ? 'items-center gap-2' : 'flex-col gap-2']}>
    <LabelText required={required}>{label}</LabelText>
    <slot />
</label>
