---
export interface Props {
    required?: boolean
}
---

<span
    data-label-text
    data-required={Astro.props.required}
    class="text-sm font-medium leading-none data-[required]:after:content-['*'] after:text-red-500"
>
    <slot />
</span>
