---
import { fetchCollections, fetchShowcase } from '../../data/showcase.js';
import Layout from '../../layouts/Catalog.astro';
import ShowcaseCard from '../../components/showcase/ShowcaseCard.astro';

const sites: App.ShowcaseSite[] = await fetchShowcase();
const collections = await fetchCollections();

const meta = {
    title: 'Showcase',
    description: "Explore what's possible with Astro and get inspired for your next project.",
    image: '/assets/showcase/social.jpg?v=3'
};
---

<Layout meta={meta} {collections} baseHref="/showcase" searchable={false}>
    <Fragment slot="info">
        <a
            href="https://github.com/withastro/astro.build/issues/new/choose"
            target="_blank"
            rel="noopener noreferrer"
            class="subtle underline"
        >Add your own starter project.</a>
        Questions about building your own project? Join our community on
        <a href="https://astro.build/chat" class="subtle underline">Discord!</a>
    </Fragment>

    <Fragment slot="cards">
        <h2 class="sr-only">All showcase sites</h2>
        {sites.map(site => (<ShowcaseCard site={site} />))}
    </Fragment>
</Layout>